body, tr, td
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4d4d4d;
	font-size: x-small;
	}


p
	{
	padding: 3px;
	margin: 0;
	line-height: 130%;
	}

img
	{
	display: inline;
	margin-right: 30px;
	}

.marketing
	{
	margin: 10px;
	width: 600px;
	clear: all;
	}

.marketing p
	{
	padding-bottom: 20px;
	}

.marketing h3
	{
	margin: 0;
	padding: 5px 0;
	}

.package
	{
	margin: 10px;
	width: 600px;
	clear: all;
	}


.type, .department
	{
	text-transform: uppercase;
	font-size: .7em;
	font-stretch: expanded;
	}

.title
	{
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: bold;
	color: #4d4d4d;
	}

.summary
	{
	line-height: 120%
	font-size: 0.8em;
	}

.authors
	{
	font-size: 0.70em;
	}
.date
	{
	font-size: 0.70em;
	}

.pages
	{
	font-size: 0.70em;
	}

.price
	{
	font-size: 0.9em;
	line-height: 100%;
	font-weight: bold;
	}

.cartLink
	{
	margin-bottom: 20px;
	}

.cartLink a
	{
	font-size: 0.9em;
	font-weight: bold;
	color: #3088CC;
	text-decoration: none;
	line-height: 100%;
	}

.cartLink a:hover
	{
	text-decoration: underline;
	}

.toc p, .listoftables p, .listoffigs p
	{
	background-color: #bbb;
	color: #fff;
	padding: 5px 10px;
	font-size: 8pt;
	text-transform: uppercase;
	line-height: 120%;
	}


ul li
	{
	padding: 5px 10px;
	font-size: 8pt;
	text-transform: uppercase;
	list-style: none;
	line-height: 120%;
	}

li ul li, li ul li ul li, li ul li ul li ul li
	{
	padding: 5px 10px;
	margin: 0;
	/* margin-left: 10px; */
	font-size: 8pt;
	list-style: none;
	line-height: 110%;
	text-transform: none;
	border-left: 1px solid #ccc;
	}

.navigation
	{
	bacground-color: lightyellow;
	}