<tm jsInclude=script.js>
<p>
<table> 
 <tr>
  <td width="80%" colspan=2 valign=top bgcolor=#000000>
   <tm src=homepage_welcome.incl>
  </td>
  <td valign=top rowspan=3 width="20%" >
<table cellpadding=3 cellspacing=0>
<tr>
  <td valign=top bgcolor=#333366>

   <tm src=signin.incl>

   <tm src=homepage_explore.incl>
  </td>
 </tr>
</table>
<br>
   <tm src=homepage_events.incl>
<br>
   <tm src=homepage_other_sites.incl>
  </td>
 </tr>

 <tr>
  <td valign=top width="40%">
   <tm src=homepage_research.incl>
  </td>
  <td valign=top width="40%">
   <tm src=homepage_news.incl>
  </td>
 </tr>

 <tr>
  <td valign=top width="40%">
   <tm src=homepage_german_research.incl>
  </td>
  <td valign=top width="40%">
  <tm src=homepage_announcements.incl>
  </td>
</tr>

</table>

<p>
















