
<p>
<table> 
 <tr>
  <td width="80%" colspan=2 valign=top>
   <tm src=rec_welcome.incl>
  </td>
  <td valign=top rowspan=3 width="20%" >
<table cellpadding=0 cellspacing=0>
<tr>
  <td valign=top bgcolor=#333366>
<tm src=homepage_explore.incl>
  </td>
 </tr>
</table>
<br>
   <tm src=homepage_events.incl>
<br>
   <tm src=homepage_other_sites.incl>
  </td>
 </tr>

 <tr>
  <td valign=top width="40%">
   <tm src=rec_alerts.incl>
<br>
   <tm src=homepage_german_research.incl>
  </td>
  <td valign=top width="40%">
   <tm src=rec_new_research.incl>
<br>
   <tm src=homepage_news.incl>
  </td>
 </tr>

 <tr>
  <td valign=top width="80%" colspan=2>
  <tm src=homepage_announcements.incl>
  </td>
</tr>

</table>

<p>



















