<tm title=Dataquest Clusters>
<tm style=http://www.gartner.com/1_researchanalysis/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>


<!-- Dataquest Clusters start -->


<table width="100%" border="0" cellpadding="0" cellspacing="0">  

 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 <tr class="research">
  <td colspan="6" class="crumbBold" height="24" valign="middle">
<tm src=01_dq_coverage_breadcrumb.incl>
  </td>
 </tr>

 <tr>
  <td> </td>
  <td> </td>
  <td> </td>
  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10">
  </td>

  <td valign="top" rowspan="30" class="bottom" width="190">
<div><img src="//img/trans_pixel.gif" height="10"></div>
   <tm src=01_research_menu.incl>
<div>
<img src="//img/trans_pixel.gif" height="1" width="190">
</div>
   <tm src=01_research_newsletters.incl>
  </td>
  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10">
  </td>
 </tr>

 <tr>
  <td colspan="3" valign="top"><p />
   <tm src=01_dq_coverage_detail.incl>
  </td>
 </tr>
</table>

<p />

<!-- Dataquest Clusters end -->



