<!-- Doc Start -->

<tm title=Collaboration Rests on Relationships >
<tm style=http://www.gartner.com/1_researchanalysis/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>

<table width="100%" border="0" cellpadding="0" cellspacing="0">  

 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 <tr class="research">
  <td colspan="6" class="crumbBold" height="24" valign="middle">
    <a href="01_research.html" class="topNavText">Research</a> > Gartner Europe Feature: Collaboration Rests on Relationships
  </td>
 </tr>

 <tr>
  <td> </td>
  <td> </td>
  <td> </td>
  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>

  <td valign="top" rowspan="30" class="bottom" width="190">
<div><img src="//img/trans_pixel.gif" height="10" /></div>
   <tm src=01_research_menu.incl>
<div>
<img src="//img/trans_pixel.gif" height="1" width="190" />
</div>

  </td>
  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
 </tr>

 <tr>
  <td colspan="3" valign="top">
  
  <table cellpadding="0" cellspacing="0" border="0"> 

 <tr>
  <td rowspan="30" width="26"><img src="//img/trans_pixel.gif" width="26" /></td>
  <td valign="top">
<div><img src="//img/trans_pixel.gif" height="10" /></div>
<div class=head1>Collaboration Rests on Relationships</div>
<div class="contentText">

Thinking outside the boxes of "electronic procurement" or "supply chain management" throws up the realization that enterprises first need to manage their relationships with suppliers.
<p />

Supplies of goods and services will typically have taken about half the money that sales will generate. Reducing this percentage will quickly result in improved profitability. Central to this goal will be the ideas behind supplier relationship management (SRM).
<p />

These ideas will not be easily embraced as most procurement practices are deeply ingrained within an enterprise. Processes and practices will need to change when seeking procurement cost savings. And these changes "will necessitate the transformation of the purchasing organization itself" according to Andy Kyte, a Gartner vice president.
<p />

Kyte will be presenting the ideas of SRM at Gartner's conference on Collaborative Commerce and Supply Chain Management in London on 12?13 September. Kyte believes that, in procurement, "fundamentally different skill types will be required to attain cost advantages through SRM."
<p />

The importance of learning new skills can be seen when looking at the best practices that will be key to managing relationships to transform procurement. Kyte identifies 10 practices that enterprises should adopt:
<p />

<ul>
 <li> <i>Involve affected parties</i> ? not only suppliers but also production, even sales </li> 
 <li> <i>Think big, but start small</i> ? take a portfolio approach </li> 
 <li> <i>Plan methodically</i> ? work through issues of suppliers, processes, people and technology (SPPT) </li> 
 <li> <i>Consider content carefully</i> ? don't let anyone tell you that content does not matter </li> 
 <li> <i>Favor openness</i> ? proprietary systems create problems </li> 
 <li> <i>Use external service providers</i> ? consultants, value?added network suppliers and business service providers can contribute </li> 
 <li> <i>Use best-of-breed products for competitive advantage</i> ? niche areas are great </li> 
 <li> <i>Change incentives</i> ? new objectives will be hindered by old reward structures </li> 
 <li> <i>Perform due diligence</i> ? vendors will continue to fail </li> 
 <li> <i>Pace yourself</i> ? this is a marathon, not a sprint </li>
</ul>

As yet there are no suites of products for SRM and enterprises will face a long journey of challenges, complexity and change. The many obstacles they face increase the need for sound management with a focus on business process.
<p />

Enterprises should approach the supply base as a key contributor to corporate performance, linking purchasing objectives and practices to broader goals such as improving quality and customer satisfaction or reducing the cost of goods sold as well as selling, general and administrative (SG&A) expenses. 
<p />


<ul>
 <ul>
  <li /> <a href="/2_events/conferences/scm5i/scm5i.jsp">Collaborative Commerce and Supply Chain Management 2002</a>
 </ul>
</ul>
<p>

</div>

<div><img src="//img/trans_pixel.gif" height="10" /></div>
  </td>
 </tr>
</table>
</td>
 </tr>
</table>

<p />


