<tm title=Gartner Research Focus Areas>
<tm style=http://www.gartner.com/1_researchanalysis/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>
<tm jsInclude=stylesheet_focus_area.incl>


<!--
focus area template
-->



<table width="100%" border="0" cellpadding="0" cellspacing="0">  
 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 
 <tr>
  <td>
<tm src=01_z_focus_area_detail.incl>

  </td>

  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
 </tr>
</table>




