<!--
Gartner Consulting Architecture & Technology 
-->

<tm title="Gartner Consulting Tesimonials>
<tm style=http://www.gartner.com/3_consulting_services/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>

	<style type="text/css">
		.blockTextMedium {
			font-family: helvetica, arial, sans-serif, verdana;
			color: #999999;
			font-size: 175%;
		}
		.blockTextLarge {
			font-family: helvetica, arial, sans-serif, verdana;
			color: #999999;
			font-size: 225%;
			font-weight: bold;
		}
		.Keyword {
			color: #2A899E;
		}
		.KeywordBG {
			background-color: #2A899E;
		}
		.Stress {
			color: #FF6600;
			font-weight: bold;
		}
		.BlockBG {
			background-color: #666666;
		}
		.Negative {
			color: #FFFFFF;
		}
		.Label {
			font-family: verdana, arial, helvetica;
			font-size: 90%;
		}
		.Attribution {
			color: #666666;
		}
		.negativeLink {
			text-decoration: none;
			color: #FFFFFF;
		}
		.negativeLink:hover {
			text-decoration: underline;
		}
		.keywordLink {
			text-decoration: none;
			color: #2A899E;
		}
		.keywordLink:hover {
			text-decoration: underline;
		}
		HR {
			color: #7F7F7F;
			height: 1;
		}
	</style>



<table width="100%" border="0" cellpadding="0" cellspacing="0">  
<tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>
 <tr class="consulting">
  <td colspan="3" class="crumbBold" height="24" valign="middle">

<!-- breadcrumb --> 

  <a href=02_consulting.html class=topNavText>Consulting</a> 
> What Our Clients Have to Say
  </td>
 </tr>

 <tr>

  <td rowspan="30" width="20">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>

  <td>
<tm src=02_z_testimonials_detail.incl>
  </td>

  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
 </tr>
</table>
