<tm title=Gartner Measurement Rapid Assessment for Voice Telecom>
<tm style=http://www.gartner.com/4_decision_tools/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>


<!--
Gartner Measurement Rapid Assessment for Voice Telecom
-->



<table width="100%" border="0" cellpadding="0" cellspacing="0" >  

<tr><td colspan="4"><img src="//img/trans_pixel.gif" height="5"></td></tr>

 <tr class="measurement">

  <td colspan="6"  class="crumbBold" height="24" valign="middle">    

<!-- breadcrumb -->  

  <a href=03_measurement.html class=topNavText >Measurement</a> > <a href=03_assessments.html class=topNavText >Assessment</a> > Rapid Assessment for Voice Telecom
  </td>
 </tr>

 <tr><td><img src="//img/trans_pixel.gif" height="5"></td></tr>

 <tr>
  <td rowspan="30" width=20>
   <img src="//img/trans_pixel.gif" width="10">
  </td>

  <td>

<tm src=03_z_voice_telecom_detail.incl>

<hr size=1 noshade="noshade" color="#cccccc" />
<br />
<tm src=03_contact_us.incl>

  </td>

  <td rowspan="30" width=10>
   <img src="//img/trans_pixel.gif" width="10">
  </td>
  
  <td width=190 valign=top>

 <tm src=03_measurement_menu.incl>

<div><img src="//img/trans_pixel.gif" height="10" /></div>

<img src="//img/03_bvqi_iso9002.jpg" alt="ISO 9002 Accreditation" width="168" height="131" />



  </td>

<td rowspan="30" width=10>
   <img src="//img/trans_pixel.gif" width="10">
  </td>

  
 </tr>
</table>
