<tm title=Gartner Best Practices Groups>
<tm style=http://www.gartner.com/2_events/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>
<tm src=04_bp_style.incl>
<!-- 

    Best Practice Groups 
    
-->
    
    

<table cellpadding="3" cellspacing="0" border="0">

 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>
 
 <tr class="community">
  <td colspan="5" class="crumbBold" height="24" valign="middle">
<tm src=04_best_practices_breadcrumb.incl>
  </td>
 </tr>

 <tr><td height="5"><img src="//img/trans_pixel.gif" width="1" height="5" /></td></tr>

 <tr height="53">
  <td colspan="5">
<tm src=04_best_practices_black_header.incl>
  </td>
 </tr>


 <tr>
  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
  <td width="190"></td>
  <td></td>
  <td width="190"></td>
  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
 </tr>
 
 <tr>
  <td class="head1" colspan="2">
Gartner Best Practices Service
  </td>
  <td rowspan="2" valign="top" class="smallText">
<tm src=04_best_practices_quote.incl>
  </td>
 </tr>
 
 <tr>
  <td nowrap="nowrap" class="smallText" valign="top">
<tm src=04_best_practices_benefits.incl
  </td>
  
  <td class="contentText">
<tm src=04_best_practices_definition.incl>


  </td>
 </tr>
  
 <tr>
  <td class="head1" colspan="2">
Featured Best Practices Group 
  </td>
  <td class="head1">
Upcoming BPG Meetings
  </td>
 </tr> 

 <tr>
  <td class="smallText" valign="top">
<tm src=04_best_practices_next_meeting.incl>
  </td>
  <td valign="top"> 
<tm src=04_best_practices_feature.incl>

<p />

<tm src=04_best_practices_contactus.incl>

  </td>
  <td valign="top">
<tm src=04_best_practices_meetings.incl>



  </td>
 </tr> 
</table>
