<tm title=Gartner Community Local Briefing Detail>
<tm style=http://www.gartner.com/2_events/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>


<!-- community overview start -->

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3" valign="top" height="104">

     <table width="100%" border="0" cellpadding="0" cellspacing="0">
 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 <tr class="community">
  <td colspan="6" class="crumbBold" height="24" valign="middle">
   <a href="04_community.html" class="topNavText">Community</a> > <a href="/Events?pageName=localBriefing" class="topNavText">Local Briefings</a> > 2003 Starts Today: Are You Ready?  </td>
 </tr>


        <tr>
         <td>
<div><img src="//img/trans_pixel.gif" height="10" width="190" /></div>
<!-- community detail start -->
<tm src=04_lb_2002_detail.incl>
<!-- community detail end -->
         </td>
        </tr>
     </table>
     
 </td>
 <td rowspan="30" width="10">
<div><img src="//img/trans_pixel.gif" width="10" height="1" /></div>
</td>
<td valign="top" rowspan="20" align="right" width="190">

<div><img src="//img/trans_pixel.gif" height="10" width="190" /></div>
 
<tm src=04_community_menu.incl>
    
<div><img src="//img/trans_pixel.gif" height="1" width="190" /></div>
  
<tm src=04_community_email.incl>

<div><img src="//img/trans_pixel.gif" height="1" width="190" /> </div>

  </td>

  <td rowspan="30" width="10">
<div><img src="//img/trans_pixel.gif" height="1" width="10" /> </div>
  </td>
  <td rowspan="30" width="10">
<div><img src="//img/trans_pixel.gif" height="1" width="10" /> </div>
  </td>
 </tr>
</table>

<p />


<!-- community overview end -->
