<tm title=GartnerConnects>
<tm style=http://www.gartner.com/5_about/news/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>

<table width="100%" border="0" cellpadding="0" cellspacing="0">  

 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 <tr class="news">
  <td colspan="6" class="crumbBold" height="24" valign="middle">    
   <tm src=05_connects_breadcrumb.incl>
  </td>
 </tr>

 <tr>
  <td colspan="3"></td>
  <td rowspan="3" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
  <td valign="top" rowspan="2" class="bottom" width="190">
<div><img src="//img/trans_pixel.gif" height="10" /></div>
  <tm src=05_news_menu.incl>
<div>
<img src="//img/trans_pixel.gif" height="1" width="190" />
</div>
  </td>
  <td rowspan="3" width="10">
   <img src="//img/trans_pixel.gif" width="100%" width="10" />
  </td>
 </tr>

 <tr valign="top">
  <td colspan="3" valign="top">
  <tm src=05_connects_detail.incl>
  </td>
 </tr>
</table>
