<tm title=Gartner EMEA Management>
<tm style=http://www.gartner.com/5_about/news/css/content.css>
<tm style=http://www.gartner.com/css/menu.css>
<tm jsInclude=stylesheet.incl>

<table width="100%" border="0" cellpadding="0" cellspacing="0">  

 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 <tr class="news">
  <td colspan="6" class="crumbBold" height="24" valign="middle">     
   <a href="05_z_about.html" class="topNavText">About</a> > Gartner EMEA Management
  </td>
 </tr>

 <tr><td><img src="//img/trans_pixel.gif" height="5" /></td></tr>

 
 <tr valign="top">
  <td colspan="3" valign="top">
 <tm src=05_emea_mgmt_bios_detail.incl>
  </td>

  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>
  
  <td width="190" valign="top">
 <tm src=05_about_menu.incl>
  </td>

  <td rowspan="30" width="10">
   <img src="//img/trans_pixel.gif" width="10" />
  </td>

 </tr>
</table>
