<tm title=Known Technical Issues>
<tm style=http://www4.gartner.com/5_about/css/content.css>
<tm jsInclude=00_stylesheet.incl>


<!--
Known Technical Issues
-->

<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td height="3"><img src="//img/trans_pixel.gif" alt="" border="0" height="3"></td>
    </tr>

    <tr class="news">
        <td height="20" colspan="2" vAlign="center" class="crumbBold">
   <a class=topNavText href="http://www4.gartner.com/6_help/help_overview.html"> Help </A>  >  Gartner Europe Known Technical Issues
        </td>
    </tr>
    <tr>
        <td rowspan="50" width="15">
<img src="//img/trans_pixel.gif" alt="" border="0" height="10" width="15">
        </td>
        <td>
<tm src=06_known_tech_issues_detail.incl>
        </td>
    </tr>
</table>
