		<h1>Scholastic Education PLUS</h1>
		<span style="background-image: url('http://images.scholastic.co.uk/assets/cms/scholstic-edplus-banner.jpg')"></span>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/1334" title="Add to My Folder"><img alt="Add to my folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>Pirate island</h1>
<h4>12<sup>th</sup> December 2007</h4>



<p class="author">By <strong>Debbie Chalmers</strong> &#8212; <em>qualified nursery nurse and drama consultant</em></p>

<p class="intro">Need to plan some activities? Use these fantastic ideas for a pirate island project suitable for four-to-eight year olds</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/iStock_000004348643Small.jpg" class="img_left " title="child dressed up as pirate" alt="child dressed up as pirate" /></div>

	<h2>Pirates and sailors</h2>


	<h3>What you need</h3>


	<p>Pictures and books about pirates and sailors such as <em>The Night Pirates</em> by Peter Harris and Deborah Allright (Egmont Books); <em>Mungo and the Picture Book Pirates</em> by Timothy Knapsman and Adam Stower and <em>Master Salt the Sailor&#8217;s Son</em> (<em>Happy Families</em> series, Young Puffin Books); exotic fruits such as coconuts and melons; pictures of tropical beaches; children&#8217;s photographs and postcards from holidays and day trips; summer songs and music; cassette or CD player; percussion instruments such as maracas, bells, castanets; ribbons; tambourines; hand drums; pirate dressing-up clothes and props; monkey masks; art and craft materials such as paper and card, silver and gold foil, cardboard tubes, small boxes, pens and pencils, scissors, glue, sticky tape and elastic.</p>


	<h3>What to do</h3>


	<p>Look at the pictures of pirates and sailors and encourage the children to get involved in discussion. Read <em>The Night Pirates</em> and <em>Mungo and the Picture Book Pirates</em>. Talk about what pirates and sailors symbolically wore; what they did, used and ate; and where and how they lived. Some children might enjoy describing their fights, while others may appreciate being reassured that pirates are only found in stories now.</p>


	<p>Encourage the children to develop mime skills through improvising movements for characters, such as stamping in heavy boots, looking through telescopes, reading treasure maps, sailing ships and digging for treasure. Let them practise expressions such as fierce faces, suspicious faces and show that they are worried, tired or excited. If appropriate, provide plastic swords for the children to use as props, under close supervision.</p>


	<p>Read <em>Master Salt the Sailor’s Son</em> to the children. Work in small groups to create short scenes of their choice based on extracts from the story, then invite each group, in turn, to perform their finished act to the rest of the group.</p>


	<p>Lead on to talking about different foods and climates on tropical islands. Remember to ask for parental permission for the children to taste and handle foods and check for any food allergies and dietary requirements, then explore this part of the theme through feeling and tasting exotic fruits, such as coconuts and melons.</p>


	<p>Sing songs and share pictures of beaches and palm trees, seas and waves. Invite the children to talk about beaches they have visited on holiday and day trips in this country and abroad. (Be sensitive to individual circumstances.) Discuss the variability of the weather and how this could affect plans and enjoyment of a day out. Encourage the children to bring in and share their photographs, postcards and experiences with the rest of the group. Use these resources to make scrapbooks, albums and wall displays for everyone to see.</p>


	<p>Collect some ‘summer’ songs and music with a variety of rhythms from different cultures. Provide opportunities for the children to dance and play percussion instruments, such as maracas, bells and castanets. Let them improvise movements to music with other equipment, such as ribbons, tambourines and hand drums. Develop and improve the children’s listening skills by playing games such as ‘Musical statues’ and ‘Musical bumps’.</p>


	<p>Most children love to dress up in costumes. Provide monkey masks to be worn while performing monkey actions and pirate hats to wear while singing pirate songs and so on.</p>


	<p>Encourage the children to be creative with craftwork. Provide a selection of a paper and card, silver and gold foil, cardboard tubes, small boxes, pens and pencils, scissors, glue, sticky tape and elastic and encourage them to use their imaginations. Ideas might include telescopes, hats, belts, eye patches, cutlasses, treasure maps, treasure chests filled with gold pieces, parrots, monkeys, fish and a multitude of exotic sea creatures!</p>


	<p>Put on a ‘pirate island’ performance for the children’s parents. Let the children perform songs, dances, movements and acts on stage, dressed in various costume items and carrying props that they have made.</p>


	<h3>Learning experiences that can be achieved through the project</h3>


	<p>1 The children interact with a group of adults and children of mixed ages, make new relationships and strengthen existing ones.</p>


	<p>2 Share resources, cooperate and take turns.</p>


	<p>3 Increase independence skills and take care of their own needs.</p>


	<p>4 Improve confidence in vocabulary, speech and body language.</p>


	<p>5 Engage in problem solving, improvisation and experimentation.</p>


	<p>6 Explore similarities and differences between climates and cultures and experience unfamiliar ones.</p>


	<p>7 Use imagination to create characters and scenes.</p>


	<p>8 Develop skills in gross and fine motor control and hand-eye coordination.</p>


	<p>9 Appreciate the value and stimulation of performing arts activities.</p>


	<p>10 Experience the thrill of successful live performing before an audience.</p>

