<h1>How to&#8230; write similes</h1>
<h4>2<sup>nd</sup> January 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21837">Literacy Time PLUS Ages 7 to 9 January 2008</a></p>


<p class="author">By <strong>Celia Warren</strong>&#8212; poet and author</p>

<p class="intro">This poster explains what similes are and how and when they can be used to enhance descriptive writing and offers some tips for creating similes of your own.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/112733_PolarBear.jpg" class="img_left img_stroke " alt="" /></div>

<div class='additional-material'>

	<h2>Key learning outcomes:</h2>


	<ul>
	<li>To identify the main points of a text;</li>
		<li>To explore how writers use figurative/expressive language to create images/atmosphere;</li>
		<li>To use imaginative amd descriptive vocabulary;</li>
		<li>To compose sentences using adjectives, verbs and nouns for clarity and impact.</li>
	</ul>


</div>

<div class='additional-material'>

	<h2>Links with writing</h2>


	<ul>
	<li>Develop the spoken event descriptions into written accounts.</li>
		<li>Search through poetry anthologies, writing down appealing examples of similes. Can you identify the one quoted on the poster? (It is from Robert Louis Stevenson’s ‘The Moon’).</li>
		<li>Ask children to write a sentence describing how they feel today, using a simile.</li>
	</ul>


</div>

	<p>The poster is a perfect complement to the <a href="http://magazines.scholastic.co.uk/content/1536">Mountain Peak poster</a> , and supports activities relating to the retelling of Aesop’s fable, <a href="http://magazines.scholastic.co.uk/content/1538"><em>The Mountain and the Mouse</em></a> in <em>Literacy Time <span class="caps">PLUS</span> for ages 7 to 9</em> January 2008.</p>


	<h2>Previous learning</h2>


	<p>Children should understand the basic concept of comparison and be familiar with related (non-figurative) vocabulary, including comparatives and superlatives.</p>


	<h2>Shared learning and teaching</h2>


	<h3>Before reading</h3>


	<p>Have a versatile object handy to show the class, such as a long striped scarf. Use it to demonstrate comparisons, using the expression ‘reminds me of’ and introducing ‘like’ and ‘as’. Eg: This scarf reminds me of a path; it’s like a long, winding road. It’s as long as a ladder; its stripes are like the rungs of a ladder. Invite the children to suggest what it, or other simple objects, remind them of.</p>


	<h3>Shared reading</h3>


	<ul>
	<li>Display the poster and observe features of presentation – title, subtitles, boxes, bullet points. Demonstrate how this makes extracting information quicker and easier. Point out key words used, such as Examples. </li>
		<li>Highlight question words: what, why, when, how.</li>
		<li>Read sections together, identifying how one question, such as Why use similes? leads to multiple answers, distinguished by bullet points. </li>
		<li>Underline the words plain and vivid, discussing the difference in meaning by example: big (a plain word); enormous (vivid). Extend this example itself into a simile: The word plain is like a dry biscuit; the word enormous, like a custard cream.</li>
		<li>Read examples from the poster together, pointing out the comparison words, ‘like’ and ‘as’.</li>
	</ul>


	<h3>Responding</h3>


	<ul>
	<li>Read examples of When to use similes. Note how the first draws on the senses to evoke atmosphere and depth; the second involves an emotive response through using dramatic exaggeration; the third, in poetry, helps the reader’s imagination to ‘see’ through the author’s eyes.</li>
		<li>Examine how two sections begin How to … (use/create). Explain how one is general guidance, the other more specific. Use the latter to invite oral suggestions, in practice for children writing their own similes.</li>
	</ul>


	<h2>Group and independent learning</h2>


	<ul>
	<li>Ask children to list feelings, as on the last section of the poster, writing their own invented similes or adapting traditional ones.</li>
		<li>Challenge children to extend their vocabulary as they create similes. Write ‘plain’ trigger words on cards, such as ‘tired’, ‘cross’, ‘happy’. Provide thesauruses for children to find more exciting replacement adjectives, such as ‘weary’, ‘irate’, ‘elated’. Use these new words to create a vivid simile, such as: as weary as a stray dog; as irate as a wasp in a bottle.</li>
		<li>Arrange children in pairs, taking turns to describe an event, a possession or a friend or relative. Challenge their partner to retell the story, embellishing it with similes. We went… could become We whizzed like a beetle on a skateboard.</li>
	</ul>


	<h3>Using the photocopiable worksheet</h3>


	<p>Use the photocopiable to practise creating similes and, in the process, produce poems.</p>


	<h3>Plenary</h3>


	<ul>
	<li>Hear examples of the children’s work. Use similes in your comments: your reading voice is like a tinkling bell; your writing is as neat as the petals on a daisy.</li>
		<li>Discuss how the poster can stay available for further writing during the rest of the term.</li>
	</ul>

