		<h1>August 2007 Issue</h1>
	</a>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/1562" title="Add to My Folder"><img alt="Add to my folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>A word with&#8230; Ian Whybrow</h1>
<h4>20<sup>th</sup> December 2007</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21785">Nursery Education August 2007</a></p>


<p class="author">By <b>Lesley Sudlow</b> &#8212;  Deputy Editor, <em>Nursery Education <span class="caps">PLUS</span></em></p>

<p class="intro">Lesley Sudlow tracked down children’s favourite author Ian Whybrow, to talk about the secrets of his success</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/Wanaka-to-Queenstown-2004-0.jpg" class="img_left img_stroke " title="Ian Whybrow" alt="Ian Whybrow" /></div>

	<p>Ian Whybrow is married and divides his time between Harrow, Middlesex and his writer’s retreat in Herefordshire. He spent most of his working life running an English department and a sixth form at a school, although he has tried his hand at many things including being a farmhand, deckchair attendant, management trainee for an oil company, copywriter, cellarman, travel guide and more.</p>


	<p><strong>LS</strong> How did you start writing books for children?</p>


	<p><strong>IW</strong> I suppose it has a lot to do with my mother’s enthusiasm for books as she often used to read to me as a child. I taught a class of 11-year-olds, and wondered whether I could write something to interest them. Adrian Mole was a favourite at the time, so I looked at the character and admired the Englishness of the references and the humour. This (and looking after a wonderfully daft dog for a fortnight) led me to begin writing the Sniff stories in 1989, which are still in print. I was lucky enough to receive an encouraging review in <em>The Times</em> – ‘a major new talent has arrived’ and that got me started.</p>


<blockquote>

	<p>Far too many men still think of reading fiction as a purely feminine occupation</p>


</blockquote>

	<p>I remember thinking it would be important to write stories that appeal to women as well as children because they are the ones who are most likely to put the books into the children’s hands and read aloud to them. That remains true today, but I’ve also started to make it something of a mission to encourage boys to read too, hence the series of ten Books for Boys. I’m afraid far too many men still think of reading fiction as a purely feminine occupation, so I feel an obligation to provide a bit of counter to that.</p>


	<p><strong>LS</strong> What was your favourite book as a child?</p>


	<p><strong>IW</strong> My mother always read books that she liked, so I fondly remember <em>Alice in Wonderland, The Jungle Book, The Wind in the Willows</em> and <em>Winnie the Pooh</em>. She also knew acres of light verse by heart and I find that I can still remember and recite much of it.</p>


	<p><strong>LS</strong> You are probably most well known for writing the series about <em>Harry and the Bucketful of Dinosaurs</em>. Where did you get the ideas for these characters?</p>


	<p><strong>IW</strong> I originally wrote a story called <em>Harry and the Snow King</em>. It worked so well that I wanted to take the family into another story. One Sunday, I was at a garden centre in Chelsea when I saw a little boy with a bucket and some plastic dinosaurs. He was in a world of his own, playing with the dinosaurs among the plants. His mum told me that he took his dinosaurs everywhere and he knew all their names. So that was it… I decided to give Harry a bucketful of dinosaurs and, as they say, the rest is history.</p>


<div class='additional-material'>

	<h2>Behind the scenes with Ian&#8230;</h2>


	<p><strong>The last film I saw was…</strong> <em>Notes on a Scandal</em>.</p>


	<p><strong>My favourite building is…</strong> the Lloyds Building in London – breathtaking.</p>


	<p><strong>The last play I saw was…</strong> <em>King Lear</em>, played by Ian McKellan, at Stratford upon Avon.</p>


	<p><strong>My perfect Sunday morning is…</strong> waking up in Herefordshire (God’s own county), doing a few chores, reading the Sunday papers, then going for a walk.</p>


	<p><strong>My pet hate is…</strong> organic food wrapped in non-recyclable containers.</p>


</div> <div class='additional-material'>

	<h3><em>Hello! Is that Grandma?</em> By Ian Whybrow (Alison Green Books, Scholastic, PB £5.99)</h3>


	<p>Imagine you dialled the wrong number – and got through to a sheep, then a duck, then a cow, then a very hungry crocodile! And all you wanted to do was wish your grandma ‘Happy Birthday!’</p>


	<p><a href="http://www.scholastic.co.uk/zone/book_alison-green.htm">Click here for more information</a></p>


</div>

