		<h1>March 2008 Issue</h1>
	</a>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/1899" title="Add to My Folder"><img alt="Add to my folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>Up the beanstalk</h1>
<h4>11<sup>th</sup> February 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21873">Nursery Education PLUS March 2008</a></p>


<p class="author">By <strong>Sally Gray</strong> &#8212; <em>early years teacher and writer.</em></p>

<p class="intro">Capture the children’s attention with the story of ‘Jack and the Beanstalk’ and they will delight in taking part in these related activities</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/1899.jpg" class="img_left " title="Tall beanstalk" alt="Tall beanstalk" /></div>

	<h2>Jack and the Beanstalk</h2>


	<p>Tell the children the traditional story of ‘Jack and the Beanstalk’. Provide a large storysack full of props related to the story. Retell the story and allocate props to individual children. Encourage them to use the props at the relevant moments to help you tell the story.</p>


	<p>Leave the storysack in your story corner, alongside other versions of the story and some story tapes. Provide finger puppets linked to the story in the story corner, or make your own from the ‘Finger puppets’ photocopiable sheet.</p>


	<p>Let the children play freely with the resources and encourage them to act out their favourite parts of the story.</p>


	<h3>Suggested resources</h3>


	<p><em>Jack and the Beanstalk</em> (<em>Favourite Tales</em> series, Ladybird Books); large storysack (brightly-coloured cloth bag); props related to the story such as a handful of beans, pair of giant’s boots, beanstalk leaves, cow hand-puppet, golden coins and so on; story tapes of the tale; other versions of the story; finger puppets.</p>


	<h2>Make it grow</h2>


	<h3>Do a good deed and win a leaf for the beanstalk</h3>


	<p><strong><em>Personal, Social and Emotional Development</strong></em></p>


	<p><strong><em>Behaviour and Self-control</strong></em></p>


	<p><strong>Development matters:</strong> are aware that some actions can hurt or harm 
others (22-36 months); have an awareness of the boundaries set, and of behavioural expectations in the setting (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> understand what is right, what is wrong, and why.</p>


	<p><strong>What you need</strong></p>


	<p>Group size: whole group.
Beanstalk without leaves, for example, a crêpe-paper stalk attached to a tall display board or wall; green paper; leaf template; child scissors; glue sticks.</p>


	<p><strong>What to do</strong></p>


	<p>Remind the children of times when you have been particularly pleased with them, such as when they have listened well or when they have tried hard to put on their own coat for outdoor play.</p>


	<p>Show the children the beanstalk and explain that you are going to attach a new leaf to it each time any of the children do something good. Tell the children that once the beanstalk has grown right to the top, you will treat them to a special party to celebrate their achievements.</p>


	<p>Invite a child to help you draw around and cut out a leaf to stick to the beanstalk. Write on the leaf what it is, for example, ‘Well done Samuel for sharing the bricks’.</p>


	<p><strong>Support</strong></p>


	<p>Set a manageable short-term goal, such as adding five leaves to the beanstalk to earn a special treat.</p>


	<p><strong>Extension</strong></p>


	<p>Ask the children to help you make a list of rules for your group.</p>


	<p><strong>Birth to 36 months</strong></p>


	<p>Make sure that the children have a good understanding of your feelings, from your facial expressions, eye contact and body language.</p>


	<p><strong>Cross-curricular links</strong></p>


	<p><span class="caps">PSRN</span> – count reliably up to ten everyday objects.</p>


	<p><span class="caps">CLL</span> – read a range of familiar and common words and simple 
sentences independently.</p>


	<h2>2 Bean feast</h2>


	<h3>Estimate and count different groups of dried beans</h3>


	<p><strong><em>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><strong><em>Numbers as Labels and for Counting</strong></em></p>


	<p><strong>Development matters:</strong> recognise groups with one, two or three objects (30-50 months); estimate how many objects they can see and check by counting them (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> count reliably up to ten everyday objects.</p>


	<p><strong>What you need</strong></p>


	<p>Group size: small groups.
Box of dried beans; cloth bag or purse; 1- to 6-number dice.</p>


	<p><strong>What to do</strong></p>


	<p>Sit around a table with a small group of children and place a box of dried beans in the middle. Give each child a cloth bag or purse. Show them how to roll the dice and encourage them to recognise the numbers that the dice lands on. Invite a child to be ‘Jack’ and say that they have come to get some beans. Let them roll the dice, say the number and then count out the correct number of beans from the box to put in to their purse.</p>


	<p>Continue the game, sometimes varying it by asking the children to take a handful of beans and then guess the number of beans that they have in their hand.</p>


	<p><strong>Support</strong></p>


	<p>Help the children to point to each bean as they count, making sure that they use one number name per bean.</p>


	<p><strong>Extension</strong></p>


	<p>Encourage the children to roll two 1- to 6- number dice, add up the numbers that the dice land on, then put the correct total number of beans into their purse.</p>


	<p><strong>Birth to 36 months</strong></p>


	<p>Sing number rhymes on a regular basis to encourage the children to become familiar with number words prior to learning to count.</p>


	<p><strong>Cross-curricular links</strong></p>


	<p><span class="caps">PSED</span> – work as part of a group or class, taking turns and sharing fairly, understanding that there needs to be agreed values and codes of behaviour for groups of people, including adults and children, to work together harmoniously.</p>


	<p>PD – handle tools, objects, construction and malleable materials safely and with increasing control.</p>


	<h2>3 The giant’s treasure</h2>


	<h3>Create objects for a giant’s treasure chest</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Language for Thinking</strong></em></p>


	<p><strong>Development matters:</strong> use talk to connect ideas, explain what is happening and anticipate what might happen next (30-50 months); begin to make patterns in their experience through linking cause and effect, sequencing, ordering and grouping (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use talk to organise, sequence and clarify thinking, ideas, feelings and events.</p>


	<p><strong>What you need</strong></p>


	<p>Group size: small groups.
Large cardboard box; gold paper; card; collage materials; shiny paper; beads; sequins; paper; card; child scissors; glue sticks; sticky tape; colouring and painting materials; recyclable materials.</p>


	<p><strong>What to do</strong></p>


	<p>Remind the children of the story of ‘Jack and the Beanstalk’ and how the giant had treasure in his castle. Show the children the cardboard box and ask them to help you cover it in shiny paper to recreate the giant’s treasure chest.</p>


	<p>Explain that you would like the children to help to make some treasure to fill it up. What sort of items do they think they would find in a giant’s treasure box?</p>


	<p>Show them all the collage, recyclable and shiny materials and talk together about the sort of objects they could make. Allow them to explore the materials and use them freely. Display the finished treasure box in your story corner along with the storysack and a few different versions of the story.</p>


<div class='additional-material'>

	<p><strong>Home links</strong></p>


	<ul>
	<li>Ask parents for contributions of old beads and buttons and other ‘treasures’ to use in collage activities.</li>
	</ul>


	<p><strong>Further ideas</strong></p>


	<ul>
	<li>Share a few different versions of the ‘Jack and the Beanstalk’ story and ask the children to choose their favourite. Talk about the differences between the versions.</li>
	</ul>


	<ul>
	<li>Collect objects to make other storysacks based on favourite traditional tales.</li>
	</ul>


</div>

	<p><strong>Support</strong></p>


	<p>Offer ideas and help to the children when they are fixing items together.</p>


	<p><strong>Extension</strong></p>


	<p>Encourage the children to plan how they will make their treasure, deciding what they will need and how they will fix it together.</p>


	<p><strong>Birth to 36 months</strong></p>


	<p>Use a variety of collage materials to make some touchy-feely books with the children</p>


	<p><strong>Cross-curricular links</strong></p>


	<p><span class="caps">KUW</span> – investigate objects and materials by using all of their senses as appropriate.</p>


	<p>CD – explore colour, texture, shape, form and space in two or three dimensions.</p>


	<p><a href="http://magazines.scholastic.co.uk/content/1901" class="calltoaction">Click here for some exclusive &#8216;Growing&#8217; activities</a></p>

