		<h1>Scholastic Education PLUS</h1>
		<span style="background-image: url('http://images.scholastic.co.uk/assets/cms/scholstic-edplus-banner.jpg')"></span>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/1958" title="Add to My Folder"><img alt="Add to my folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>Have you seen our star resources?</h1>
<h4>4<sup>th</sup> February 2008</h4>





<p class="intro">Download fantastic interactive games and teaching tools</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>Scholastic educational magazines don&#8217;t just provide subscribers with topical features and invaluable teaching ideas&#8212;now Early Years and Primary professionals can download exciting interactive resources too! On this page we have showcased some of our best downloadables: simply <strong>scroll down</strong> to see what&#8217;s on offer.</p>


	<p>Looking for material on a particular topic? Just enter your requirements in our <a href="http://magazines.scholastic.co.uk/search/new">resource finder</a>, and if you are <a href="http://magazines.scholastic.co.uk/howto_register">registered</a> on our site you&#8217;ll be able to bookmark your favourites in a personal online folder.</p>


	<p>Like what you see, but aren&#8217;t a subscriber? Each of our magazines provides ‘subscriber only’ resources online for those who hold a current print subscription. Why not <a href="http://teachershop.scholastic.co.uk/mags">subscribe now</a> and explore our library of interactive games, poems, puzzles, teaching tools and more.</p>

