<h1><span class="caps">SEAL</span>: Changes</h1>
<h4>13<sup>th</sup> February 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21840">Child Education PLUS January 2008</a></p>


<p class="author">By <b>Jenny Mosley</b> &#8212; Founder of the Whole-School Quality Circle Time Consultancy</p>

<p class="intro">Learning to accept change is a big part of growing up. Deliver this <span class="caps">SEAL</span> theme with creative circle time</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>Change inevitably happens to everyone throughout life. Some of these changes are unwelcome, while others are unexpected and surprising. Many children find the concept of change unsettling, and need to learn strategies to cope.</p>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/a9/3c/ce-sock-26959.jpg" class="img_left" title="illustration of boy pointing to sock.jpg" alt="illustration of boy pointing to sock.jpg" /></div>

	<p>Such children also need to learn that they can make changes for themselves. They have, for instance, a considerable amount of power to improve the way they approach learning tasks. This requires motivation, persistence and a high enough level of self-esteem to see the outcome as worth the effort. It is therefore vital that we give children the skills that enable them to change their behaviour and attitudes in a positive way.</p>


	<h2>Session 1 The power wand</h2>


	<h3>Focus</h3>


	<p>Developing a positive attitude to change.</p>


	<h3>Meeting up</h3>


	<p>Hold up a decorated wand (a card star attached to a straw and covered with aluminium foil will suffice). Demonstrate an action for the child next to you to copy. Ask them to pass the action onto the child next to them, and so on. 
Once a few children have repeated the action, hold up your wand. The child who is in the process of doing the action must now do a new action for the next child to copy.</p>


	<h3>Warming up</h3>


	<p>Talk about power and how it can be used. Using the wand as a speaking object, invite each child in turn to complete this sentence: <em>If I had power I would…</em></p>


	<h3>Opening up</h3>


	<p>Ask for a child to volunteer to expand on their wish using the following format: <em>If I had the power to…, I would…</em></p>


	<p>If children struggle with the sentence, provide them with a suitable example, for instance _If I had the power to get a bigger house, I would have 
six bedrooms so that I wouldn’t have to share with my sister._</p>


	<h3>Cheering up</h3>


	<p>Let the children choose a ‘call to power’, such as ‘hooray’ or ‘hey yah’. Everyone can join in the call when you hold up the wand of power.</p>


	<h3>Calming down</h3>


	<p>Sitting with their hands in their laps and eyes closed, lead the children in taking five long, slow, deep breaths.</p>


	<h2>Session 2 Change happens</h2>


	<h3>Focus</h3>


	<p>Coping with unwelcome change.</p>


	<h3>Meeting up</h3>


	<p>Ask everyone who is wearing blue socks (or another colour) to change places. Continue with other such ‘differences’ until everyone is sitting in a new place in the circle.</p>


	<h3>Warming up</h3>


	<p>Using a suitable speaking object, invite each child, in turn, to complete the following sentence: <em>I don’t like it when…</em></p>


	<h3>Opening up</h3>


	<p>Talk about a well-known storybook character who has to cope with unexpected change, for example Snow White when her father remarries. Ask the children to think about Snow White’s emotions. How might she have felt? What did she do to cope? (She enjoyed being a good, helpful friend to seven dwarves.)</p>


	<p>Encourage the children to give their own ideas on how to stay happy when changes occur. Can they offer any suggestions for other children in the group who are coping with an unwelcome change?</p>


	<h3>Cheering up</h3>


	<p>Let the children return to their original places in the circle. Then pass a smile around the group.</p>


	<h3>Calming down</h3>


	<p>Ask the children to sit with their hands in their laps. Tell them to breathe out all their feelings of worry and breathe in feelings of calm and joy.</p>


	<h2>Session 3 Better and better</h2>


	<h3>Focus</h3>


	<p>Getting better at our learning.</p>


	<h3>Meeting up</h3>


	<p>Ask the children to copy as you mime some of their daily school activities, such as painting a picture or reading a book. Talk them through each activity as you mime it.</p>


	<h3>Warming up</h3>


	<p>Using a suitable speaking object, invite each child to complete the following sentence: <em>I am good at…</em></p>


	<h3>Opening up</h3>


	<p>Put some everyday classroom items on the floor, such as rulers, paint brushes, picture books, cubes, and so on. Invite one child at a time to choose an item and either show or talk about how it is used in the classroom. Can they explain how it increases their learning?</p>


	<h3>Cheering up</h3>


	<p>Praise the children for their knowledge about the things that help us learn. Say that the children should give themselves a round of applause for being such good learners.</p>


	<h3>Calming down</h3>


	<p>Let the children curl up on the floor and ‘rest’ for a few minutes. ‘Wake’ them gently by whispering into each child’s ear, before asking them to all stand up 
and stretch.</p>


<div class='additional-material'>

	<h3>Further information</h3>


	<p>Jenny has two books that cover the Social and Emotional Aspects of Learning. They are:</p>


	<ul>
	<li><em>Active Assemblies for Every Week</em> by Jenny Mosley &#38; Ross Grogan (£18.95 PB).</li>
		<li><em>Step by Step Guide to Circle Time for <span class="caps">SEAL</span></em></li>
	</ul>


	<p>For more resources call 01225 767 157 or visit <a href="http://www.circle-time.co.uk">www.circle-time.co.uk</a></p>


</div>

