<h1>Jack and the Beanstalk</h1>
<h4>29<sup>th</sup> February 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21829">Literacy Time PLUS Ages 5 to 7 March 2008</a></p>


<p class="author">By <strong>Judith Mason</strong> &#8212; Educational consultant</p>

<p class="intro">The game is based on the traditional tale of <em>Jack and the Beanstalk</em> and can be played by two children or two small teams. It helps to practise sequencing events and to compose sentences using story language.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/112717-Poster1Jack.jpg" class="img_left img_stroke " alt="" /></div>

	<p>The game is based on the traditional tale of <em>Jack and the Beanstalk</em> and includes elements that feature in most versions of the story. It allows children to practise sequencing events in the story and to compose sentences using story language.</p>


	<p>It can be played by two children or two small teams, each playing with counters to represent beans and a cut-out figure of Jack. Adults will need to support the children as they play and provide sentence prompts where needed. The adult could also assess the use of spoken language.</p>


<div class='additional-material'>

	<h2>Preparation</h2>


	<p>You will need a dice, 12 red counters and 12 green counters – one for each player/team. Each player/team also needs to cut out a red or green figure of Jack to move up and down the beanstalk. These can all be downloaded below.</p>


	<h2>Previous learning</h2>


	<p>Children will need to have some experience of the story, through reading, oral storytelling or film.</p>


</div> 

	<h2>Playing the game</h2>


	<ul>
	<li>Before you begin, place the red and green counters randomly on the beanstalk leaves – one counter per leaf. </li>
		<li>The first player rolls the dice and moves Jack from his starting position up the beanstalk, one leaf at a time, to the number indicated by the dice. If Jack lands on a leaf with a ‘bean’ (counter) in his matching colour, the player must begin the story by composing a sentence to match the first picture. A word or phrase is shown below each picture and these can be used to begin the sentence.</li>
		<li>After successfully composing the sentence, the player takes the bean from the leaf and places it on the first picture. </li>
		<li>The process is repeated, each child or team playing alternately, to tell the story in sequence.</li>
		<li>If the roll of the dice places Jack on a leaf with a bean in the other player’s/team’s colour, or if the bean has already been taken, play passes to the other child or team.</li>
		<li>Players move up one side of the beanstalk and down the other. When they reach the bottom of the beanstalk they can climb up again and continue moving up and down until all the beans have been collected.</li>
		<li>The game is over when a bean has been placed on all 12 pictures and a sentence has been composed for each one, to tell the complete story.</li>
		<li>The winner is the player or team with the most beans on the story pictures.</li>
	</ul>


	<h2>Variations</h2>


	<ul>
	<li>Use the poster as a shared text, with a group or the whole class, to tell the story of Jack and the Beanstalk.</li>
		<li>Play a shorter version of the game: children compose a sentence about the story. For each correct sentence, they can throw the dice and move up and down the beanstalk. The winner is the player or team to be the first to move up and down the beanstalk a given number of times (eg, twice). </li>
		<li>Place some counters at the top of the beanstalk to represent the giant’s hoard of gold coins. Players compose sentences to tell the story, throwing the dice to move up and down the beanstalk after composing each sentence correctly. Every time they reach the top of the beanstalk, they can collect a coin. The winner is the player/team with the most coins when the story is complete.</li>
	</ul>


<div class='additional-material'>

	<h2>Key learning outcomes:</h2>


	<p>To retell stories, ordering events and using story language;</p>


	<p>To experiment with new words;</p>


	<p>To take turns to speak, listen to others’ suggestions.</p>


</div>

	<h2>Using the photocopiable</h2>


	<ul>
	<li>Cut out the pictures. Put them in order to sequence the story. Laminate them for reuse or let the children stick them into a small storybook. Compose sentences for each picture. Use these to tell the story to a friend or as a plan for writing the complete story. There are fewer pictures than on the game board, so compose additional sentences to fill in the gaps, perhaps drawing pictures to match.</li>
		<li>Laminate the pictures. Give them out. In shared storytelling, ask the children to hold up and talk about their picture when their part of the story is reached.</li>
	</ul>

