<h1>RE: Sacred buildings &#8212; Mosques</h1>
<h4>25<sup>th</sup> February 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21853">Junior Education PLUS March 2008</a></p>


<p class="author">By <strong>Christina Baker</strong> &#8212;  <em>writer and educational journalist</em></p>

<p class="intro">In the second of our sacred buildings series, explore the architecture and rich history of mosques</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/cc/c6/mosque-4597.jpg" title="Mosque" alt="Mosque" /><p>Mosques are wonderful examples of historic and cultural architecture</p></div>

	<p>Muslims perform <em>salat</em> (prayer) five times each day and so Islamic daily life is heavily intertwined with the local mosque. With their soaring minarets, vast domes and awe-inspiring decorations, mosques are not only significant for religious purposes, but also for the world of art and architecture.</p>


	<h3>Essential facts</h3>


	<p>Although they vary in shape, size and ostentation, most mosques share a number of common features. For information on features that are commonly found within a mosque, see <a href="http://magazines.scholastic.co.uk/resources/13244"><strong>Photocopiable 1</strong></a>, ‘Common mosque features’ .</p>


	<h3>Famous mosques</h3>


	<p>Three of the most famous mosques are the Al-Masjid Al-Haram (The Sacred Mosque) in Mecca, which contains the holiest building in Islam – the Kaaba. The Kaaba is a cube-shaped granite shrine believed to have been built by Abraham); The Prophet’s Mosque in Medina which contains the tomb of the Prophet Mohammed (peace be upon him – pbuh), (subscribers can download <a href="http://magazines.scholastic.co.uk/resources/13218"><strong>Poster</strong></a>, ‘The Prophet’s Mosque’), and the Al-Aqsa Mosque which includes the Dome of the Rock in Jerusalem. The rock beneath the dome is believed to be the place from which the Prophet Mohammed (pbuh) ascended into heaven.</p>


	<h2>Activities</h2>


	<p><strong>1. Introduction:</strong> Use reference books and the internet to show the children pictures of mosque interiors and exteriors. What can they deduce about Islamic worship from these? (For example water fountains, shoes removed, prayer carried out on the floor, importance of flowers and gardens.)</p>


	<p><strong>2. Mosque features:</strong>  Ask the children to research the key features of a mosque and their significance (see <a href="http://magazines.scholastic.co.uk/resources/13244"><strong>Photocopiable 1</strong></a>, ‘Common mosque features’). Can they identify these in any of the images they have seen (or, better still, during a visit to a mosque)? Ask the children to either draw a mosque floor plan or create a 3D model, labelling each of the features.</p>


	<p><strong>3. Wudu and salat:</strong> Show the children websites on how to perform washing and prayer. Ask them to mime these activities as a class (a great exercise for kinesthetic learners).</p>


	<p><strong>4. Mosque instructions:</strong> Discuss the main features of instructional texts (numbered points; imperative verbs; connectives such as ‘firstly’, ‘next’, ‘finally’; diagrams). Ask the children to write an instruction guide for visiting a mosque (such as performing <em>wudu</em>, removing shoes, facing Mecca, prayer positions).</p>


	<p><strong>5. Islamic patterns:</strong> Arabesque art is an excellent starting point for either an art or maths lesson covering patterns, rotational symmetry or tessellation.</p>


	<p><strong>6. Famous mosques:</strong> Organise the class into pairs. Assign each pair one of the three mosques detailed above in ‘Famous mosques’ to research.</p>


	<p><strong>7. The five pillars:</strong> Islamic faith is based on five core rules or ‘pillars’: belief in one God and his prophet, Mohammed (pbuh); fasting; prayer; giving to charity and pilgrimage to Mecca. Ask the children to research the five pillars and consider how these are reflected in a mosque’s design (for example, minarets for the call to prayer and boxes for charitable donations).</p>


	<p><strong>8. Mihrab design:</strong> When Muslims perform <em>salat</em> (prayer) they face the holy city of Mecca. Mosques contain a special niche on the wall, known as a <em>mihrab</em>, which indicates the direction of Mecca (the <em>qibla</em>). These are elaborately decorated and often resemble an arched doorway. Using books and the internet, ask the children to create their own designs, which could then be displayed around the school.</p>

