<h1>Goldilocks and the Three Bears</h1>
<h4>10<sup>th</sup> March 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21874">Nursery Education PLUS April 2008</a></p>


<p class="author">By <strong>Brenda Williams</strong> &#8212; <em>children’s author, poet and early years specialist.</em></p>

<p class="intro">Create your own cottage and enjoy role playing the different characters</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/3-bears-Cover_1.jpg" class="img_left " title="The Three Bears" alt="The Three Bears" /></div>

	<h1>The Three Bears’ cottage</h1>


	<p>Read together the story of <em>Goldilocks and the Three Bears</em>.</p>


	<p>Invite the children to help set up the role-play area as the cottage belonging to the Three Bears, where they can play freely and recreate scenes from the story. As you set the scene, focus on developing the children’s understanding of number and size, which feature very strongly in this story. Place a table in the cottage and ask the children to find three sets each of large, medium and small spoons, plastic dishes, plastic cups, chairs, beds and teddy bears, and a fair-haired doll to represent Goldilocks. Provide other play items such as a role-play microwave or cooker for making pretend porridge, dressing-up clothes such as a waistcoat for Father Bear, a necklace for Mother Bear and a bib for Baby Bear.</p>


	<p>Encourage the children to think of other activities, not mentioned in the story, that the bears may be involved in, such as going shopping, talking about the weather, discussing what they want to eat, bedtime routines and so on, to help them broaden their play activities in the area. Leave the story of <em>Goldilocks and the Three Bears</em> in the role-play cottage for the children to refer to.</p>


	<h3>Suggested resources</h3>


	<p><img src="http://images.scholastic.co.uk/assets/cms/Goldilocks_thumb.jpg" class="img_left " alt="" /></p>


	<p><em>Goldilocks and the Three Bears</em> (<em>Flip Up Fairy Tales</em> series, <a href="http://www.childs-play.com">Child’s Play)</a> three sets each of large, medium and small spoons, dishes, cups, chairs, beds and teddy bears; fair-haired doll; table; dressing-up clothes such as a waistcoat and bib; role-play microwave or cooker; cushions; paper and pencils.</p>


	<h2>1 Porridge for breakfast</h2>


	<h3>Investigate touch and taste</h3>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<p><strong><em>Exploration and Investigation</strong></em></p>


	<p><strong>Development matters:</strong> sometimes focus their enquiries on particular features or processes (16-26 months); explore, play and seek meaning in their experiences (22-36 months).</p>


	<p><strong>Early learning goal:</strong> investigate objects and materials by using all of their senses as appropriate.</p>


	<h3>What you need</h3>


	<p>Group size: small groups.
Wooden chair; soft cushion: ‘Porridge for breakfast’ photocopiable sheet; cup; spoon; microwavable mixing bowl; selection of different types of breakfast cereal; microwave; microwavable ‘hotties’ such as teddies.</p>


	<h3>What to do</h3>


	<p>Before carrying out this activity, ask for parental permission for the children to taste and handle foods. Check for any food allergies and dietary requirements.</p>


	<p>Invite the children to help make some porridge. Encourage them to touch and taste it when it is warm and then cold. Ask, ‘Which tastes best?’.</p>


	<p>Let the children compare the touch and taste of other cereals. Which is the crunchiest? Which is the softest?</p>


	<p>Invite the children to sit on the wooden chair, with and without a cushion, and say which is hard or soft. Warm a microwavable teddy and ask the children to cuddle both a warm and a cold one, and say which one they prefer.</p>


	<h3>Support</h3>


	<p>Ask the children to recall what Goldilocks said about the porridge, chairs and beds.</p>


	<h3>Extension</h3>


	<p>Create a table of hard and soft objects and encourage the children to find some suitable items.</p>


	<h3>Birth to 36 months</h3>


	<p>Let the children play with a range of hard and soft toys.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">CLL</span> – extend their vocabulary, exploring the meanings and sounds of new words.</p>


	<p>CD – explore colour, texture, shape, form and space in two or three dimensions.</p>


	<h2> 2 What’s inside the cottage?</h2>


	<h3>Write labels for items</h3>


	<p><strong><em>Communication, Language and Literacy</em></strong></p>


	<p><strong><em>Writing</strong></em></p>


	<p><strong>Development matters:</strong> distinguish between the different marks they make (22-36 months); ascribe meanings to marks that they see in different places (30-50 months).</p>


	<p><strong>Early learning goal:</strong> write their own names and other things such as labels and captions, and begin to form simple sentences, sometimes using punctuation.</p>


	<h3>What you need</h3>


	<p>Group size: small groups.  
The Three Bears’ cottage area; large labels; guest book; pencils.</p>


	<h3>What to do</h3>


	<p>Invite the children to identify and label different parts of the cottage, including the table, chairs, window and beds, and then read them together.</p>


	<p>Store the cups, spoons and dishes in separate containers and make appropriate labels for each one, adding a relevant picture as an aid.</p>


	<p>Encourage the children to write their name in the guest book each time they use the cottage.</p>


	<h3>Support</h3>


	<p>Help the children to make labels for other items in the setting.</p>


	<h3>Extension</h3>


	<p>Ask the children to create a book of pictures with simple captions such as ‘Teddy has a spoon’, ‘Teddy is in bed’ and so on.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide large teddy-shaped paper and crayons for the children to make marks on.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – work as part of a group or class, taking turns and sharing fairly, understanding that there needs to be agreed values and codes of behaviour 
for groups of people, including adults and children, to work together harmoniously.</p>


	<p>PD – use a range of small and large equipment.</p>


	<h2>3 One, two, three</h2>


	<h3>Lay a table for The Three Bears to have breakfast</h3>


	<p><strong><em>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><strong><em>Numbers as Labels and for Counting</strong></em></p>


	<p><strong>Development matters:</strong> gain awareness of one-to-one correspondence through categorising belongings, starting with ‘mine’ or ‘Mummy’s’ (16-26 months); recognise groups with one, two or three objects (30-50 months).</p>


	<p><strong>Early learning goal:</strong> use developing mathematical ideas and methods to solve practical problems.</p>


	<h3>What you need</h3>


	<p>Group size: small groups.
Role-play cottage; three sets each of large, medium and small spoons, dishes, cups, chairs, beds and teddy bears.</p>


	<h3>What to do</h3>


	<p>Gather the children inside the role-play cottage. Read the story, using the bears and their belongings to illustrate groups of three; and large, medium and small sizes.</p>


	<p>Help the children to lay the table, counting sets of three spoons, three cups three dishes, and match them for size to the chairs and bears. Ask questions such as ‘How many spoons do we need?’, ‘Whose chair is this?’, ‘Which bear sleeps in this bed?’ and so on.</p>


	<h3>Support</h3>


	<p>Encourage the children to make other sets of three for the teddies, such as hats.</p>


	<h3>Extension</h3>


	<p>Read <em>You’ll Soon Grow Into them, Titch</em> by Pat Hutchins (Red Fox), using the pictures to compare sizes.</p>


	<h3>Birth to 36 months</h3>


	<p>Help the children to identify place settings such as Father Bear’s, Mother Bear’s and Baby Bear’s.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – continue to be interested, excited and motivated to learn.</p>


	<p><span class="caps">CLL</span> – read a range of common words and simple sentences independently.</p>


<div class='additional-material'>

	<p><strong>Home links</strong></p>


	<ul>
	<li>Ask parents to involve their children in laying place settings for up to five people in the family.</li>
	</ul>


	<p><strong>Further ideas</strong></p>


	<ul>
	<li>Help the children to write a letter from Goldilocks to the Three Bears.</li>
	</ul>


	<ul>
	<li>Say the rhyme &#8216;Teddy Bear, Teddy Bear, Touch your Nose&#8217; from This Little Puffin… compiled by Elizabeth Matterson (Puffin Books).</li>
	</ul>


</div>

	<p><a href="http://magazines.scholastic.co.uk/content/2255" class="calltoaction">Click here for some exclusive &#8216;Traditional stories&#8217; activities</a></p>

