		<h1>May 2008 Issue</h1>
	</a>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/2619" title="Add to My Folder"><img alt="Add to my folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>You Can… successfully plan continuous outdoor provision</h1>
<h4>7<sup>th</sup> April 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21875">Nursery Education PLUS May 2008</a></p>


<p class="author">By <strong>Rose Joyce</strong> &#8212; <em>author</em></p>

<p class="intro">If you truly value the importance of outdoor play, it must be well documented in your planning. Everyone who looks at or uses your planning should see evidence to show that you have considered the relevance of outdoor experiences in teaching and learning. Your continuous provision planning for the outdoors is just as important as your continuous provision planning for indoors. The outside should be a really useful tool for you and your team. All your planning should be in working, flexible documents which advance children’s learning. If they do not serve this purpose, you need to ask yourself a few key questions.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/lady-teacher.jpg" class="img_left img_stroke " alt="" /></div>

	<h3>Tips, ideas and activities</h3>


	<p>• Observe the children playing freely outside. Make a note of what learning is already taking place and what resources the children are using or asking for. This will help you to plan for improving outdoor learning and enhancing resources. Think about how those resources can be organised; how adults outside can help to teach and extend vocabulary and thinking.</p>


	<p>• Use the photocopiable sheet on page 60 for long-term continuous provision for outdoor play. This will then show an overview of your objectives. Review the sheet regularly.</p>


	<p>• Draw a plan of your outdoor area and use this as the template for your weekly planning for outdoor resources. Write the resources, and possible activities, in each area using a coloured pen.</p>


	<p>• Ask the children to help you set up the outdoor area using this plan as a map. This is a useful strategy for encouraging those who do not choose to go outside regularly to get to know the area and see what is available to them.</p>


<div class='additional-material'>

	<h3>Thinking points</h3>


	<p>• What is your outdoor provision like at the moment? How can it be improved?</p>


	<p>• Think about what plans are needed to make sure that you have a high standard of continuous outdoor provision. What are the implications for teaching and learning?</p>


	<p>• How do you currently plan outdoor activities? How do your staff plan? Is there a system?</p>


	<p>• Encourage colleagues to suggest planning ideas to improve outdoor learning.</p>


	<p>• Remember that while we all have to satisfy government guidelines, we also have to make sure that we keep children’s needs at the centre of our thinking when we plan. It is easy to become overwhelmed by the paperwork and lose sight of this basic requirement.</p>


	<p>• Does your planning help you and your team in your day-to-day running of the setting – in particular, the outdoor sessions?</p>


</div>

<div class='additional-material'>

	<p>This article was taken from Rose Joyce’s fantastic book <em>You Can Create an Outdoor Classroom</em>. For a chance to win a copy
<a href="http://magazines.scholastic.co.uk/content/2450" class="calltoaction">
 click here</a></p>


</div>

