<h1>Art&#38;craft: Father&#8217;s Day</h1>
<h4>21<sup>st</sup> April 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21855">Junior Education PLUS May 2008</a></p>


<p class="author">By <strong>Michelle Powell</strong> &#8212; <em>freelance writer</em></p>

<p class="intro">Have a go at making these fun gifts for Father’s Day – perfect for a wet-playtime activity</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/16/5e/simple-crafts-cup-656.jpg" title="Craft  idea - trophy" alt="Craft  idea - trophy" /></div>

<div class='additional-material'>

	<h3>Subscriber extra!</h3>


	<p>Subscribers can access <a href="http://magazines.scholastic.co.uk/resources/14314"><strong>Photocopiable</strong>,</a> ’Father&#8217;s Day card’ for step-by-step instructions for making this fun card with an origami shirt motif.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/80/86/simple-crafts-shirt-card-1230.jpg" title="Craft ideas - Father's Day card" alt="Craft ideas - Father's Day card" /></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/61/9a/simple-crafts-step-by-step-1231.jpg" title="Father's Day card step-by-step image" alt="Father's Day card step-by-step image" /></p>


</div>

	<h2>No 1 Dad sports cup</h2>


	<p>This simple sports cup is made from a plastic disposable wine glass sprayed gold. The colours can easily be altered to match dads’ favourite sports teams or colours.</p>


	<p><strong>Skills:</strong> ICT; cutting; gluing</p>


	<p><strong>You will need:</strong> plastic wine glasses; gold spray paint; pipe cleaners; glue; sticky tape; computer and printer; thin red and white card; red crêpe paper; small plastic bag and sweets.</p>


	<p>1. Prepare the sprayed wine glasses prior to the lesson. Allow to dry fully.</p>


	<p>2. Bend two pipe cleaners into handle shapes and glue or tape one to each side of the cup.</p>


	<p>3. Using a computer, print the words, ‘No 1 <span class="caps">DAD</span>’, on a red background, onto thin card. Cut into a circle shape about 4cm in diameter. Cut a second circle of red card the same size.</p>


	<p>4. Cut a 4cm x 50cm strip of crêpe paper and fold in half all along the length. Fold the paper in a fanned concertina to create a circle. (Alternatively, glue can be added to the outside edges of the plain circle. Attach the end of the crêpe paper strip and scrunch it. Continue around the circle, creating a frilly edge.)</p>


	<p>5. Place glue around the edge of the plain circle and secure to the back of the folded crêpe paper frill. Glue the message circle to the front.</p>


	<p>6. Cut two 7cm long stripes of crêpe paper, with forked ends, and glue to the back of the rosette. Glue the rosette to the front of the cup. Fill a small bag with sweets, tie with curling ribbon and pop into the cup.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/a1/99/simple-crafts-picture-frame-660.jpg" title="Craft ideas - photo frame" alt="Craft ideas - photo frame" /></p>


	<h2><span class="caps">DIY</span> Dad frame</h2>


	<p>This frame design can be adapted to suit different hobbies. Make a green surround and add a football and boots, or a black surround with white central lines and racing car accents.</p>


	<p><strong>SKills:</strong> cutting; drawing; measuring</p>


	<p><strong>You will need:</strong> thick card; scissors; ruler; paper fasteners; glue; beige, white, red and blue fun foam; silver sticky-backed plastic; pinking shears and a black pen.</p>


	<p>1. Cut two rectangles of thick card measuring 7.5cm x 10.5cm. Cut a deep U shape (roughly 9.5cm x 5.5cm) into one, leaving a three-sided frame. Glue together.</p>


	<p>2. Cut two pieces of beige fun foam measuring 11.5cm x 1.5cm and two measuring 9cm x 1.5cm. Draw on pen lines to look like wooden planks. Overlap the ‘planks’ at the corners to create a frame and fix with paper fasteners to look like nails. Glue to the front of the U-shaped frame.</p>


	<p>3. Cut a strip of thick card measuring 2cm x 7.5cm. Score 2cm from the top and fold. Glue to the back of the frame to make a stand.</p>


	<p>4. Cut out tool shapes from fun foam. Cover white fun foam in silver sticky-backed plastic for the metal parts of the tools. Cut fringing for the brush bristles and using pinking shears for the saw teeth.</p>


	<p>5. Glue each tool together and stick in place on the frame. Ensure that the space to insert the photograph is at the top.</p>

