<h1>RE: Sacred buildings: gurdwaras</h1>
<h4>21<sup>st</sup> April 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21855">Junior Education PLUS May 2008</a></p>


<p class="author">By <strong>Christina Baker</strong> &#8212; <em>writer and educational journalist</em></p>

<p class="intro">In the fourth of our sacred buildings series, we explore the splendour of Sikh gurdwaras</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/52/c7/sacred-buildings-934.jpg" title="The Golden Temple" alt="The Golden Temple" /><p>The Golden Temple in Amritsar</p></div>

	<p>With their domes, parapets and archways, Sikh gurdwaras have more than their share of majestic splendour and architectural beauty. Gurdwaras serve as places of congregational worship, shelter, administration, moral education, places to prepare and share food and house the scriptures.</p>


	<h3>Essential facts</h3>


	<p>Although the only essential feature of a gurdwara is the presence of the scriptures (<em>Guru Granth Sahib</em>) and the faithful Sikh congregation, many follow the Indo-Persian style of the holiest Sikh shrine, the historic Golden Temple in Amritsar. For more essential facts on gurdwaras, download Online photocopiable 1, ‘Common features of a gurdwara’.</p>


	<h3>Famous gurdwaras</h3>


	<p>The five most historically-important gurdwaras are known as the <em>Takhts</em>. They are all located in India and include the Sri Patna Sahib in Bihar; Sri Hazur Sahib in Maharashtra; Sri Keshgarh Sahib in Anandpur and Sri Damdama Sahib at Talwandi Sabo near Bhatinda. The fifth is the Akal Takht in Amritsar, which is part of the Golden Temple complex.</p>


	<h2>Activities</h2>


	<p>• <strong>Gurdwara features:</strong> Show the children a number of pictures of Sikh gurdwaras and invite comments about their features. How are they similar or different to places of worship from other religions? Read through the list of features on the first of the &#8216;Sacred buildings &#8211; gurdwaras&#8217; <a href="http://magazines.scholastic.co.uk/resources/14301"><strong>photocopiable</strong></a> ‘Common features of a gurdwara’ with the children. Can they identify any of these in the pictures?</p>


	<p>• <strong>The Golden Temple:</strong> Show children pictures of the Golden Temple in Amritsar – the Sikh’s most holy gurdwara (see opposite and the <a href="http://magazines.scholastic.co.uk/resources/14311"><strong>Posters,</strong></a> ‘The Golden Temple’) – and invite observations and comments. Select information about the temple and ask the children to summarise key facts into bullet points. Ask the children to sketch one part of the Golden Temple or one of the other <em>Takhts</em> (historical gurdwaras). For a geography focus, the children could look at a map of India to find the location of the five <em>Takhts</em>. Ask: <em>If you wanted to make a pilgrimage to each Takht, what would be the best route and how many miles would be covered? What clothing and accessories would be needed for the journey?</em></p>


	<p>• <strong>Embossed art:</strong> Sikh gurdwaras are often decorated with embossed metal designs. Show the children examples of Sikh embossed art and discuss the subjects and styles featured. After practising Sikh-style designs on paper, ask the children to draw a design onto thick card. Using materials such as rice, toothpicks, string and wire, the children should glue a raised outline over their design. A thin sheet of paper (for example foil, tissue paper) should then be glued and pressed over the top so that the raised section shows through.</p>


	<p>• <strong>Visiting a gurdwara:</strong> A visit to a gurdwara would provide a valuable learning experience but, if there isn’t one close to the school, why not transform the school hall, using the second of the &#8216;Sacred buildings &#8211; gurdwars&#8217; <a href="http://magazines.scholastic.co.uk/resources/14301"><strong>photocopiables</strong></a> ‘Sikh prayer hall’ a guide? Set up a plinth and cushions with the holy book at one end (under a canopy if possible). Children’s art could be displayed on the walls. Show the children virtual tours of UK gurdwaras and then brief them about gurdwara protocol (see ‘ICT links’, left). Once inside the ‘prayer hall’ the children could listen to some Sikh music or hear words from the scriptures. A space could be designated as a Langar Hall in which the children can receive a simple meal.</p>


<div class='additional-material'>

	<p><strong>Online extras!</strong></p>


	<p>This month, subscribers can access two <a href="http://magazines.scholastic.co.uk/resources/14311"><strong>posters</strong></a> of a Sikh gurdwara to download.</p>


</div>

<div class='additional-material'>

	<p><strong><span class="caps">ICT</span> links</strong></p>


	<p>• Visit <a href="http://www.sikhworld.co.uk/page4.html">Sikh World</a></p>


	<p>• Virtual tours of UK gurdwaras:</p>


	<p>www.ngfl.ac.uk/re/welcometothegurdwara.htm</p>


	<p>• Gurdwara protocol:</p>


	<p>www.sikhiwiki.org/index.php/Visiting_a_Gurdwara</p>


</div>

