<h1>Globetrotting</h1>
<h4>6<sup>th</sup> May 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21876">Nursery Education PLUS June 2008</a></p>


<p class="author">By <strong>Jenni Tavener</strong> &#8212;  <em>early years teacher and writer.</em></p>

<p class="intro">Set up your own travel agents and let the children enjoy planning a holiday</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/21/83/globetrotting-a-ed-1636.jpg" title="Globetrotting" alt="Globetrotting" /></div>

	<h1>Travel agents</h1>


	<p>Turn your role-play area into a travel agents. Display commercial and child-made holiday brochures and leaflets featuring hotels; bed-and-breakfast accommodation; caravans; and campsites on bookshelves and low-level tables.</p>


	<p>Put commercial and child-made posters on the wall showing a selection of holiday destinations such as the seaside; snowy resorts; hot cities; water parks; theme parks; hikes in the country; and cruises on boats. Hang a large calendar on the wall, at child-height, for the children to find real or imaginary holiday dates. Provide a globe, atlas and maps for the children to identify different places around the world.</p>


	<p>Set up a ‘Bureau de Change’ with real or pretend money from a variety of countries. If possible, place a computer nearby so that the children can view holiday-themed material on the internet (with adult supervision). Provide simple dressing-up clothes, such as blue shirts for the ‘travel agents’ to wear, or official name tags to distinguish the staff from the customers during role play. Provide bags, purses, pretend credit cards, tickets and passports for creative play and encourage the children to bring in pictures, leaflets or holiday-themed items from home to enhance the area further.</p>


	<h3>Suggested resources</h3>


	<p>Role-play area; commercial and child-made items such as holiday brochures and destination posters; calendars; adverts and leaflets featuring hotels, bed and breakfast, caravans and campsites; globe; atlas; maps; low-level tables; bookshelves; toy till; real or pretend money; dressing-up clothes; computer with printer (optional).</p>


	<h2>1 Delightful destinations</h2>


	<h3>Create a holiday catalogue</h3>


	<p><strong><em>Personal, Social and Emotional Development</strong></em></p>


	<p><strong><em>Dispositions and Attitudes</strong></em></p>


	<p><strong>Development matters:</strong> develop a curiosity about things and processes (16-26 months); have a positive approach to activities and events  (30-50 months).</p>


	<p><strong>Early learning goal:</strong> continue to be interested, excited and motivated to learn.</p>


	<h3>What you need</h3>


	<p>Group size: small group.</p>


	<p>Commercial brochures or advertising leaflets showing different types of holidays, for example, beach holidays, holidays abroad, boating holidays, campsites, caravan sites, theme parks, skiing holidays and safaris; large sheets of paper secured together to form a blank booklet; glue; felt-tipped pens; pencils.</p>


	<h3>What to do</h3>


	<p>When carrying out this activity, be sensitive towards those children who have not been on holiday by referring to ‘day trips’, ‘favourite outings’ and ‘special events’ during discussion.</p>


	<p>Look through the leaflets and brochures together and talk about the different scenes. Encourage the children to cut out pictures showing a wide range of holiday destinations, and glue them into the blank booklet to create a colourful holiday catalogue. Help them to label the pictures or pages with simple phrases such as ‘Fun in the sun’ or ‘Skiing in the snow’ and make up a title for the front cover for example, ‘Happy holidays’.</p>


	<p>Place the catalogue in the role-play travel agents for the children to use during imaginative play.</p>


	<h3>Support</h3>


	<p>Help the children to create a holiday picture book.</p>


	<h3>Extension</h3>


	<p>Ask the children to describe one of the scenes in the catalogue for the rest of the group to identify.</p>


	<h3>Birth to 36 months</h3>


	<p>Look at, talk about and compare different holiday scenes with the children.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">CLL</span> – sustain attentive listening, responding to what they have heard by relevant comments, questions or actions.</p>


	<p>CD – respond in a variety of ways to what they see, touch and feel.</p>


	<h2>2 Passport control</h2>


	<h3>Make pretend passports to use during holiday role play</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Handwriting</strong></em></p>


	<p><strong>Development matters:</strong> use one-handed tools and equipment (30-50 months); begin to form recognisable letters (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use a pencil and hold it effectively to form recognisable letters, most of which are correctly formed.</p>


	<h3>What you need</h3>


	<p>Group size: small group.</p>


	<p>Real passport; ‘My passport’ photocopiable sheet; digital camera; computer and colour printer (optional), glue; felt-tipped pens; pencils.</p>


	<h3>What to do</h3>


	<p>Look at the real passport with the children and draw their attention to details such as the decoration on the cover, the small photograph and the writing inside. Give each child a copy of the photocopiable sheet and help them to fill in the spaces labelled ‘My name’, ‘My birthday’ and ‘Where I live’.</p>


	<p>Encourage the children to take a ‘head-and-shoulder’ photograph of each other. Help them to print a passport-sized portrait using the computer and colour printer and stick it in the space labelled ‘Me’. Alternatively, invite the children to draw mini portraits of each other to stick in the space provided.</p>


	<p>Help the children to fold the passport in half and to design a decorative logo on the front. Suggest that the children use the pretend passports they have made to help them role play.</p>


	<h3>Support</h3>


	<p>Provide name cards for the children to copy or provide hand-over-hand support.</p>


	<h3>Extension</h3>


	<p>Invite the children to write extra details on their passport, for example, their middle name, year of birth and full address.</p>


	<h3>Birth to 36 months</h3>


	<p>Help the children to use colourful felt-tipped pens and pencils to decorate a sheet of card showing the initial letter of their names.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – maintain attention, concentrate, and sit quietly when appropriate.</p>


	<p>PD – use a range of small and large equipment.</p>


	<h2>3 Fun in fantasy land</h2>


	<h3>Design a colourful poster for a holiday in a make-believe land</h3>


	<p><strong><em>Communication, Language and Literacy&#38;</em></p>


	<p></strong><em>Language for Communication<strong></em></p>


	<p></strong>Development matters:* understand simple sentences (16-26 months); initiate conversation, attend to and take account of what others say (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> interact with others, negotiating plans and activities and taking turns in conversation.</p>


	<h3>What you need</h3>


	<p>Group size: small groups.</p>


	<p>Comics and magazines showing fantasy-land scenes, for example, fairytale castles, treasure islands and imaginary planets; large sheet of card; child scissors; printing stamps; tissue paper; fabric; shaped stickers; glue.</p>


	<h3>What to do</h3>


	<p>Look at the pictures in the comics and magazines showing fantasy-land scenes with the children. Discuss ideas for a fantasy-land holiday, for example, camping on a treasure island, visiting Mars or staying in a princess’s castle.</p>


	<p>Invite the children to use collage techniques to create a bold, colourful poster based on a fantasy-land holiday, by combining their pictures and paintings with make-believe scenes cut from comics or magazines. Invite the children to add interest, depth and texture to their collage using printing stamps and by gluing on tissue paper, fabric and shaped stickers.</p>


	<p>Display the poster in the role-play travel agents to prompt discussion about ‘fantasy-land holidays’.</p>


	<h3>Support</h3>


	<p>Provide finger paints for the children to create swirls and patterns around the fantasy-land pictures.</p>


<div class='additional-material'>

	<p><strong>Home links</strong></p>


	<ul>
	<li>If any of the children’s parents or relatives work, or have worked, in the holiday or travel industry, invite them in to your setting to talk to the children about their job. Alternatively, invite a well-travelled parent to talk to the children about their experiences abroad.</li>
	</ul>


	<p><strong>Further ideas</strong></p>


	<ul>
	<li>Read <em>Lulu’s Holiday</em> by Caroline Uff (Little Orchard) and <em>Rosie’s Holiday</em> by Rachel Pank (Picadilly Press).</li>
	</ul>


	<ul>
	<li>Visit <a href="http://www.rnli.org.uk/beachlifeguards"><span class="caps">RNLI</span></a> or email beachsafety@rnli.org.uk for colourful pictures, games, information and free publications about beach-holiday safety</li>
	</ul>


</div>

	<h3>Extension</h3>


	<p>Encourage the children to extend their role-play by pretending to travel to the fantasy land.</p>


	<h3>Birth to 36 months</h3>


	<p>Help the children to create an abstract collage representing a fantasy island.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – work as part of a group, taking turns and sharing fairly.</p>


	<p>CD – respond in a variety of ways to what they see, touch and feel.</p>


<div class='additional-material'>

	<p><a href="http://magazines.scholastic.co.uk/content/2796" class="calltoaction">Click here for some exclusive &#8216;Holidays&#8217; activities</a></p>


</div>

