<h1>The Coming of the Iron Man</h1>
<h4>1<sup>st</sup> May 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21839">Literacy Time PLUS Ages 7 to 9 May 2008</a></p>


<p class="author">By <strong>Brenda Williams</strong></p>

<p class="intro">This audio poem by Brenda Williams is based closely on the opening chapter of the well-known story, <em>The Iron Man</em> by Ted Hughes.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/8b/84/iron-man-5009.jpg" title="iron-man.jpg" alt="iron-man.jpg" /></div>

	<h2>Shared learning and teaching</h2>


	<ul>
	<li>Listen to the poem without prior discussion. Collect first responses. What do the children think it is about? </li>
		<li>Listen again, giving specific clues to listen for. Ask for feedback again, and establish what is happening, justifying with words or phrases from the poem.</li>
		<li>Ask children to imagine they are hidden on the beach, first at the beginning of the poem, then at daybreak. Listen to the poem, recording what they would hear, see, smell and feel. Discuss ideas, exploring why they would see/hear/feel things not explicitly stated.</li>
		<li>Describe the Iron Man, referring to the poem’s imagery to explain how information about his size, appearance and mystery is conveyed. Discuss the descriptive devices used, introducing and explaining appropriate vocabulary (image, figurative, adjective, metaphor, simile, vivid).</li>
		<li>Start a Working Wall display of the similes, metaphors and adjectives used. Discuss the effect of <em>headlamp eyes… crablike hand</em>.</li>
		<li>Look at how repetition and near repetition are used for effect, as in <em>Crashing… crashing</em>; <em>Scattered and battered</em>; <em>Silence, silence</em>.</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Experience of: listening to poems; explaining reactions and sharing views on how they are presented; exploring how particular words are used.</p>


</div>

	<h2>Group activities</h2>


	<ul>
	<li>Use thesauruses to substitute alternatives for chosen adjectives – eg, <em>brink, great, dark</em> and verbs such as <em>stepped, stood, blazed</em>. Discuss effects and preferences.</li>
		<li>Point out the possessive apostrophe in <em>seagull’s nest</em>. With apostrophes, describe parts of the Iron Man eg, <em>the Iron Man’s ear was…</em></li>
		<li>Pick out words that are common homophones – <em>there, knows, great, thrown</em>, etc. Create illustrated definitions of the words.</li>
		<li>Explain that similes and metaphors are clever ways of using one strong image to add power to the description of something else. The Iron Man is compared to a house to make him sound really tall. His hand is ‘crablike’ – scuttling fast, moving sideways, with bent fingers. Use the photocopiable to generate other similes inspired by the poem. </li>
		<li>Read the first chapter of Ted Hughes’ story <em>The Iron Man</em>. Discuss the similarities and differences. Ask which version the children prefer, and why.</li>
	</ul>


	<h2>Speaking, listening and drama</h2>


	<ul>
	<li>Work in pairs or groups to prepare performances of the poem including sound effects.</li>
		<li>Use drama techniques – eg, group sculpture, freeze-frame and mime –- to show the Iron Man standing on the cliff; the disintegration; the gathering of body parts; the descent into the sea.</li>
		<li>Make a soundscape to tell the story of the poem, creating atmosphere using voices, bodies and instruments.]</li>
	</ul>


<div class='additional-material'>

	<h2>Key learning outcomes:</h2>


	<p>To listen to and evaluate different performances;</p>


	<p>To hear, read and respond to a range of poems;</p>


	<p>To understand how figurative language can create images and atmosphere;</p>


	<p>To write poetry using similes and descriptive language.</p>


	<h2>Further reading</h2>


	<p><strong><em>The Iron Man: A Children’s Story in Five Nights</em></strong> Ted Hughes, illustrated by Andrew Davidson (Faber, 978 05712 26122).</p>


	<p><strong><em>Read and Respond: The Iron Man</em></strong> Jillian Powell (Scholastic, 978 04399 44953). Everything you need to share <em>The Iron Man</em> with your class.</p>


</div>

	<h2>Plenary</h2>


	<ul>
	<li>Discuss the reading of the poem in the resource. How does the way it is read contribute to the overall effect?</li>
		<li>Share and evaluate the performances of the poem. Compare with the resource.</li>
	</ul>


	<h3>Links to writing</h3>


	<ul>
	<li>Use the ideas generated through drama to extend the poem by adding extra details.</li>
		<li>Write narrative versions of the poem.</li>
		<li>Choose distinctive characters from well-known films (eg, the evil monster from <em>Monsters Inc</em>, Shrek). Use the poem as a model to write original descriptive poetry.</li>
	</ul>


	<h3>Links with art, design and PE</h3>


	<ul>
	<li>Paint the Iron Man standing on the cliff top. Discuss which colours would reflect the atmosphere of the moment.</li>
		<li>Use boxes and recycled junk to make Iron Man models. Paint using metallic colours. Make a group model with each group taking separate parts, which can be combined and disintegrated.</li>
		<li>Use the disintegration and reconstruction of the Iron Man as a stimulus for a movement piece involving rolling, jumping and changing direction.</li>
	</ul>

