<h1>Creative topic: Superheroes</h1>
<h4>6<sup>th</sup> June 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/22044">Child Education PLUS July 2008</a></p>




<p class="intro">We&#8217;ve got everything you&#8217;ll need to get your superhero topic off to a flying start!</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>Look at what we&#8217;ve got to offer&#8230;</p>

