<h1>Let No-one Steal Your Dreams</h1>
<h4>3<sup>rd</sup> July 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/22043">Literacy Time PLUS Ages 9 to 11 July 2008</a></p>


<p class="author">By Paul Cookson, <em>Literacy Time <span class="caps">PLUS</span></em> Poet-in-residence</p>

<p class="intro">Looking for a poem to share in your leavers&#8217; assembly? Struggling to find the right words to say to your Year 6 pupils leaving for secondary school at the end of term? <em>Literacy Time <span class="caps">PLUS</span></em> Poet-in-residence, Paul Cookson, is here to help with this moving and inspiring performance of his poem, &#8216;Let No One Steal Your Dreams&#8217;, available in both text and audio versions</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>This moving poem by <em>Literacy Time <span class="caps">PLUS</span></em> Poet-in-residence, Paul Cookson, is available here in both audio and text versions, the text being complemented by stunning illustrations by Griselda Holderness</p>


	<p>This is a perfect poem to share with Year 6 pupils leaving primary school this summer &#8211; but carries a powerful message to any child, or adult, who has a dream.</p>


<p>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/36/53/lt-let-no-one-steal-your-dreams-int-98571.jpg" title="112726_lt9110708-let-no-one-steal-your-dreams_int.jpg" alt="112726_lt9110708-let-no-one-steal-your-dreams_int.jpg" /></div>

<p>


<div class='additional-material'>

	<p>&#8216;Let No-one Steal Your Dreams&#8217; by Paul Cookson (audio version) appears on <em>The Very Best of Paul Cookson: <span class="caps">A CD</span> of Poems Performed by Paul Cookson</em> (© Macmillan Digital Audio, 2007). Published here by kind permission of Macmillan Children’s Books, London, UK. Text copyright © Paul Cookson 2001.</p>


</div>

