<h1>Outdoor maths: An interesting angle</h1>
<h4>23<sup>rd</sup> June 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/22045">Junior Education PLUS July 2008</a></p>


<p class="author">By <strong>John Dabell</strong> &#8212; maths coordinator at Lawn Primary School in Derby</p>

<p class="intro">Help your class to discover maths in the real world by taking your lessons outside</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/b9/2f/maths-boy-101209.jpg" title="boy holding triangle" alt="boy holding triangle" /><p>Investigate angles outside</p></div>

	<p>The outdoors provides us with the space to teach maths in creative and imaginative ways. This is not just enrichment, but at the core of enabling learners to see maths as relevant to the world around them. The change of environment can, in particular, help to make learners feel less threatened and perhaps more willing to offer suggestions and just ‘have a go’.</p>


	<h3>What is an angle?</h3>


	<p>In the first of our outdoor maths series, we look at angles in the outside world. Although it might be tempting to rush straight outside, you’ll first need to establish children’s prior knowledge. For example, can they define what an angle is? Can they name any angles? Which sorts of angles can they recognise? So, before heading out for a bit of organic maths, children will need to define, recognise and name angles to get the most out of their experience.</p>


	<p>Elicit that an angle measures the amount of turn. The corner point is called the vertex and the arms are 
called rays. There are five angles to learn:</p>


<div class='additional-material'>

	<p><strong>Types of angle</strong></p>


	<p><strong>Acute angle</strong> &#8212; An angle less than 90 degrees.</p>


	<p><strong>Right angle</strong> &#8212; An angle that is exactly 90 degrees.</p>


	<p><strong>Obtuse angle</strong> &#8212; An angle greater than 90 degrees but less than 180 degrees.</p>


	<p><strong>Straight angle</strong> &#8212; An angle that is 180 degrees exactly.</p>


	<p><strong>Reflex angle</strong> &#8212; An angle that is greater than 180 degrees.</p>


</div>

	<p>One way of helping children to remember the types of angles is to ask them what a lion does when it is angry: <span class="caps">ROARS</span> (Right angle, Obtuse, Acute, Reflex 
and Straight). It might surprise children to know that a straight angle is an angle at all.</p>


	<h3>Maths beyond the classroom</h3>


	<p>An outdoor angle treasure hunt (see activities) will help children to improve not only their observational skills, but also progress their mathematical thinking and encourage them to see the world in a different way. Every learner should experience the world beyond the classroom as a fundamental part of their 
learning and personal development. Outside learning is a crucial part of children’s education, as outlined in the Learning Outside the Classroom Manifesto (see 
www.teachernet.gov.uk/learningoutsidetheclassroom).
 The National Centre for Excellence in the Teaching of Mathematics (NCETM) is leading a project to gather evidence on the impact learning outside the classroom has on attainment in maths. <span class="caps">NCETM</span> is in the collection phase and would be interested in hearing 
from schools that provide or facilitate mathematical Learning Outside the Classroom experiences for children (contact Steve Humble, <span class="caps">NCETM</span> by email 
at steve.humble@ncetm.org).</p>


<div class='additional-material'>

	<h3>Free resources</h3>


	<p>Don&#8217;t forget to check out the free <a href="http://magazines.scholastic.co.uk/resources/27114"><strong>photocopiable</strong></a> that accompanies these activities.</p>


</div>

	<h2 id="top">Activities
	<ul>
	<li><a href="#1stthing">1: Angle hunt</a></li>
		<li><a href="#2ndthing">2: Angles all around</a></li>
		<li><a href="#3rdthing">3: Maths detectives</a></li>
		<li><a href="#4ththing">4: The right angle</a></li>
	</ul></h2>


	<h3 id="1stthing">1 Angle hunt</h3>


	<p>Tell the children that you’re all going to go on an angle treasure hunt around the school grounds. Split the class into small groups and challenge them to find different examples of each type of angle and estimate the size of the angles they find. They can record this in the table on <a href="http://magazines.scholastic.co.uk/resources/27114"><strong>Online photocopiable</strong></a>, ‘Angles outside’ and draw the angle they find or take a digital photograph of it to show back in class on the interactive whiteboard.
    Alternatively, you could assign an angle to each group and set each team of ‘anglers’ a more personal mission – fishing for one particular type of angle. This hunter-gathering process opens children’s eyes to the fact that angles are all around them and for the most part, are just taken for granted.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="2ndthing">2 Angles all around</h3>


	<p>There won’t be a shortage of angles for children to find outside, including window frames, playground markings, trees, goal posts, playground furniture, and so on. Remember to encourage the children to look above them as well as around. What about features of a tall building or vapour trails in the sky? Remember, too, that people can make angles – between arms and legs – or ‘invisible’ angles when people pass a ball to each other or run across the playground. If children do have problems finding angles around them, remind them that the best angle from which to approach any problem is
the try-angle!</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="3rdthing">3 Maths detectives</h3>


	<p>It’s important to keep in mind that the treasure hunt is not a race. It’s more of an angle walk in which children adopt the persona of maths detectives so that they become skilled at spotting angles, collecting and categorising them. As part of their angle mission, children can also differentiate between natural angles and man-made angles. For example, can they identify the angles formed by branches or leaves?</p>


	<p>Taking photographs of different angles is a great way to record evidence of angles around the school. The photos could be used to make a book, presentation or display on angles.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="4ththing">4 The right angle</h3>


	<p>Children will soon realise that right angles dominate the environment, particularly the man-made world. Can they imagine what the world would be like without right angles? Encourage them to think about a world without other types of angles. Are some angles more important than others? This might provide the stimulus for writing a story in literacy.</p>


	<p>After you have collected together examples of angles around the school, children could make up some true or false statements about angles or create an odd-one-out quiz. You might want to challenge children to write an angles song or poem to help them remember the different angles.</p>


	<p><a href="#top">Back to top</a></p>

