<h1>The seaside</h1>
<h4>23<sup>rd</sup> June 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/22044">Child Education PLUS July 2008</a></p>




<p class="intro">Welcome the summer with our selection of seaside resources</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>Take a look at what&#8217;s on offer&#8230;</p>

