<h1>Outdoor maths: Symmetry alfresco</h1>
<h4>21<sup>st</sup> July 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/22331">Junior Education PLUS August 2008</a></p>


<p class="author">By <strong>John Dabell</strong> &#8212; <em>maths coordinator at Lawn Primary School in Derby</em></p>

<p class="intro">Help children to discover maths in the real world by exploring symmetry in the great outdoors</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/00/2a/outdoor-maths-104643.jpg" title="Butterfly" alt="Butterfly" /><p>Nature is full of examples of symmetry so encourage the children to be maths detectives outdoors and seek it out</p></div>

<div class='additional-material'>

	<p>Don&#8217;t forget to download <a href="http://magazines.scholastic.co.uk/resources/28094"><strong>Photocopiable,</strong></a> ‘Symmetry beyond the school gates’ and help children discover symmetry outdoors.</p>


</div>

	<p>Everywhere we turn, we encounter examples of symmetry – whether in nature or the manmade world. Symmetry provides plenty of opportunities for teaching mathematics, spatial exploration and making links with the outdoor environment. For visual learners, this part of the maths curriculum is like walking into an Aladdin’s cave. Connecting maths, symmetry and the everyday world can also be a child’s first steps in relation to mathematical aesthetics and an appreciation of art, architecture, and technology. When it comes to taking advantage of maths moments beyond the classroom, then symmetry offers you a chance to combine shape, colour and creativity to really excite and challenge children’s maths senses and skills.</p>


	<h3>What is symmetry?</h3>


	<p>Before starting any project, find out what children already know about symmetry. Ask them to think about what symmetry means and then write down a definition. Most will have a general idea, but may have difficulty trying to express it in their own words. Instead of defining symmetry verbally, children might instead provide examples of symmetrical objects or pictures.</p>


	<p>Symmetry means balance or form. Point out that the two most common types of symmetry are reflective and rotation. Reflective symmetry in 2D is called line symmetry, mirror symmetry or left-right symmetry. In 3D, it is known as plane symmetry. If an object is rotated about a point or an axis and it appears in the same position two or more times, then the object is said to have rotational or radial symmetry.</p>


	<h2 id="top">Activities
	<ul>
	<li><a href="#1stthing">1. Car park clues</a></li>
		<li><a href="#2ndthing">2. Symmetry beneath your feet</a></li>
		<li><a href="#3rdthing">3. Symmetry and signs</a></li>
		<li><a href="#4ththing">4. Symmetry and nature</a></li>
		<li><a href="#5ththing">5. Symmetry beyond the school gates</a></li>
	</ul></h2>


	<h3 id="1stthing">1. Car park clues</h3>


	<p>Car wheels are an excellent place to begin looking for examples of line and rotational symmetry in the real world. The school car park is sure to have plenty of examples of rotational symmetry on car wheel trims. Challenge the children to work out the rotational symmetry for each type of wheel cover. They could take digital photographs of the wheels to be viewed on an interactive whiteboard.</p>


	<p>Children could also investigate and draw the logos found on cars. Most manufacturers use symmetry of some kind in designing their logos. For example, Audi use four intersecting circles in a line. This pattern has two lines of reflective symmetry.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="2ndthing">2. Symmetry beneath your feet</h3>


	<p>Take a walk around the school, and encourage children to look down and train the eyes to see the maths under their feet. What sorts of symmetrical patterns are visible? For example, can they see any slab work that tessellates? What shapes are they? Are they 2D or 3D? Which other shapes could be used for pavements? Are there particular shapes that won’t tessellate? When the children have finished looking down, get them to look up and around them. Challenge them to find ten different shapes that have at least one line of symmetry, for example brickwork patterns, fencing and windows.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="3rdthing">3. Symmetry and signs</h3>


	<p>Another worthwhile activity is to identify the symmetry of signs and letters around the school. For example, are there examples of ‘No smoking’ or caution signs? Do these have rotational symmetry? Children could also explore the letters of the school sign itself. Visit the <a href="http://www.schools.ash.org.au/stkierans-manly/Classes/Yr6/6B/Symmetry/16.htm">Schools on the Web website</a> for more on symmetry in letters.</p>


	<p>Remind the children that letter symmetry will often depend on the type of font used. Some letters have no lines of symmetry, while some have one, two, or many. A few also have rotational symmetry. Invite the children to design a new school sign using different fonts and shapes, or use design software to create a letter that only has one line of symmetry.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="4ththing">4. Symmetry and nature</h3>


	<p>Explain to the children that symmetry is everywhere in nature. If they look at plants and animals, they will find 
that they have symmetrical body shapes and patterns – a leaf or a butterfly is a great example. The concept of symmetry is fundamental to mathematics and appears frequently in nature.</p>


	<p>If you are lucky enough to have school grounds with trees and flowers, then invite the children to look out for instances of symmetry. For example, if they take a look at pansies, they will see that they have bilateral symmetry. Challenge children to spot any creatures that have symmetry. For example, a butterfly, dragonfly and spider have bilateral symmetry. Children could then create their own symmetrical minibeasts or stunning flower displays back in the classroom.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="5ththing">5. Symmetry beyond the school gates</h3>


	<p>Take a walk around the local neighbourhood to spot road signs, adverts, houses, religious buildings and symbols with symmetry. (Children could use <a href="http://magazines.scholastic.co.uk/resources/28094"><strong>Photocopiable,</strong></a> ‘Symmetry beyond the school gates’ when they’re out and about.) There are so many examples that you could collect and discuss on a symmetry walk. For example, there are lots of houses that have symmetry depending on when they were built. Older houses tend not to have garages, whereas lots of more modern homes do. Look for examples of homes that have bilateral symmetry and those that don’t. Can children work out when the homes were built?</p>


	<p>Children may not recognise lines of symmetry when they are not vertical or horizontal. For example, an arrow may be printed on a road sign diagonally but it still has a line of reflective symmetry. Road signs can provide the inspiration to continue with symmetry work back in the classroom. Why not challenge the children to design some road signs for use around the school.</p>


	<p><a href="#top">Back to top</a></p>

