<h1>Body talk</h1>
<h4>11<sup>th</sup> August 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70331">Nursery Education PLUS September 2008</a></p>


<p class="author">By <strong>Bev Harrold</strong> &#8212; <em>Reception teacher and early years consultant</em>.</p>

<p class="intro">Get physical and explore different parts of the body</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<h2>All about me</h2>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/07/db/ne-09-36-37-pic-106456.jpg" title="Body talk" alt="Body talk" /></div>

	<h2>1 Dem bones, dem bones</h2>


	<h3>Create a skeleton using a selection of different resources</h3>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<p><strong><em>Designing and Making</strong></em></p>


	<p><strong>Development matters:</strong> realise that tools can be used for a purpose (30-50 months); use simple tools and techniques competently and appropriately (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> select the tools and techniques they need to shape, assemble and join materials they are using.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small group.</p>


	<p><em>Funnybones</em> by Allan and Janet Ahlberg (Puffin Books); model or picture of a human skeleton; X-ray; pasta tubes; spaghetti; used matchsticks; cotton reels; straws; wool; string; glue; black paper.</p>


	<h3>What to do</h3>


	<p>Read <em>Funnybones</em> to the children. Talk about skeletons and what would happen if we didn’t have one. Do animals need a skeleton? Show the children a model or a picture of a human skeleton. Can they feel their bones? Look at an X-ray and talk about what it shows.</p>


	<p>Provide the children with a range of materials and discuss how these could be used to create a skeleton on a sheet of black paper. Encourage them to look at different ways to join the ‘bones’ together. Suggest that they draw their skeleton first so that they can remember where to put the ‘bones’.</p>


	<h3>Support</h3>


	<p>Let the children use pasta tubes as the bones and stick them on to black paper.</p>


	<h3>Extension</h3>


	<p>Encourage the children to look carefully at the model skeleton and use the correct number of bones on their skeleton.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide a range of tube-shaped items to inspire the children’s curiosity.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSRN</span> – use language such as ‘circle’ or ‘bigger’ to describe the shape and size of solids and flat shapes.</p>


	<p>PD – handle tools, objects, construction and malleable materials safely and with increasing control.</p>


	<h2>2 A handful of marbles</h2>


	<h3>Estimate the number of objects 
in your hand</h3>


	<p><strong><em>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><strong><em>Calculating</strong></em></p>


	<p><strong>Development matters:</strong> show an interest in number problems (30-50 months); use own methods to work through a problem (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use language such as ‘more’ or ‘less’ to compare two numbers.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small group.</p>


	<p>Marbles or similar objects; bag; two dishes; ‘How much does your hand hold?’ photocopiable sheet.</p>


	<h3>What to do</h3>


	<p>Encourage the children to look at each other’s hands. Are they all the same size? Do the children think that everyone can pick up the same number of marbles?</p>


	<p>Download a copy of the photocopiable sheet for each child. Ask them to guess how many marbles they can pick up, and record their estimate on the sheet, either pictorially or as a number. Invite the children to pick up some marbles and count how many they have in their hand, then record their count on the photocopiable sheet. Was it more or less than their estimate? Who could pick up the most marbles?</p>


	<h3>Support</h3>


	<p>Invite the children to put the amount of marbles they think they can hold into a dish. Encourage them to pick up a handful of marbles from the bag and put them in another dish. Help them to count the marbles and compare the amounts.</p>


	<h3>Extension</h3>


	<p>Suggest that the children draw around their own hands to record the estimate and count. Did the largest hand pick up the most marbles?</p>


	<h3>Birth to 36 months</h3>


	<p>Provide a variety of containers and small bricks. Let the children freely fill the containers with bricks.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – continue to be interested, excited and motivated to learn.</p>


	<p><span class="caps">CLL</span> – use talk to organise, sequence and clarify thinking, ideas, feelings and events.</p>


	<h2>3 Body parts</h2>


	<h3>Label the parts of the body</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Writing</strong></em></p>


	<p><strong>Development matters:</strong> ascribe meanings to marks that they see in different places (30-50 months); use writing as a means of recording and communicating (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> write their own names and other things such as labels and captions, and begin to form simple sentences, sometimes using punctuation.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small group.</p>


	<p>‘Head, Shoulders, Knees and Toes’ song (search <a href="http://www.google.co.uk">Google</a> for the lyrics); piece of paper bigger than the largest child in the group; sticky notes; felt-tipped pens; pencils; floor space for a child to lie down.</p>


	<h3>What to do</h3>


	<p>Sing ‘Head, Shoulders, Knees and Toes’ with the children, encouraging them to touch each part of their body as they say the words.</p>


	<p>Make up your own version of the song using other parts of the body. Draw around a child, then cut out the shape. Ask the children to tell you the different parts of the body on the cut out. Provide them with sticky notes and help them to write labels to add to the body cut out.</p>


	<h3>Support</h3>


	<p>Pre-write the labels and encourage the children to put them in the correct places on the body cut out.</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<ul>
	<li>Encourage parents to carry out some physical activities at home with their children.</li>
	</ul>


	<h3>Further ideas</h3>


	<ul>
	<li>Read <em>The Healthy Wolf</em> by David Bedford (Little Tiger Press).</li>
	</ul>


	<ul>
	<li>Take part in the Barnardo’s Big Toddle. Visit <a href="http://www.barnardos.org.uk/bigtoddle">Barnardos</a> for more details.</li>
	</ul>


</div>

	<h3>Extension</h3>


	<p>Download a copy of the ‘My body’ photocopiable sheet for each child. Invite them to cut out the words and stick them in the correct place on the body.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide gloop (cornflour and water) in trays for the children to enjoy making marks in with their hands and feet.</p>


<div class='additional-material'>

	<p>Click here for some exclusive <a href="http://magazines.scholastic.co.uk/content/4223">All about me</a> activity ideas</p>


</div>

	<h3>Cross-curricular links</h3>


	<p>PD – move with control and coordination.</p>


	<p>CD – recognise and explore how sounds can be changed, sing simple songs from memory, recognise repeated sounds and sound patterns and match movements to music.</p>

