<h1>Humpty Dumpty</h1>
<h4>11<sup>th</sup> August 2008</h4>


<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70331">Nursery Education PLUS September 2008</a></p>


<p class="author">By <strong>Helen Bromley</strong> &#8212; <em>freelance consultant and writer</em>.</p>
<p class="intro">Enjoy these fantastic interactive resources and ideas featuring the children’s favourite nursery rhyme character, Humpty Dumpty</p>
<div id="inner-l">
<div class="intro">
  
  <div class="introImage">
    <img src="http://images.scholastic.co.uk/assets/a/7d/44/humpty-dumpty-main-illustration-106728.jpg" title="Humpty Dumpty image" alt="Humpty Dumpty image" />
    
  </div>
  
  <p>In the last of our nursery rhyme series, Helen Bromley explores the numerous possibilities for children to enjoy ‘Humpty Dumpty’ in early years settings and at home.</p>
</div>



<div class="body">
  <p>&lt;!<del>- largeimageurl -</del>&gt;</p>


	<h2>Song time</h2>


	<p>Use the ‘Humpty Dumpty’ song with the whole group for the children to sing along to. Encourage the children to make up actions, such as marching like the king’s men. Provide some percussion instruments for the children to play to accompany the song.</p>


	<h2>Humpty’s play area</h2>


	<p>Help the children to create a place where Humpty Dumpty and his friends can play safely.</p>


	<p><strong>What you need</strong>
Large shallow tray (builder’s tray or similar); gravel; green fabric or artificial grass; small bricks, enough to build a wall for Humpty Dumpty; Come Alive Nursery Rhymes wooden character set or Humpty Dumpty figure; small-world people; king’s horses and king’s men.</p>


	<p><strong>What to do</strong></p>


	<p>Arrange the fabric and the gravel in the tray. Invite the children to help build a wall and then position it in the tray. Place the figures in the tray. Encourage the children to add other playground items, such as a swing or climbing frame, so that Humpty does not have to play on the wall. These items can be made from construction equipment or recyclable materials.</p>


	<h2>Off the wall</h2>


	<p>With parental permission, take the children for a walk in your local environment to look for walls. How many different types can you find? Look for different types of brick, and talk about the patterns and shapes that the children can see. Take rubbings of different brick patterns and use them as inspiration for printing back at the setting.</p>


	<p>Make a photo book of walls, with pictures taken by the children. Let the children take turns to take home a digital camera so that they can photograph the wall of their home. Keep the book in your construction play area.</p>


	<p>Build a variety of walls, on a small and large scale, using a range of materials. Let the children experiment with ways of joining them.</p>


	<h2>Scrambled eggs</h2>


	<p>The ‘Jigsaw’ activity encourages the children to develop mouse control as they drag the broken pieces of Humpty Dumpty into place. When the jigsaw is complete, Humpty Dumpty will smile! Talk with the children about how he feels now that he has been put back together.</p>


	<p>Sharing the ‘Humpty Dumpty’ nursery rhyme with the children can also lead into a variety of activities about eggs. For example:</p>


	<ul>
	<li>Put together a collection of eggs and eggcups of all descriptions. Encourage the children to find different images of eggs in magazines and on the internet. These could subsequently be used in a scrapbook, and placed in your book corner.</li>
	</ul>


	<ul>
	<li>Sprinkle sequin numbers in a tray of sand. Add some eggcups, tiny spoons and a magnifying glass. Ask the children to see if they can fill an eggcup with numbers, naming each numeral as they scoop them into the cup.</li>
	</ul>


	<ul>
	<li>Ask for parental permission for the children to cook with eggs. Check for any food allergies and dietary requirements. Help the children to make a variety of dishes such as scrambled eggs, pancakes and a sponge cake.</li>
	</ul>


	<ul>
	<li>Look at the lifecycles of animals that lay eggs.</li>
	</ul>


	<ul>
	<li>Compose a variety of rhythms using egg shakers. Invite the children to play ‘Follow my leader’ by copying 
each other’s rhythm.</li>
	</ul>


	<p>&lt;!<del>- featurebox -</del>&gt;</p>


	<h2>Humpty Dumpty rhyme pack</h2>


	<p>Build up a collection of resources based on a nursery rhyme and keep them together in a pack such as a zipped plastic wallet or an attractive drawstring bag. Use these packs with the children in your setting, or set up a ‘lending scheme’ to encourage parents to share the rhymes with their children at home.</p>


	<p>In the pack, include a &#8220;copy of the nursery rhyme&#8221;; Humpty Dumpty puppet; set of magnetic character pieces created by cutting out &#8220;pictures of the characters&#8221; or the children’s drawings, laminating them and attaching magentic tape to the back; Come Alive Nursery Rhymes wooden character set; ‘Humpty Dumpty’ rhyme.</p>
</div>



