<h1>Literacy: The new school year</h1>
<h4>22<sup>nd</sup> August 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69810">Junior Education PLUS September 2008</a></p>


<p class="author">By <strong>Brenda Williams</strong> &#8212; <em>poet</em></p>

<p class="intro">Use a back-to-school poem to help stir up excitement at the start of a new term</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/ce/de/poetry-112065.jpg" class="img_left" title="Schoolchildren illustration" alt="Schoolchildren illustration" /></div>

	<p>It’s important to create a warm welcome for children starting, and returning, to school after the holidays, as it ensures that they feel confident their arrival is a special occasion. The start of a new school year or term is the reunion of a school community and a time to celebrate togetherness. While the shape of ‘The new school year’ poem (see <a href="http://magazines.scholastic.co.uk/resources/29583"><strong>Photocopiable</strong></a>, ‘The new school year’) represents a school building, the reader soon discovers that the structure of the poem symbolises the school, not just as a building, but as a whole community.</p>


	<h2>1. Behind the school gates</h2>


	<ul>
	<li>Read ‘The new school year’ poem together, encouraging the children to see how the different parts reflect on the whole establishment. For example, the roof represents the umbrella – the shelter. Within this shelter are the people who come into the building during the holidays. The caretaker, who organises the cleaners, and maintenance of the school’s ‘scrubbed down doors, windows washed and polished floors’, and the teachers, who have given up their time in the holidays to prepare and organise ‘fresh sugar-papered, clear display boards, ready in the corridors. Cupboards closed and textbooks stored.’</li>
	</ul>


	<ul>
	<li>Discuss the role of people such as the caretaker, cleaners, and dinner ladies. As a class, think of other people who also support the school – such as the school secretary, office staff and parents. Ask the children to write a ‘Thank you’ poem to show their appreciation for all their work, during the holidays and term time.</li>
	</ul>


	<h2>2. Waiting for a return</h2>


	<ul>
	<li>As the poem describes, all is ready and waiting for the new term. The line ‘The building, breathless, waits 
and waits’ suggests, however, that it is still an empty shell, waiting for life to be breathed into it. ‘Next day, the clamorous children flood into the corridors’ introduces the reader to the real life of the building – the children. They may be noisy and trail in mud, but they are happy meeting new friends, and re-establishing familiar habits, such as ‘Anoraks, damp with rain, make mountains on coat hooks again’.</li>
	</ul>


	<ul>
	<li>Use ‘The new school year’ as a model for children to write a poem about their own home. Who, or what, would be in the building when they are away? Are their toys and favourite things waiting for them? Would grandparents or neighbours have visited to water plants or feed the cat? Would pets sense their owners are coming home? Can they imagine what it would be like in their house, the day before they return? Ask them to write a poem describing their return home. Give them some leading lines, such as: ‘My house is quiet…’ and ‘My house is waiting&#8230;’ and encourage them to complete the lines before creating similar ones of their own.</li>
	</ul>


	<h2>3. Back to school at last</h2>


	<ul>
	<li>Encourage children to discuss their feelings when they return to school after the holidays. Which friends will they have missed? Do they look forward to a new teacher and new routines? The line ‘Let work begin’, suggests the communal purpose of those gathered inside – of working together to promote learning. Explain that by the flock of birds who anticipate the ‘scattered crisps and crumbs of cake’ dropped by children during break time suggests the children have been missed by the local community during the school holidays.</li>
	</ul>


	<ul>
	<li>Talk to the class about belonging and ‘togetherness’. Invite the children to thought shower ideas by drawing a picture of themselves in the middle of a piece of paper. Around this picture, they should write the names of clubs or groups that they belong to, circles of friends or their family. Next, suggest they choose one group to write a short story about. Can they now re-write it, breaking it up into shorter more poetic lines?</li>
	</ul>

