<h1>Colours of the rainbow</h1>
<h4>8<sup>th</sup> September 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70332">Nursery Education PLUS October 2008</a></p>


<p class="author">By <strong>Nina Filipek</strong> &#8212; <em>freelance education writer and supply teacher.</em></p>

<p class="intro">Bring some colour to your setting with these rainbow-themed activities</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/1f/79/potogold-rainbow-113611.jpg" title="Rainbow image" alt="Rainbow image" /></div>

	<h2>Rainbow area</h2>


	<p>E xplain to the children that a rainbow is an arch of colours (red, orange, yellow, green, blue, indigo and violet), which appears in the sky when the sun’s rays reflect falling rain.</p>


	<p>Create a large 3D rainbow arching over one corner of your setting. Bend strips of corrugated cardboard in rainbow colours, and staple them to adjacent walls. Place a crock of gold at the end of the rainbow – gold chocolate coins in a drawstring pouch or box would be perfect!</p>


	<p>Provide a selection of rainbow-themed books, as well as some rainbow-coloured items for dressing up, and colouring materials for the children to create their own rainbows. Furnish the area with rainbow-coloured accessories.</p>


	<h3>Suggested resources</h3>


	<p>Corrugated strips of cardboard in different colours; stapler (adult use); rainbow-themed picture books, for example, <em>The Rainbow Fish</em> by Marcus Pfister (North South Books) and <em>Elmer</em> by David McKee (Andersen Press); rainbow-coloured items, for example, rainbow-striped socks, scarves, gloves and hats; photos or pictures of rainbows; different-coloured crayons, paints and paper; rainbow-coloured accessories such as furnishings, cushions, fabric and seating.</p>


	<h2>1 A million chameleons</h2>


	<h3>Share a story about colour</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Linking Sounds and Letters</strong></em></p>


	<p><strong>Development matters:</strong> listen to and enjoy rhythmic patterns in rhymes and stories (16-26 months); show interest in play with sounds, songs and rhymes (22-36 months).</p>


	<p><strong>Early learning goal:</strong> hear and say sounds in words in the order in which they occur.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> large group.</p>


	<p>Copy of <em>A Million Chameleons</em> by James Young (Picture Mammoth); large space to move around in.</p>


	<h3>What to do</h3>


	<p>Invite the children to sit in a circle and read the story to them. Show them the pictures and repeat the names of the colours.</p>


	<p>Take the children to a large space where they can move around freely. As you read the story aloud once more, invite the children to role play all the different actions of the chameleons – they dance, jump, skate, stroll, play, ride a merry-go-round and finally, fall asleep.</p>


	<p>Ask the children to tell you which chameleon colour they like best. Is this their favourite colour?</p>


	<h3>Support</h3>


	<p>Read the story in a smaller group situation or one to one.</p>


	<h3>Extension</h3>


	<p>Draw a circle on the computer or interactive whiteboard and copy it many times to fill the screen. Invite the children to fill each one with a different colour.</p>


	<h3>Birth to 36 months</h3>


	<p>Repeat the names of the different colours that appear on each spread in the book on a one-to-one basis.</p>


	<h3>Cross-curricular links</h3>


	<p>PD – move with control and coordination.</p>


	<p>CD – use their imagination in art and design, imaginative and role-play and stories.</p>


	<h2>2 Rainbow food party</h2>


	<h3>Identify a range of different tastes and colours</h3>


	<p><strong><em>Physical Development</strong></em></p>


	<p><strong><em>Health and Bodily Awareness</strong></em></p>


	<p><strong>Development matters:</strong> show awareness of a range of healthy practices with regard to eating, sleeping and hygiene (30-50 months); show some understanding that good practices with regard to exercise, eating, sleeping and hygiene can contribute to good health (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> recognise the importance of keeping healthy, and those things which contribute to this.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Fresh, raw fruit and vegetables representing all the colours of the rainbow, for example, sweet red peppers, orange carrots, yellow peppers, green cucumber, blueberries, purple grapes and so on; bowls; plastic spoons; napkins; paper plates.</p>


	<h3>What to do</h3>


	<p>Ask for parental permission for the children to taste and handle foods and check for any food allergies and dietary requirements.</p>


	<p>Wash the fruit and vegetables, then cut them up into tiny pieces. Arrange them separately in different bowls for each of the different colours.</p>


	<p>Invite the children to a rainbow food party. Give each child a paper plate and a plastic spoon and encourage them to try small mouthfuls of the fruit and vegetables.</p>


	<p>Ask the children to name the different colours of the food and identify the different tastes. Encourage them to try any foods that they have not eaten before.</p>


	<p>Invite the children to talk about which of the rainbow foods they like and dislike. Help them to recognise that they need to eat a variety of different types of food in order to stay healthy.</p>


	<h3>Support</h3>


	<p>Encourage the children to try little amounts of foods that they are unfamiliar with.</p>


	<h3>Extension</h3>


	<p>Talk about the importance of hygiene when preparing food, and how we should always wash our hands before mealtimes.</p>


	<h3>Birth to 36 months</h3>


	<p>Sing ‘I can sing a rainbow’ using the <a href="//magazines.scholastic.co.uk/resources/30027">I can sing a rainbow poster</a> with the children. Visit <a href="http://www.britishcouncil.org/kids-songs-rainbow.htm">British Council</a> to listen to the song.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – have a developing awareness of their own needs, views and feelings, and be sensitive to the needs, views and feelings of others.</p>


	<p><span class="caps">CLL</span> – extend their vocabulary, exploring the meanings and sounds of new words.</p>


	<h2>3 Rainbow builders</h2>


	<h3>Build a rainbow-coloured brick tower</h3>


	<p><strong><em>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><strong><em>Shape, Space and Measures</strong></em></p>


	<p><strong>Development matters:</strong> show an interest in shape by sustained construction activity or by talking about shapes or arrangements (30-50 months); count how many objects share a particular property, presenting results using pictures, drawings or numerals (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use developing mathematical ideas and methods to solve practical problems.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Different-coloured building bricks and blocks; large sheet of paper; coloured felt-tipped pens.</p>


	<h3>What to do</h3>


	<p>Invite the children to build a rainbow-coloured tower or house using different-coloured bricks. Ask questions such as ‘How many different colours have you used?’, ‘Can you name all the colours?’, ‘Can you count the bricks in your house?’, ‘What colour is the door?’.</p>


	<p>On a large sheet of paper, draw a horizontal plan of a building with outlines indicating where the children should place the bricks. Add coloured dots to show the colours of the bricks that they should add, and numbers to show how many bricks. Challenge the children to construct a ‘rainbow’ building on the top of the plan you have drawn.</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<ul>
	<li>Download a copy of the <a href="//magazines.scholastic.co.uk/resources/30020">Rainbow house photocopiable sheet</a> for each child to take home and colour in different colours.</li>
	</ul>


	<h3>Further ideas</h3>


	<ul>
	<li>Make some bubble mixture. Blow bubbles and look for rainbows inside the bubbles.</li>
	</ul>


	<ul>
	<li>Wrap a rainbow-coloured object in layers of different-coloured paper. Play ‘Pass the parcel’. Ask the children to name the correct colour of each layer before unwrapping.</li>
	</ul>


</div>

	<h3>Support</h3>


	<p>Help the children to count up to the higher numbers and establish a one-to-one correspondence between each brick and each new number.</p>


	<h3>Extension</h3>


	<p>In pairs, invite the children to build a tall tower of rainbow-coloured bricks. They should take turns to add one brick at a time. How many bricks can they add before their tower falls over?</p>


	<h3>Birth to 36 months</h3>


	<p>Help the children to build brick towers and to name the colours of the bricks used.</p>


	<h3> Cross-curricular links</h3>


	<p><span class="caps">KUW</span> – build and construct with a wide range of objects.</p>


	<p>CD – explore colour, texture, shape, form and space in two and three dimensions.</p>

