<h1>Storyteller: The Little Red Hen</h1>
<h4>15<sup>th</sup> September 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70484">Child Education PLUS October 2008</a></p>


<p class="author">By <b>Pie Corbett</b> &#8212; Author, poet and storyteller</p>

<p class="intro">Watch, listen and then perform your own oral version of this traditional tale</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>When it comes to the primary classroom, oral storytelling has a crucial role to play. It gives children opportunities to internalise and play with the patterns and rhythm of language – and helps them to improve their memory and concentration. Through retelling and performance, the building blocks of a story are being provided to children in an accessible and dynamic way, allowing them to approach their own stories and written work with greater confidence and imagination.</p>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/6c/27/pie-corbett-114118.jpg" title="Pie Corbett telling a story to a class" alt="Pie Corbett telling a story to a class" /></div>

	<p>The Little Red Hen is a good example of a story that lends itself to classroom performance. It is simple to learn and children will find it easy to adapt and make their own. To accompany the classroom activities on these pages, an exclusive video clip and story text are available below. These resources have been taken from the new <em>Storyteller</em> series, published by Scholastic.</p>


	<h2>About the story</h2>


	<p>The story of The Little Red Hen has a wonderfully simple pattern and is an excellent story to be learned orally. You do have to watch that the children do not chant it so much that the rhythm takes over from the meaning. The story makes a very good first assembly for young children, as everyone can chant it together and there are a few parts to mime for those who feel confident.</p>


	<h2>Getting to know the story</h2>


	<p>Read aloud or tell the story to the children (a video clip and printable story are available on our website). Use some of the following activities to help the children get to know the story well.</p>


	<h3>Discuss</h3>


	<ul>
	<li>Talk about the different tasks that the little red hen had to do in the story. Ask questions such as: <em>Why did the animals not help little red hen? Would they have helped if they had been asked?</em> </li>
		<li>Ask: <em>Why did the hen keep the bread at the end?</em> Should the hen have shared out the bread? </li>
		<li>What do the children think the moral of the story is?</li>
	</ul>


	<h3>Drama</h3>


	<ul>
	<li>Organise a hot seat session with one 
child taking on the role of the little red hen. The rest of the class can ask questions, such as: <em>Why did you not share the bread? How did you feel when the other animals refused to help?</em> </li>
		<li>Taking on the role of the narrator, practise a dramatised version of the tale with all the children taking on the part of an animal of their choice.</li>
	</ul>


	<h3>Music</h3>


	<p>Sing ‘Old MacDonald had a farm’ and/or learn and act out the circle song, ‘The Farmer’s in his den’.</p>


	<h3>Writing in role</h3>


	<p>Ask the children to write simple messages from the other animals to the hen, saying sorry for not helping with the different tasks.</p>


	<h3>Art</h3>


	<p>Provide the children with paint and card, and help them to create animal masks to use in a performance of the story.</p>


	<h3>Research</h3>


	<ul>
	<li>Organise a trip to a farm or research images of farms.</li>
		<li>A visit to a bakery to watch bread being made would add to the tale. Make bread so that the children experience kneading it.</li>
		<li>Bring in some wheat and give the children the opportunity to crush a few grains between a couple of stones to see how the grains begin to become flour.</li>
	</ul>


	<h3>Story behind the story</h3>


	<ul>
	<li>In role as the farmer, retell the story from his viewpoint. In preparation, read Farmer Duck by Martin Waddell.</li>
	</ul>


	<h2>Retelling the story aloud</h2>


	<ul>
	<li>This is a great story to start oral storytelling because the children will already be familiar with the tale.</li>
		<li>On the video, you can see children joining in with the story using actions. These can support both the events in the story but also be used to emphasise the connectives such as ‘once upon a time’, ‘early one morning’ and ‘who’.</li>
		<li>Prepare your class for telling by drawing a story map on the board (see example above), so that the children can see visually what happens.</li>
	</ul>


	<h2>From telling to writing</h2>


	<ul>
	<li>This makes an ideal story for shared writing. Ask the children to illustrate different parts of the text and create a class Big Book or ‘Wall Story’.</li>
		<li>To innovate, the children should keep the basic pattern and idea but just swap over the animals. So, Cat might wake up and find the corn; she then asks help from other animals (such as a mouse, a dog, a donkey). Draw a new map with new animals and tell the ‘new’ story.</li>
	</ul>


	<p>Interested in purchasing the Storyteller books? Then visit our <a href="http://teachershop.scholastic.co.uk/search?log=t&#38;search_term=storyteller&#38;x=0&#38;y=0">Teachers&#8217; Shop.</a></p>

