<h1>Mad hatters: pirate hat</h1>
<h4>15<sup>th</sup> September 2008</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70484">Child Education PLUS October 2008</a></p>


<p class="author">By <b>Nina Filipek</b> &#8212; Education writer and supply teacher</p>

<p class="intro">Ever thought a hat could be used for more than just role play? Nina Filipek has! She reveals how in this new series</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/c4/f4/img-1031-114224.jpg" class="img_left" title="Pirate hat" alt="Pirate hat" /><p>Use our skull and crossbones template to complete the pirate hat</p></div>

	<h2>To make the pirate hat</h2>


	<p><b>You will need:</b> thin black card; white card; scissors; sticky tape; paper glue.</p>


	<ul>
	<li>Cut out a strip of black card approximately 4cm wide, and long enough to fit around the child’s head. Join the ends with sticky tape to make a headband. </li>
		<li>Cut out the shape of the pirate hat from black card.</li>
		<li>Glue the headband onto the back of the hat.</li>
		<li>Print out your free image of the skull and crossbones (see resource below) or draw your own on white card.</li>
		<li>Help the children to cut out the skull and     crossbones symbol and glue this onto the     front of the hat.</li>
	</ul>


	<h2>Pirates’ pantry</h2>


	<h3>Ma2 1: using and applying mathematics; Ma2 3: calculating.</h3>


	<p>Imagine you are the cook on board the Crusty Galleon. You are making a shopping list of the food and drink items you will need to take on your two-week (five-week or ten-week) sea voyage. Each pirate consumes in one week:</p>


	<ul>
	<li>1 fish</li>
		<li>2 pieces of meat</li>
		<li>3 oranges</li>
		<li>4 bananas</li>
		<li>5 carrots</li>
		<li>6 biscuits</li>
		<li>7 potatoes</li>
		<li>8 litres of grog</li>
	</ul>


	<p>Challenge the children to work out the total requirements for each pirate for the journey. You can extend the task by asking them to calculate the totals for two, five or ten pirates. With older or more able children, make up prices for each of the items, for example 1p, 10p or £1. Then set up a pirate shop with a till and gold coins made from circles of gold card, and label the coins with different values to match the prices. Can the children pay with the correct coins? Have they got enough money to buy what’s on their shopping list?</p>


	<p>Being allowed to wear their pirate hats during the activity might encourage some of the more reluctant learners. Tailor the tasks to suit your class and your pirate theme will easily take you through a week’s worth of numeracy lessons.</p>


	<h2>The good, the bad and the pirates</h2>


	<h3><span class="caps">PSHE</span> 4a: recognising how their behaviour affects other people; 4d: that family and friends should care for each other.</h3>


	<p>Write a list of the bad things pirates do, and next to it write a list of the good things your class do. For example:</p>


	<p><b>Pirates:</b></p>


	<ul>
	<li>steal         </li>
		<li>cheat        </li>
		<li>fight        </li>
		<li>are cruel</li>
	</ul>


	<p><b>Our class:</b></p>


	<ul>
	<li>don’t steal</li>
		<li>play fair</li>
		<li>don’t fight</li>
		<li>are kind</li>
	</ul>


	<p>Sit in a circle and pass around a pirate hat as a speaking object. Put various scenarios to the children and ask them how a pirate would respond – for instance, there are three of you and only two biscuits left; someone new joins the crew (or class); a crew member feels poorly; you see someone being bullied, and so on. Get the children to respond both as a pirate (wearing the pirate hat) and as themselves (without the hat). Compare the two responses. Tie in with a discussion about your class rules and compile a ‘Good Pirates’ Rule Book’. Or, ask the children to make up a story about a good pirate. Why not base your story on an existing pirate story that is already known to the children and set them the task of retelling it from a new perspective?</p>


	<h2>The captain’s crew</h2>


	<h3>En1: speaking and listening for a wide range of purposes in different contexts; En2 and En3: reading and writing for a range of purposes on paper and on screen.</h3>


	<p>Find out about the different jobs on board a pirate ship and make a list including: carpenter, surgeon, cooper, cook, first mate and captain. Talk about what each job entails and scribe a short job description for each one, using ideas suggested by the children. For example, <em>As captain, you will need to be a stern and strong leader. You will need to be able to read a compass and a map.</em> Then divide the class into ‘ships’, each with a captain (who should wear a pirate hat).</p>


	<p>The captains are going to interview the others for the different jobs. Let the children decide which role they want to apply for and get them to write a pirate CV! Help the captains to write a list of questions to ask, such as <em>What was the name of the last ship you sailed with? Have you got your sea legs yet?</em> Encourage the children to practise what they are going to say and to use their imaginations in replying. When a pirate gets a job, they also get to wear their pirate hat. The activity ends when each ship has hired its crew.</p>


	<h2>Ship shape</h2>


	<h3>Sc1 2d: recognising when a comparison or test is unfair.</h3>


	<p>Look at pictures of wooden pirate galleons and tell the children that they are going to make a pirate ship of their own – using real wood! (Lollysticks are ideal.) The first challenge is to make a ship that will float on water. Give each group the same number of lollysticks. Using sticky tape or parcel tape, demonstrate how to join the lollysticks to make a ‘deck’ and a ‘prow’. Take this opportunity to use the correct vocabulary to describe parts of the ship. Who can design a ship that will carry the most cargo? Blocks of Plasticine are perfect as cargo. Discuss ways of testing the ships in a controlled manner, such as by counting the blocks of Plasticine as they are loaded and finding out what is the maximum load. Extend the children’s scientific knowledge by asking, <em>Is it a fair test if we use blocks of different sizes?</em> Draw up a chart to show your results. Then experiment with different loads – for example, use marbles as cannon balls and 1p coins as treasure. Ask, <em>Which ship can carry the most cannon balls, cargo and treasure?</em> Reward your hard-working ‘crew’ by allowing them to wear their pirate hats at playtime.</p>


	<h2>Walk the plank</h2>


	<h3>PE 8a: performing basic skills in travelling, both on the floor and using apparatus; 8b: developing their range of skills and actions.</h3>


	<p>In the hall or outside on the grass, set out benches, ropes, hoops, beanbags, mats and balls in the shape of a sailing ship. Challenge the children to:</p>


	<ul>
	<li>‘walk the plank’ by balancing on the benches </li>
		<li>‘climb the rigging’ by hopping in between crossed ropes </li>
		<li>throw a cannon ball by aiming a soft ball at a target </li>
		<li>load the cargo (the beanbags) into the hold (the hoops) </li>
		<li>jump overboard into the sea onto a blue mat</li>
	</ul>


	<p>… all in a pirate obstacle race! Allow the winning pirates to wear their hats at playtime. As with every PE lesson, make sure everyone follows the safety rules.</p>

