		<h1>Scholastic Education PLUS</h1>
		<span style="background-image: url('http://images.scholastic.co.uk/assets/cms/scholstic-edplus-banner.jpg')"></span>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/4722" title="Add to My Folder"><img alt="Add to my folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>Teacher quiz</h1>
<h4>5<sup>th</sup> September 2008</h4>





<p class="intro">What type of teacher are you? And does your teaching style complement your colleagues? Our fun quiz has got teachers gripped. Why not have a go?</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><a href="http://www.scholastic.co.uk/teacher-quiz"><img src="http://images.scholastic.co.uk/assets/a/fa/10/teacher-quiz-113939.jpg" title="teacher-quiz.jpg" alt="teacher-quiz.jpg" /></a></div>

	<p>Okay, we know that you are busy right now with your new class, but maybe now is the right time to relax and take stock!  We have put together a <a href="http://www.scholastic.co.uk/teacher-quiz">Teacher Quiz</a> to help you evaluate exactly what type of teacher you are!</p>


<div class='additional-material'>

<h3>You may need Flash</h3>

<p>To use this resource you need Adobe Flash installed on your computer. To get the latest player:</p>

<p><a href="http://www.macromedia.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" title="link to macromedia's site">Install Adobe Flash Player</a></p>

<p>You may need to be an Administrator to install this.</p>

</div>

	<p>Are you an eagle &#8211; a natural high-flyer who never settles for second best?  A puppy &#8211; whose playful nature is a big hit with the children? Or even a duck &#8211; the natural all-rounder who never gets in a flap?</p>


	<h2><a href="http://www.scholastic.co.uk/teacher-quiz">Why not give it a go?</a></h2>


	<p><strong>Have fun!</strong></p>

