<h1>Pirate Handbook</h1>
<h4>1<sup>st</sup> January 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69817">Literacy Time PLUS Ages 7 to 9 January 2009</a></p>


<p class="author">By <strong>Peter Riley</strong></p>

<p class="intro">A virtual information book with pages that &#8216;blow away in the sea breeze&#8217; as you move through it. The book includes a glossary of pirate terms; a map showing where pirates were active; parts of a ship; a pirate crew; crew rules; treasure; weapons and flags.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/08/43/lt790109-pirate-handbook-int-127020.jpg" title="122620_lt790109-pirate-handbook_int_1229616185.jpg" alt="122620_lt790109-pirate-handbook_int_1229616185.jpg" /></div>

	<h2>Shared teaching and learning</h2>


	<h3>Before reading</h3>


	<p>What do the children already know about pirates? Can they name any books or films about pirates? How could they find out more about pirates and what would they like to know?</p>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Children should be able to: draw together information from an on-screen text using hyperlinks; interrogate a text to deepen/clarify understanding and response; extend their vocabulary; word-process short non-narrative texts.</p>


	<h2>Key learning outcomes:</h2>


<strong>Year 3</strong><br />
	<ul>
	<li>To identify how reference texts are organised on screen;</li>
		<li>To build their store of technical vocabulary;</li>
		<li>To write non-narrative texts;</li>
		<li>To use layout, format, graphics, illustrations.</li>
	</ul>


<strong>Year 4</strong> <br />
	<ul>
	<li>To use organisational features to find information effectively;</li>
		<li>To summarise/shape material to write non-narratives;</li>
		<li>To organise text into paragraphs.</li>
	</ul>


</div>

	<h3>During reading</h3>


	<ul>
	<li>Discuss how the front page is organised and how we know what to do. Invite individuals to click on the screen to turn the page.</li>
		<li>Look at the contents page and discuss what information each section might reveal. Allow the children to decide which screen/virtual page they would like to browse next and to explain their choice.</li>
		<li>As each virtual page is revealed, ask the class to scan the page for specific information. For example:
	<ul>
	<li><strong>Introduction</strong>  – What historic period does the Pirate Handbook focus on? Why did pirates settle on Madagascar? When was the Pirate Code particularly useful? </li>
		<li><strong>Parts of a ship</strong> – What was a windlass? Where did the captain live on a ship?</li>
		<li><strong>Rules for the crew</strong> – What would happen to you if you hit another pirate? What supplies were you given when you were marooned?</li>
	</ul>
	</li>
		<li>What new vocabulary have the children found? </li>
		<li>Discuss how the text and illustrations work together to provide information. In what ways do the sound effects enhance the text?</li>
	</ul>


<br />
	<h2>Responding</h2>


	<ul>
	<li>Ask individuals what new facts most interested them, and to explain why?</li>
		<li>What areas would the children choose to find out more about? Do they have any questions not answered by the text? Encourage further research.</li>
		<li>Look again at the new and technical vocabulary found. Explore the spelling – eg, of the word <em>Madagascar</em>. What clues are there to help decode it? Break it down into syllables (each syllable includes a vowel phoneme). Elicit that the capital letter and context tell us it is the name of a place. Use these strategies to decode other unfamiliar words.</li>
		<li>Talk about the names of different pirates. Make up new ones and discuss what gave them their nickname – eg, <em>One-eared Edgar</em>.</li>
	</ul>


<div class='additional-material'>

	<h2>Further reading</h2>


	<p><em><strong>How to be a Pirate</strong></em> Cressida Cowell (Hodder, 978 03408 81460).<br />
<strong><em>See Inside: Pirate Ships</em></strong> Rob Lloyd Jones (Usborne Flap Books, 978 07460 70048).<br />
<em><strong>Peter Pan and Wendy</strong></em> J M Barrie (Templar, 978 184011 2504).<br />
<em><strong>Peter Pan in Scarlet</strong></em> Geraldine McCaughrean, illustrated by David Wyatt (OUP, 978 01927 26216).</p>


</div>

<br />
	<h3>Pirate Quiz</h3>


	<ul>
	<li>Challenge the children to try the Pirate Quiz, downloadable <a href="http://magazines.scholastic.co.uk/resources/38234">here</a>. How many questions can they answer from the work they have done already? Use the questions they can’t answer to guide further research. The answer sheet can also be found online.</li>
		<li>Challenge groups to write their own Pirate Quiz based on the sub-topics they have researched. </li>
		<li>Complete the crossword on the activity sheet below. (An answer sheet can be downloaded <a href="http://magazines.scholastic.co.uk/resources/38223">here</a>.)</li>
	</ul>


<br />
	<h3>Shared writing</h3>


	<ul>
	<li>Design a web page to display the children’s own research. </li>
		<li>Use  the photocopiable below to plan and write a biography of an invented pirate. </li>
		<li>Create a class resource list of books (both fiction and non-fiction), websites and films about pirates.</li>
	</ul>


<br />
	<h2>Plenary</h2>


	<ul>
	<li>Evaluate how an on-screen text differs from a book-based text. Look at some printed information texts about pirates and talk about the advantages of each type.</li>
		<li>Discuss what life was like for a pirate. What emotions might they have felt? What made them become pirates? Were they always wrong to steal or kill? (Refer to <a href="http://magazines.scholastic.co.uk/content/5783">Leaflet 2</a>.)</li>
	</ul>

