<h1>Percy the Pirate</h1>
<h4>1<sup>st</sup> January 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69817">Literacy Time PLUS Ages 7 to 9 January 2009</a></p>


<p class="author">By <strong>Colin West</strong></p>

<p class="intro">This poem, by Colin West, is perfect for reading aloud as it has such a catchy rhythm. It features simile and alliteration as well as a simple but strong rhyming pattern. It provides exciting starting points for the children’s own story writing, poetry and art work.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/8e/cf/percy-the-pirate-127052.jpg" title="percy-the-pirate.jpg" alt="percy-the-pirate.jpg" /></div>

	<h2>Shared teaching and learning</h2>


	<h3>Before reading</h3>


	<ul>
	<li>Find out what the children think pirates are like. Ask them to quickly draw a labelled picture of a pirate. Discuss their ideas. List adjectives that would describe pirates. What jobs did they have to do? Ask each child to write a definition of the word pirate.</li>
		<li>What names do the children think would be suitable for pirates? Captain Hook’s crew, for example, were Cecco, Bill Jukes, Cookson, Gentleman Starkey, Skylights, Mullins, Noodler and Smee.</li>
		<li>Discuss the poem’s title. Why is the name Percy not a typical pirate name? Do they find the title funny?</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>The children should be able to recognise alliteration.</p>


	<h2>Key learning outcomes:</h2>


	<ul>
	<li>To investigate the pattern of rhyme in poetry;</li>
		<li>To perform poetry, taking note of the rhythm.</li>
	</ul>


</div>

	<h3>Shared reading</h3>


	<ul>
	<li>Read the poem through together, making sure the children notice the rhythm. </li>
		<li>Discuss the words <em>marauding, ozone</em> and <em>pungent</em>, using the context. Compare the children’s ideas with dictionary definitions.</li>
		<li>Ask the children to find pairs of rhyming words. Place a piece of acetate over the poster and underline them – or use your whiteboard tools on downloaded versions of the poster. What do they notice about the rhyming pattern? Explain that we can show this using letters – when the lines of a poem rhyme they are given the same letter. The rhyme pattern of this poem is a b c b.</li>
		<li>Discuss the rhyming pair <em>waft</em> and <em>aloft</em>. The words rhyme even though they end with different letter strings. Find other examples in the poem. Can the children think of others – eg, <em>tough/stuff, oar/store</em>? Discuss the line <em>‘His foes he would out-fox.’</em> Can they explain what this means? What does it tell us about Percy’s character?</li>
		<li>Note the use of capital letters and full stops. How many sentences does each verse consist of?</li>
	</ul>


<br />
	<h2>Group and independent activities</h2>


	<ul>
	<li>Find examples of alliteration in the poem (eg, ‘The whiff would gently waft.’). Create some alliterative sentences together, then challenge the children to write their own, using dictionaries.</li>
		<li>Look through poetry books to find other poems with this rhyming pattern. Can they find different patterns and label them? </li>
		<li>Discuss the simile <em>‘…falling down like ninepins’</em>. Invent your own similes for: <em>The pirates were as fierce as… Their ships were like… Their knives gleamed like… Their cutlasses were as sharp as…</em></li>
	</ul>


<div class='additional-material'>

	<h2>Further reading</h2>


	<p><a href="http://magazines.scholastic.co.uk/content/5232"><strong>Create a cartoon strip!</strong></a> Written and illustrated by David Parkins (Poster 1, <em>Literacy Time <span class="caps">PLUS</span></em> Ages 7 to 9, November 2008, Issue 62).<br />
<em><strong>Pirate Poems</strong></em> David Harmer (Macmillan,  978 03304 51819). A collection of swashbuckling verse in which you can meet Calico Kate and her cut-throat crew, learn 12 ways to walk the plank and come face to face with Blackbeard’s ghost. <br /></p>


</div>

<br />
	<h3>Ideas for writing</h3>


	<ul>
	<li>Create comic strips showing Percy’s story and the difference between Percy and the other pirates. Use speech bubbles to move the story forward.</li>
		<li>Write stories suggesting how the other pirates could stop Percy’s feet from smelling and render the secret weapon useless. </li>
		<li>Use the photocopiable below to write more verses about Percy, using the same pattern of rhyme.</li>
	</ul>


<br />
	<h2>Plenary</h2>


	<ul>
	<li>Give each small group one verse of the poem. Ask them to decide how it should be read. Which words should be emphasised? Which lines should be quieter? Ask them to perform the poem to the rest of the class. Discuss each group’s interpretation. If possible, record the performance so that they can hear the whole poem. </li>
		<li>How does the poet make the poem humorous?</li>
	</ul>

