<h1>My life in the workhouse</h1>
<h4>1<sup>st</sup> January 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69820">Literacy Time PLUS Ages 9 to 11 January 2009</a></p>


<p class="author">By <strong>David Clayton</strong> &#8212; Author</p>

<p class="intro">A recount of a child&#8217;s life in a typical Victorian workhouse, complete with a virtual tour. Children can click on hot spots to reveal labels, captions and further information and to hear sound effects.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/b7/75/lt9110109-life-in-the-workhouse-int-127074.jpg" title="122623_lt9110109-life-in-the-workhouse_int_1229620167.jpg" alt="122623_lt9110109-life-in-the-workhouse_int_1229620167.jpg" /></div>

	<p><strong><a href="http://magazines.scholastic.co.uk/content/5793">Leaflet 1</a> and <a href="http://magazines.scholastic.co.uk/content/5794">Leaflet 2</a> offer extracts from Berlie Doherty’s novel and play <em>Street Child</em>, featuring a London workhouse. This on-screen resource can be used before or after the group reading sessions to explore the fact behind the fiction. It includes a virtual tour of a workhouse. Children can click on hot spots to reveal labels, captions and further information and to hear sound effects.</strong></p>


<br />
	<h2>Before reading</h2>


	<ul>
	<li>What do the children know about workhouses? What do they expect to find in the text? What are their feelings about workhouses? </li>
		<li>Discuss how to navigate the text and what to click on first.</li>
	</ul>


<br />
	<h2>Reading/responding</h2>


	<ul>
	<li>Read the text together or read it in pairs/as a group/independently.</li>
		<li>Challenge the children to find specific information and to explain how they found it. Was the resource easy to use? How has the writer brought the information to life?</li>
		<li>Compare a daily workhouse routine with the school timetable. </li>
		<li>Compare the text with that in <a href="http://magazines.scholastic.co.uk/content/5793">Leaflet 1</a> (from <em>Street Child</em> by Berlie Doherty). How does the purpose and language of each text differ?</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Children will need to be able to: use personal strategies to learn new and irregular words; identify and summarise evidence from a text to support a hypothesis; explain how ideas are developed in the text; use organisational features to find information; shape material to write informative non-narratives; combine words, images and other features; clarify point of view.</p>


</div>

<br />
	<h3>Key questions</h3>


	<p>Explore some key questions, encouraging the children to explain their opinions/answers using evidence from the text:<br />
<em>Why did the family have to go to the workhouse? How might the fire have started?</em><br />
<em>How would the family’s situation be different today? Are things better or worse now?</em><br />
<em>What groups of people were in the queue outside the workhouse? How would their lives be different if they lived now?</em> <br />
<em>What is meant by the word ‘lunatic’? Would we use it to describe these type of people today? Is it a fair description or is there a better word we could use?</em><br />
<em>How might it have felt to be separated from your family?</em> <br />
<em>How would you feel about having your hair cut short to prevent lice?</em><br />
<em>How would you have fared in the dormitories? Would you have ended up fighting or quarrelling? Would you have liked to use the barrel?</em><br />
<em>What does ‘there was no hot water there’ tell us about the water they washed with?</em><br />
<em>What do you notice about the way boys and girls are treated in the workhouse?</em><br />
<em>Why was Christmas different? Why did visitors come?</em><br /></p>


<div class='additional-material'>

	<h2>Key learning outcomes:</h2>


	<ul>
	<li>To present a spoken/persuasive argument, sequencing points, defending views/participate in whole-class debate;</li>
		<li>To improvise/work in role to explore complex issues;</li>
		<li>To use evidence from a text to explain ideas;</li>
		<li>To infer writers’ perspectives;</li>
		<li>To appraise/compare/write narrative/information texts;</li>
		<li>To develop prediction, visualisation and empathy techniques;</li>
		<li>To use <span class="caps">ICT</span> programs to present texts/communicate ideas.</li>
	</ul>


	<h2>Useful website</h2>


	<p><a href="http://www.workhouses.org.uk">www.workhouses.org.uk</a></p>


</div>

<br />
	<h2>Speaking and listening/drama</h2>


	<ul>
	<li>Hold a whole-class debate or write 
a persuasive argument ‘for’ or ‘against’ workhouses – either in role as adults from the 1800s or as historians considering whether workhouses should be reintroduced. Explore how connectives can contribute to an argument. </li>
		<li>Improvise the scene in which the mother tells her family they are to move to the workhouse. Develop a written script.</li>
		<li>Act out a school lesson in the workhouse – with the teacher as a schoolmaster/mistress.</li>
	</ul>


<br />
	<h3>Ideas for writing</h3>


	<ul>
	<li>Research workhouses further. Create a working wall, pinning up notes, pictures and ideas collected.</li>
		<li>Find out more about the food inmates were given. Make up recipes using the ingredients.</li>
		<li>Write a short description of the outside of the workhouse, using figurative language.</li>
		<li>Write a diary entry of another child in the workhouse.</li>
		<li>Using the photocopiable below, plan and create a PowerPoint presentation to teach other children about workhouses. Use fiction and non-fiction writing skills and create ‘sound bites’, using inference and empathy skills. Alternatively, design a website about workhouses.</li>
	</ul>

