<h1>Street Child (extract)</h1>
<h4>1<sup>st</sup> January 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69820">Literacy Time PLUS Ages 9 to 11 January 2009</a></p>


<p class="author">By <strong>Berlie Doherty</strong></p>

<p class="intro">This extract from Berlie Doherty’s novel <em>Street Child</em> is based on the true story of the orphan who inspired Dr Barnardo to set up his children’s refuge. The novel raises issues of poverty and child labour, and discusses themes like cruelty, injustice, resilience and humanity.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>These teachers&#8217; notes accompany the <strong><span class="caps">PRINT ONLY</span></strong> guided reading leaflet in <em>Literacy Time <span class="caps">PLUS</span></em> for Ages 9 to 11, January 2009.</p>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/93/f9/street-child-extract-127088.jpg" title="street-child-extract.jpg" alt="street-child-extract.jpg" /></div>

	<p><a href="http://magazines.scholastic.co.uk/content/5794">Leaflet 2</a> offers a playscript version of the same story. <em>Street Child</em> is an <em>Additional text-based unit for Narrative</em> in the Literacy Framework for Years 5 and 6. Teachers’ notes and photographs can be downloaded from the ‘Planning’ section of the <a href="http://www.standards.dfes.gov.uk/primaryframework/literacy/planning/Year5/text-based">Framework website</a></p>


	<h2>Before reading</h2>


	<ul>
	<li>What do the children know about life for poor children in Victorian Britain? Have they read or seen a film version of Oliver Twist? Clarify what a workhouse was and explain how children might have ended up in one.</li>
	</ul>


	<h3>During reading</h3>


	<ul>
	<li>Read the first few paragraphs. How does the author convey Jim and his mother’s struggle? Which phrases emphasise this? Is his mother really just asleep? Predict her fate.</li>
		<li>Stress the use of dialogue by asking individuals to role play different characters. Contrast Jim’s mother’s emotional last words with the use of short direct questions and orders by the adults around Jim. </li>
		<li>Pause to list additional scene-setting information – eg, <em>‘it was growing dark’, ‘the snowy road’</em>.</li>
		<li>Notice how the descriptions and pace alter from noise, voices and movement before Jim enters the workhouse, to silent images and slow actions once inside. Provide headings: <em>Sights; Sounds; Actions; Feelings</em>; and find descriptions for each aspect.</li>
		<li>Look at the use of similes in the description of the man and woman by the steps. Find other examples.</li>
		<li>Find adjectives that emphasise the gloomy atmosphere of the workhouse.</li>
		<li>Establish the meaning of unfamiliar vocabulary – eg, <em>infirmary, broth, shawl</em>.</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Children should be able to: respond to narrative texts; deduce a character’s reasons for his/her behaviour from his/her actions; use drama strategies to explore issues and interpret behaviour from different viewpoints; use settings and characterisation in their writing.</p>


	<h2>Key learning outcomes:</h2>


<strong>Year 5</strong><br />
	<ul>
	<li>To work in role to explore complex issues;</li>
		<li>To infer writers’ perspectives;</li>
		<li>To write own stories.</li>
	</ul>


<strong>Year 6</strong><br />
	<ul>
	<li>To improvise/use drama strategies to explore themes;</li>
		<li>To understand underlying themes, causes, points of view;</li>
		<li>To use narrative techniques to engage/entertain the reader.</li>
	</ul>


</div>

	<h2>Responding</h2>


	<ul>
	<li>After reading, gauge the children’s reaction. How do they feel? Do they want to read on? What do they think might happen next?</li>
		<li>Discuss what the extract teaches us about workhouses and the people in them.</li>
		<li>Produce a timeline of events in the extract, showing how the story develops.</li>
		<li>Complete the <span class="caps">SAT</span>-style response sheet on the photocopiable.</li>
	</ul>


	<h3>Speaking, listening and drama</h3>


	<ul>
	<li>Consider the viewpoints and feelings of different characters throughout the extract. Why did the children laugh and run away? Why do others move away when the police arrive? How did Joseph feel having to tell Jim his mother had died? Use the photocopiable below to record characters’ feelings. </li>
		<li>Invite individuals to role play the different characters and explore their emotions and reasons for their actions. Is Jim the only victim? Are there other characters we should feel sorry for and empathise with?</li>
		<li>Re-enact the extract as a mime, including all characters and details. Stress the importance of facial expression to convey meaning and thoughts.</li>
		<li>Create a mock-up model of the workhouse hall using three sides of a box, cardboard and dark coloured paints. Think about scale: huge dark walls, high windows and long benches. Add cut-out characters to re-enact the scene as a play.</li>
	</ul>


<div class='additional-material'>

	<h2>Further reading</h2>


	<p>Download a Berlie Doherty <a href="http://magazines.scholastic.co.uk/resources/38241">Author Profile</a>.<br />
<a href="http://magazines.scholastic.co.uk/content/5790">On-screen resource 2</a> provides background information on life in a workhouse.<br />
<a href="http://magazines.scholastic.co.uk/content/5791">Poster 1</a> is an historical document providing a set of typical workhouse rules.<br />
<a href="http://magazines.scholastic.co.uk/content/5794">Leaflet 2</a> contains a play script version of the same story.<br />
<em>Literacy Time <span class="caps">PLUS</span></em> Ages 9 to 11 July 2007 (Issue 49) featured a multimedia resource exploring the Dickens novel <a href="http://magazines.scholastic.co.uk/resources/4531">Oliver Twist</a> – with an audio reading and clip from the 1948 David Lean movie.</p>


</div>

	<h3>Ideas for writing</h3>


	<ul>
	<li>Ask a group to imagine they are inspectors writing a report on the workhouse. What would they find? What would their recommendations for changes be?</li>
		<li>Use the photocopiable below to write witness statements in role. </li>
		<li>Continue the extract, writing about Jim’s reaction to his mother’s death. Use similes and adjectives to expand on how he might have expressed his grief. </li>
		<li>Write a synopsis of what might happen next to Jim, and how the story could develop.</li>
	</ul>

