<h1>To infinity and beyond</h1>
<h4>8<sup>th</sup> October 2007</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21821">Nursery Education PLUS November 2007</a></p>


<p class="author">By <strong>Jenni Tavener</strong> &#8212; <em>early years teacher and writer.</em></p>

<p class="intro">Pretend to be astronauts in space with these fantastic activity ideas</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/626-infinity.jpg" class="img_left " title="Space boy" alt="Space boy" /></div>

	<h2>Space-themed role play</h2>


	<p>Create a space station or moon-landing scene in your role-play area. Drape black fabric or paper over the walls and ceiling to represent outer space, or help the children to create a planetarium scene representing a galaxy of stars (see activity 3). Display space-themed photographs and posters nearby.</p>


	<p>Create a rocket, large enough for the children to sit inside, using a giant cardboard box. Make a pointed top by folding a large semicircle of card into a cone shape. Cut a large oval opening in one side for the children to clamber inside and cut several small portholes around the other sides so that they can look out. Make the inside futuristic by adding random patches of silver foil and bubble wrap, connected by loops of cable, tubes or bendy piping. Encourage the children to make an instrument panel and include two chairs or beanbags for the ‘astronauts’ to sit on. Decorate the outside of the rocket with thick paint or sticky paper. Use foil dishes to represent engine thrusters and add giant letters or numbers on the nose cone of the rocket. Let the children dress up as astronauts and explore the rocket.</p>


	<h3>Suggested resources</h3>


	<p>Role-play area; black fabric or paper; space-themed photographs and posters including pictures of the earth and moon; cardboard box; large semicircle of card; scissors (adult use); silver foil; bubble wrap; small and large pieces of cable, tubing or bendy piping; paint; sticky paper shapes; large letter templates; two small chairs or beanbags; commercial dressing-up clothes such as spacesuits and moon boots, or adapted fancy-dress items.</p>


	<h2>1 Letter from space</h2>


	<h3>Write a letter home describing a space exploration</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Handwriting</strong></em></p>


	<p><strong>Development matters:</strong> use one-handed tools and equipment (30-50 months); begin to form recognisable letters (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use a pencil and hold it effectively to form recognisable letters, most of which are correctly formed.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Space-themed role-play area; paper; felt-tipped pens; pencils; real or pretend stamps; envelopes; computer or laptop (optional).</p>


	<h3>What to do</h3>


	<p>Invite the children to join in the role play and encourage them to share their views and ideas about living or travelling in space. Ask questions such as ‘How would you get into space?’, ‘What would you like to see or discover?’, ‘How would you get home?’, ‘Who would you miss on Earth?’ and so on. Suggest that the children write a letter home, telling friends or relatives about their experiences of travelling in space. Alternatively, help them to draw and label pictures showing details of their imaginary space explorations.</p>


	<p>Encourage the children to imagine how they could send the letter home. Would they scan it in and email it using an on-board computer, or would they use a space post service? Display the letters in the role-play area.</p>


	<h3>Support</h3>


	<p>Invite the children to draw a postcard showing space-themed pictures.</p>


	<h3>Extension</h3>


	<p>Encourage the children to design a space-themed stamp for their letter.</p>


	<h3>Birth to 36 months</h3>


	<p>Sing ‘Twinkle, Twinkle Little Star’ together.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – continue to be interested, excited and motivated to learn.</p>


	<p>CD – use their imagination in art and design, imaginative and role-play.</p>


	<h2>2 Journey through space</h2>


	<h3>Imagine visiting outer space</h3>


	<p><em><strong>Personal, Social and Emotional Development</strong></em></p>


	<p><em><strong>Dispositons and Attitudes</strong></em></p>


	<p><strong>Development matters:</strong> take pleasure in learning new skills (16-26 months); begin to develop self-confidence and a belief in themselves (22-36 months).</p>


	<p><strong>Early learning goal:</strong> be confident to try new activities, initiate ideas and speak in a familiar group.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Space-themed role-play area; <em>Whatever Next!</em> by Jill Murphy (Macmillan Children’s Books); space-themed dressing-up items; the children’s own teddies.</p>


	<h3>What to do</h3>


	<p>Read <em>Whatever Next!</em> to the children. Ask questions such as ‘How did Teddy get into space?’, ‘What did he see?’ and so on.</p>


	<p>Provide space-themed dressing-up items and encourage the children to re-enact favourite scenes from the book. Alternatively, invite the children to bring their teddy into the setting so that they can join in role-play based on sending Teddy into space.</p>


	<p>Suggest that the children make up words or sound effects as they play, for example, ‘whooshing’ out of the chimney, ‘whizzing’ through the sky, ‘zooming’ to the moon and ‘spluttering’ down to earth.</p>


	<h3>Support</h3>


	<p>Encourage the children to recall the story or role play the scenario by retelling the sequence of events in their own words.</p>


	<h3>Extension</h3>


	<p>Invite the children to extend their role play by imagining other space-themed adventures, for example, visiting Mars, getting lost in space or travelling around the Earth in a rocket.</p>


	<h3>Birth to 36 months</h3>


	<p>Look at, talk about and compare scenes on land and in the sea with the children.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">CLL</span> – sustain attentive listening, responding to what they have heard by relevant comments, questions or actions.</p>


	<p>CD – express and communicate their ideas by using imaginative and role play.</p>


	<h2>3 Galaxy of stars</h2>


	<h3>Paint planets to create a view from the spaceship window</h3>


	<p><em><strong>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><em><strong>Shape, Space and Measures</strong></em></p>


	<p><strong>Development matters:</strong> show an interest in shape and space by playing with shapes or making arrangements with objects (30-50 months); select a particular named shape (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use language such as ‘circle’ or ‘bigger’ to describe the shape and size of solids and flat shapes.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Space-themed role-play area; black sugar paper; adhesive silver stars; tools and materials for splatter painting, for example, white paint, stiff brushes such as old toothbrushes, plastic trays and aprons; round discs of card in various sizes; paints and painting equipment; thread.</p>


	<h3>What to do</h3>


	<p>Invite the children to paint a set of stars on a large black background to create a colourful planetarium for the role-play area. Alternatively, provide tiny silver stars or splatter-painting equipment to create the effect of twinkling stars.</p>


	<p>Encourage the children to create planets by decorating round discs of card, on both sides, with abstract shapes and patterns. Hang the planets at varying heights around the rocket to represent distant planets hovering in space.</p>


	<p>Suggest that the children take turns to direct astronauts to one of the planets by giving descriptive directional clues, for example, ‘Fly past the red planet, turn left at the green planet and stop at the big planet’.</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<p>Give each child a copy of the ‘Rocket numbers’ photocopiable sheet to take home. Ask parents to help their children cut out the pictures and put them in the correct order by counting the dots on each.</p>


	<h3>Further ideas</h3>


	<p>Help the children to decorate a ride-on toy to represent a ‘moon buggy’ for moon-landing role play.</p>


	<p>Organise a role-play ‘control room’ nearby so that the astronauts can talk to engineers on earth.</p>


</div>

	<h3>Support</h3>


	<p>Let the children decorate the plants using finger paints. Help them to name and identify the shapes using words such as ‘round’, ‘circle’, ‘big’ and ‘small’.</p>


	<h3>Extension</h3>


	<p>Encourage mathematical language by asking the children questions such as ‘What shape is this planet?’, ‘Which planet is the biggest?’, ‘Is the blue planet bigger or smaller than the orange planet?’ and so on.</p>


	<h3>Birth to 36 months</h3>


	<p>Help the children to look out for round shapes in the setting.</p>


	<h3>Cross-curricular links</h3>


	<p>CD – respond in a variety of ways to what they see, touch and feel.</p>


	<p>PD – use a range of small and large equipment.</p>

