<h1>Happy Mother&#8217;s Day</h1>
<h4>9<sup>th</sup> February 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70510">Nursery Education Plus  March 2009</a></p>


<p class="author">By <strong>Jenni Tavener</strong> &#8212; <em>early years teacher and writer.</em></p>

<p class="intro">Let the children say thank you to their mums on Mother’s Day (22 March) with these extra-special gift ideas</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/be/f1/808747-88232152-176441.jpg" title="Happy Mother's Day" alt="Happy Mother's Day" /></div>

	<h2>Award-winning mum</h2>


	<p><strong>Personal, Social and Emotional Development</strong></p>


	<p>Be sensitive to individual circumstances. Talk to the children about all the caring things that their mum or special person does for them, for example, hugs them; cooks tasty meals; reads bedtime stories; takes them to the park; and so on. Explain that some people are given medals if they do something very special. Ask the children if they think their mum deserves a medal for everything she does? Provide the children with card discs and invite them to make a medal for their mum or special person by decorating the disc using a wide variety of decorative materials such as ribbons; silver foil; gold paper; colourful pens; pretty beads; sequins; and glitter. Help the children to attach the medal to a long length of ribbon so that their mum can wear the medal around her neck. Alternatively, use a short strip of ribbon and a safety pin to create a medal that can be pinned in place. Extend the activity by helping the children to decorate a small box with the words ‘Happy Mother’s Day’ for them to place the medal inside.</p>


	<h2>Love bug</h2>


	<p><strong>Creative Development</strong></p>


	<p>Invite the children to make a model of an imaginary ‘Love bug’ as an ‘I love you’ gift for their mum or special person. Provide an assortment of craft materials, for example, boxes; tubs; tubes; cartons; colourful paper; pens; paints; card; and fabric for the children to cut, shape, adapt and decorate to create an original model. Talk about the features that a ‘Love bug’ might have, for example, a big smile, happy eyes and special patterns such as hearts and kisses. When complete, encourage the children to describe their ‘Love bug’ by pointing out its special features, for example, ‘It is purple to match my mum’s favourite colour’; ‘It is pretty just like my mum’; or ‘It has a fluffy body because my mum is cosy’. Create an exhibition of ‘Love bugs’ in your setting for families to admire.</p>


	<h2>Made by me</h2>


	<p><strong>Physical Development</strong></p>


	<p>Invite the children to select a piece of crêpe paper in their mum’s favourite colour. Using just one colour, help the children to tear enough crêpe paper to fill a plastic beaker. Place the torn paper in a large plastic bowl and cover with warm water. Leave to soak for approximately three hours. Pour off the coloured water. Mix two teaspoons of salt into half a cup of flour. Gradually add this salt and flour mixture into the bowl of soggy crêpe paper. Stir continuously to create a stiff dough. Help the children to knead the dough until it resembles damp, pliable clay. Place a sheet of cling film over a small, upturned plastic dish. Pat the damp dough over the cling film and leave to dry for several days. Remove the plastic dish and peel away the cling film to reveal a colourful trinket pot in Mum’s favourite colour! Create a shiny surface by coating the pot with <span class="caps">PVA</span> glue.</p>


	<h2>Handy cushion</h2>


	<p><strong>Problem Solving, Reasoning and Numeracy</strong></p>


	<p>Invite the children to make a small, heart-shaped cushion, decorated with colourful handprints for their mum or special person on Mother’s Day. Provide the children with two identical hearts cut from a plain fabric such as cotton or calico. Help them to decorate one side of one heart shape with handprints using colourful fabric paints. Let them carefully use a permanent marker pen to write a simple message, name or pattern on the second heart, for example, ‘I love you’; ‘You’re the best’; or ‘To you from me’. Help the children to sew the two hearts together leaving a gap for stuffing, then sew up the gap to create a lovely handmade cushion for a bed, chair or car.</p>


	<h2>Handy cushion</h2>


	<p><strong>Problem Solving, Reasoning and Numeracy</strong></p>


	<p>Invite the children to make a small, heart-shaped cushion, decorated with colourful handprints for their mum or special person on Mother’s Day. Provide the children with two identical hearts cut from a plain fabric such as cotton or calico. Help them to decorate one side of one heart shape with handprints using colourful fabric paints. Let them carefully use a permanent marker pen to write a simple message, name or pattern on the second heart, for example, ‘I love you’; ‘You’re the best’; or ‘To you from me’. Help the children to sew the two hearts together leaving a gap for stuffing, then sew up the gap to create a lovely handmade cushion for a bed, chair or car.</p>


	<h2>Magic moments</h2>


	<p><strong>Communication, Language and Literacy</strong></p>


	<p>Invite the children to bring in a photograph showing a happy event with their mum or special person, for example, a holiday; day out; or family gathering. Help the children to make a colour photocopy of the photograph or to scan and print a copy using a computer. Cover the copied photograph, on both sides, using clear plastic film. Invite the children to cut the covered picture into several pieces to create a jigsaw. Place the jigsaw pieces in a small bag and tie a bow around the top. Invite the children to make a miniature copy of the photograph, by reducing the size on the photocopier or scanner. Use a hole-punch and ribbon to create a gift tag. Encourage the children to write a Mother’s Day message on the back of the gift tag, then tie it to the bag containing the jigsaw puzzle as a gift for their mum or someone special.</p>


	<h2>Hug of love</h2>


	<p><strong>Physical Development</strong></p>


	<p>Talk to the children about the saying ‘Love is like a circle’. Explain that this term is used because ‘love’, like a circle, can go on and on forever and never stop. Explain that a circle is also used by some people to represent a big hug. Invite the children to make a ‘hug of love’ for their mum or special person. Provide the children with a piece of air-drying clay and encourage them to roll it gently into a long sausage shape. Show the children how to turn the long shape into a circle by joining the two ends together. Help them to smooth over the join very carefully, then leave it to dry thoroughly. Invite the children to decorate their circle with colourful acrylic paints. If appropriate, suggest decorative ideas such as dots; stripes; flowers; letters; hearts; or random patterns.</p>


	<p>When their circles are dry, invite the children to tie a loop of fine braid or wool through the circle so that it can be hung on a cupboard door; dangled beneath a picture frame; or attached to a keyring. Invite the children to give their ‘Hug of love’ to their mum or special person on Mother’s Day as a keepsake.</p>


	<h2>Save all your kisses</h2>


	<p><strong>Knowledge and Understanding of the World</strong></p>


	<p>Provide the children with a rectangle of felt or non-fraying fabric and some colourful embroidery threads. Explain that in the past people used to make embroidery pictures, using a simple stitch called cross stitch, to decorate their home or to give away as a gift. Show the children how to sew a simple cross to represent a kiss. Invite the children to fill the rectangle with a random assortment of embroidered ‘kisses’, for example, small ‘kisses’, large ‘kisses’, some side by side and some overlapping. Help the children to mount their embroidery on to card or place it in a frame to create a special Mother’s Day gift for their mum or someone special.</p>

