<h1>Landing on the Moon</h1>
<h4>26<sup>th</sup> February 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69814">Literacy Time PLUS Ages 5 to 7 March 2009</a></p>


<p class="author">By <strong>Bev Long</strong> &#8212; Educational Consultant</p>

<p class="intro">This interactive multimodal recount tells the reader about the <em>Apollo 11</em> space mission &#8211; preparation and launch, landing and working on the Moon and the return to Earth.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>It includes the audio recording of the countdown and of Neil Armstrong’s historic words, and reveals some of the opinions of people watching the event. The recount is accessed through a calendar showing the most significant dates during the mission.</p>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/86/ad/floating-astronaut-177996.jpg" title="floating-astronaut.jpg" alt="floating-astronaut.jpg" /></div>

	<h2>Shared teaching and learning</h2>


	<h3>Before reading</h3>


	<p>Recap the key features of recounts. (The text type support materials and progression papers in the <em>Planning</em> section of the <strong>Primary Framework for Literacy</strong> provide specific details related to each year group).</p>


	<h3>Sharing the text</h3>


	<ul>
	<li>Now introduce the resource and read the opening sentences to the children. Discuss what they already know about Apollo 11 or other space missions.</li>
		<li>Show the calendar and ask whether it matters which date you look at first. Use this to assess the children’s understanding of recounts.</li>
		<li>Click on the calendar and look at each date in turn. Share read some of the text on each page, supporting both decoding and language comprehension. You may wish to do this over a few days.</li>
		<li>As you read each page together, make a collection of:</li>
	</ul>


	<h3>Time sequencing phrases<br /></h3>


	<p><strong>Eg, <em>Eventually; Finally; just after half past two; After three days flying; Sometime later; While everyone waited; While they were there; Then; The night before; One hour later;</em></strong><br /></p>


	<h3>New and subject-specific vocabulary</h3>


	<p><strong>Eg, <em>crew; launch pad; astronaut; commander; pilot; lunar module; blast off</em>.</strong></p>


	<h3>Note vocabulary:</h3>


	<p><strong><em>orbiting; made history; splashed down.</em></strong></p>


	<ul>
	<li>Use the questions and prompts on the photocopiable below to promote discussion during shared reading.</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Children should have experience of: listening to spoken language; using language to recreate roles and experiences; finding information in non-fiction texts to answer where, who, why and how questions; writing for various purposes, using features of different forms.</p>


</div>

	<h2>Speaking and listening</h2>


	<ul>
	<li>Provide a role-play area, a prop box or small world play linked to Apollo 11 and other space missions – real or imagined. Re-enact the events of the three days covered in the resource to explore how those involved or watching events – might have felt. Model the language used between astronauts and mission control, including technical vocabulary.</li>
		<li>Encourage the children to learn the famous quotes.</li>
	</ul>


	<h2>Guided and group activities</h2>


	<ul>
	<li>Invite the group to retell parts of the mission in role – as a first person recount. Encourage the children to include some of the sequencing language explored earlier. Record these with a digital recorder or take digital photographs of the children re-enacting the mission.</li>
		<li>Compare the children’s recounts with Neil Armstrong’s and Michael Collins’.</li>
		<li>Model writing sentences that sequence the events.</li>
		<li>Combine the pictures, recordings and text to create a multimodal recount.</li>
		<li>Link to dance and drama to explore the movement of the astronauts on the Moon. Support the children to describe what it feels like.</li>
		<li>In art and design technology, make models and pictures of the mission.</li>
	</ul>


<div class='additional-material'>

	<h2>Key learning outcomes:</h2>


	<ul>
	<li>To listen to audio extracts/express views about how information is presented;</li>
		<li>To use role play;</li>
		<li>To recognise the main elements/organisational features that shape different texts;</li>
		<li>To create simple texts on paper/screen that combine words/images/sounds;</li>
		<li>To begin to use subordination in relation to time;</li>
		<li>To compose sentences using tense consistently.</li>
	</ul>


</div>

	<h2>Plenary</h2>


	<ul>
	<li>At the end of each session, refer back to the new vocabulary and recount features used, pointing out how and why the children have been using them. Comment on how the children were using sequencing phrases as they told their recount to help make it clear for the listener, or explain how using the correct technical language makes it easier to explain the sequence of events.</li>
		<li>In pairs, or in a small group, ask the children to discuss what they have learned about the Apollo 11 mission and about recounts.</li>
	</ul>

