<h1>Persuasive texts</h1>
<h4>26<sup>th</sup> February 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69818">Literacy Time PLUS Ages 7 to 9 March 2009</a></p>


<p class="author">By <strong>David Clayton</strong> &#8212;Author</p>

<p class="intro">This leaflet offers four short examples of persuasive writing from different perspectives, linked by the theme of saving or appreciating the planet. They allow discussion of the purpose and effectiveness of persuasive text, and consideration of the impact of tone, layout and images.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/3a/5e/persuasivetexts-178032.jpg" title="persuasivetexts.jpg" alt="persuasivetexts.jpg" /></div>

	<p>These teachers&#8217; notes refer to the <strong><span class="caps">PRINT ONLY</span></strong> guided reading leaflet in <em>Literacy Time <span class="caps">PLUS</span></em> Ages 7 to 9, March 2009.</p>


	<h2>Before reading</h2>


	<ul>
	<li>Establish that everyone understands what ‘persuade’ means – briefly collect some ideas of when persuasion takes place: this might span everything from persuading a friend to share their crisps, to persuading the nation to vote for you to be Prime Minister. Encourage a wide range of examples.</li>
		<li>Discuss persuasive techniques in relation to the examples collected. These might include reasoning, using emotional language to make someone feel pity, guilt, responsibility or fear; exaggeration; offering benefits; appealing language; powerful adjectives. Make a list to display.</li>
		<li>Introduce the idea of concern for the environment – what do children already know about persuasion connected with this concept?</li>
	</ul>


	<h2>During reading</h2>


	<ul>
	<li>Share read each example in turn. Note the purpose of each text, the intended audience, and summarise the content to ensure understanding.</li>
		<li>List separately the technical words and the adjectives used in each example. </li>
		<li>Encourage readers to use appropriate expression when reading each piece, noting how the punctuation and sentence structure suggest how to do this.</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Children will need to be familiar with working together in small groups, negotiating a range of different views and practising listening skills.</p>


</div>

	<h2>Responding</h2>


	<ul>
	<li>Discuss which particular emotions each text is targeting in the reader – fear, anger, responsibility, guilt, pleasure, desire and so on.</li>
		<li>Talk about the specific features of each example – eg, the use of statistics and scientific language; the use of direct questions, capital letters and informal language; powerful appealing adjectives and reassuring claims about safety and experience; and formally sequenced facts.</li>
		<li>Consider the effect of images and design, and talk about how they reinforce the text.</li>
		<li>Discuss similarities and differences between the examples – eg, all four speak directly to the reader; two make use of images; two are formal and two informal; two represent different sides of the same debate; two use highly technical language, two use more emotional language.</li>
		<li>More able children may notice how, in the government minister’s speech, pre-emptive arguments are used, partially acknowledging opposing concerns and countering them – a sophisticated persuasive technique.</li>
	</ul>


	<h3>Speaking, listening and drama</h3>


	<ul>
	<li>Using the transcript and the flyer concerning the Kentish Vale power station, ask children in groups to list the main points of each argument, and then to decide as a group which side they would support and why. </li>
		<li>Choose a spokesperson from each group to report back to the class on their decision and any difficulties they encountered in arriving at it.</li>
		<li>Give groups different roles using the cards on the photocopiable below. Allow time for them to prepare their arguments and practise persuasive speeches before holding a public meeting at which all points of view will be heard. Work in role to hold the meeting, then out of role to evaluate the effectiveness of each group of speakers, analysing the persuasive techniques they used.</li>
	</ul>


	<h3>Ideas for writing</h3>


	<ul>
	<li>Use the arguments generated at the public meeting to write a persuasive letter to the government minister, detailing your opposition to the plans for a power station.</li>
		<li>Write a brief comment on each of the texts on the leaflet, explaining how they set out to persuade the reader.</li>
		<li>Make a collection of persuasive words and phrases used in the texts on the leaflet. </li>
		<li>Use the <span class="caps">SAT</span>-style worksheet below to interrogate the texts further.</li>
	</ul>

