<h1>What is a metaphor?</h1>
<h4>26<sup>th</sup> February 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69821">Literacy Time PLUS Ages 9 to 11 March 2009</a></p>


<p class="author">By <strong>Kevin McCann</strong> &#8212; Poet</p>

<p class="intro">The poster is designed to show children how to devise metaphors and change similes into metaphors during re-drafting. The exercises have all been tested in the classroom but you may wish to try them yourself first as it will help to have a few suggestions prepared and ready. For example, in the numbers and alphabet games, it is easy to think of metaphors for some letters or numbers (H, for example, is a rugby post) but what about G or K?</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/04/8f/metaphors-178101.jpg" title="metaphors.jpg" alt="metaphors.jpg" /></div>

	<h2>Author’s note</h2>


	<p>The poster activities are naturally graded, increasing in complexity as you work through them. However, some children might benefit from playing the numbers and alphabet games first. I use similes from time to time in my own poems but I try not to overuse them, any more than I would try to use an adjective in every sentence. And remember, not all similes can be easily transformed into metaphors. There’s no ‘one size fits all’ rule in writing. I often find that in order for a line to scan, I must use a simile, but I will always prefer a metaphor.</p>


	<h2>Shared teaching and learning</h2>


	<h3>Reading and responding</h3>


	<ul>
	<li>Read through the poster as a class, pausing to discuss the examples and to ensure understanding. Ask the children to suggest further examples each time. </li>
		<li>Play the alphabet and numbers game – working as a whole class, or in pairs feeding back ideas to the class. </li>
		<li>After you have completed each exercise on the poster, ask as many children as possible to read out their work so they can hear it for themselves. Do their words sound right? Introduce the term ‘scan’, explaining that language is a sound as well as a sense. Discuss how, even while reading silently, we are simultaneously ‘hearing’ words in our head. We can ‘see’ lines that scan badly if we ‘hear’ them as we read.</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>By this stage, many children will already be familiar with similes. The following activities build on that knowledge rather than replacing it.</p>


	<h2>Key learning outcomes:</h2>


	<ul>
	<li>To introduce the children to metaphors;</li>
		<li>To explore how writers use language for effects and impact;</li>
		<li>To edit and improve own writing.</li>
	</ul>


</div>

	<h3>Shared writing</h3>


	<ul>
	<li>Use the animal metaphor work as the starting point for writing animal poems. </li>
		<li>The weather ‘simile into metaphor’ sentences would make good openings for pieces of descriptive writing.  </li>
		<li>Encourage the children to read their work aloud to a partner before finalising it or handing it in. Praise effective metaphors and suggest modifications where necessary. The best images are always the ones that arise naturally within the context. They should enhance, not distract.</li>
	</ul>


	<h2>Group and independent activities</h2>


	<ul>
	<li>Follow up the alphabet and numbers game by exploring how symbols can be used instead of words to communicate meaning. Think of examples, such as road signs, pictographic writing systems like the Ancient Egyptian hieroglyphics or Chinese pictograms (eg, the Chinese pictogram for the East is a simple picture of the sun rising behind a tree). Can the children invent some hieroglyphics or pictograms? Eg:<br />
<strong>A smiley face = happiness</strong><br />
<strong>A man digging = roadworks ahead</strong><br /></li>
		<li>Ask the children to complete the poem on the activity sheet below. Before they begin, look at some large scale photographs of ants and other insects in various habitats to gain ideas about scale and size. Encourage the children to jot down metaphors as they think of them. For other ideas, read the opening chapter of the classic <em>Alice’s Adventures in Wonderland</em> or watch extracts from the film <em>Honey, I Shrunk the Kids</em>.</li>
	</ul>


<div class='additional-material'>

	<h2>Further reading</h2>


	<p><strong>How to write similes</strong> – A2 poster published in <em>Literacy Time <span class="caps">PLUS</span></em> Ages 7 to 9, January 2008, Issue 57. Also available to download <a href="http://magazines.scholastic.co.uk/content/1537">here</a></p>


</div>

	<h2>Plenary</h2>


	<ul>
	<li>Discuss the advantages and disadvantages of pictograms over phonetic alphabets. Eg, symbols like ‘tree’ would be easy to understand, but how would you write ‘scared’ or ‘alone’? If English used pictograms instead of the alphabet, how many symbols would we need to learn?  </li>
		<li>Play the alphabet game using lower case letters instead of capitals.</li>
		<li>Perform your alphabet poem in assembly. Each child can hold a card with their letter on it and say their letter followed by their metaphor.</li>
	</ul>

