<h1>St David’s Day (Dydd Dewi Sant)</h1>
<h4>23<sup>rd</sup> February 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/69813">Literacy Time PLUS Ages 5 to 7 January 2009</a></p>


<p class="author">By <strong>Rebecca Wallis</strong> &#8212; <em>Literacy Time <span class="caps">PLUS</span></em> Assistant Editor</p>

<p class="intro">Saint David, (Dewi Sant) is the patron saint of Wales who lived in the middle of the 1st Century.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/0f/31/800px-flag-of-waleswebready-206545.jpg" title="800px-flag_of_waleswebready.jpg" alt="800px-flag_of_waleswebready.jpg" /></div>

	<p>Because he lived so long ago, we don’t know very much about him, but in the 11th century a man called Rhygyfarch, the son of the bishop of St David’s Cathedral wrote an account of his life based upon books found in the cathedral, telling stories about him that may be true, or may be based on legend and myth.</p>


	<p>David was born in Wales into the royal family of Ceredigion. No one is sure of his exact birthday, but it is thought that he was born some time before 500AD. One story about him says that when he was baptised, the blind man holding him was cured by the water used for his baptism, and a spring of fresh water came from the ground.</p>


	<p>He was educated at a monastery near Aberaeron, in Carmarthenshire, under Saint Paulinus of Wales, a blind monk who he is said to have cured of his blindness by touching his eyes. Recognising him to be a very special man, Saint Paulinus sent him to become a missionary and he became well-known as a teacher and preacher, spreading Christianity among many Celtic tribes.</p>


<div class='additional-material'>

	<h2>St David’s day celebrations</h2>


	<p>Many schools in Wales celebrate St David’s Day and often children will dress in the national costume of Wales. Boys wear a white shirt, Welsh flannel waistcoat, black trousers with long woollen socks pulled up over them and black shoes and sometimes a flat hat. Girls wear a petticoat with a Welsh flannel overdress, a shawl and apron, and a tall ‘stovepipe’ hat with a white frilled bonnet underneath. Others wear a daffodil or leek instead of costume, and buildings fly the Welsh Flag with its red dragon (Y Ddraig Coch).</p>


	<p>Traditional celebrations include Welsh folk dances, singing Welsh folk songs and writing poems and reading them aloud. Often these will form part of an Eisteddfod – a festival of singing, dancing and reciting where prizes will be awarded.</p>


	<p>Food may include Welsh traditional dishes, such as cawl (lamb and leek broth), the currant bread called bara brith or Welsh cakes, which are a little bit like flat scones with sultanas in.</p>


</div>

	<p>As part of his work spreading Christianity, Saint David founded 12 monasteries and churches in Wales, Cornwall and Britanny. He became a bishop, and then Archbishop of Wales after a pilgrimage to Jerusalem.</p>


	<p>The monks in St David’s monasteries had to work very hard. They had to get up and dawn, plough their fields by pulling the plough themselves, eat only vegetables and bread with salt and herbs – never meat – and drink only milk or water. They spent the evenings in prayer, reading and writing, keeping mostly silent, and were not allowed to own any personal possessions. However, this kind of life wasn’t popular with all his monks, and in one of his monasteries it is said that someone tried to poison St David’s bread. Legend has it that St Scuthyn travelled from Ireland on the back of a sea-monster to warn him of the plot, and when St David blessed the bread and ate it he wasn’t harmed.</p>


	<p>St David is said to have worked many miracles. He was able to make springs of water appear on dry land and stories tell of him bringing people and animals back to life. One of the most famous miracles he is said to have performed took place when he was preaching in Llanddewi Brefi. People at the back of the congregation complained that they could not see or hear him, and, as a white dove came to settle on his shoulder, the ground rose up underneath him so everyone was able to see him hear his words.</p>


<div class='additional-material'>

	<h2>Welsh cake recipe</h2>


	<p><img src="http://images.scholastic.co.uk/assets/a/19/49/welsh-cakeswebready-206571.jpg" title="welsh_cakeswebready.jpg" alt="welsh_cakeswebready.jpg" /></p>


	<p><strong>Ask an adult to help with this</strong></p>


	<p>To cook these you will need a bakestone, a heavy iron griddle, or a frying pan with a thick bottom.</p>


	<p><strong>Ingredients</strong><br />
225g sieved self-raising flour <br />
110g butter<br />
1 egg<br />
80g sultanas or dried fruit<br />
milk, if needed<br />
80g caster sugar<br />
extra butter, for greasing<br /></p>


<strong>Method</strong> <br />
	<ol>
	<li>Mix the flour and the sugar together, then add the butter, rubbing it with the flour and sugar between your hands until it looks like breadcrumbs. </li>
		<li>Add the dried fruit and the egg, mixing with a wooden spoon to combine the ingredients. </li>
		<li>Make a ball of dough. If the mixture is a little bit too dry, add a splash of milk. </li>
		<li>Roll out the pastry until it is about 5mm thick, then cut into rounds using a round pastry cutter. </li>
		<li>Rub your bakestone or griddle with a little bit of butter. Put the griddle onto direct heat, (an oven ring) and when it has heated up, place the Welsh cakes onto the griddle, for about 5 or 6 minutes, turning once after 2-3 minutes. Each side should be medium brown before you turn.</li>
		<li>Take them off the bakestone or griddle, and dust with caster sugar while they are still warm. </li>
		<li>Eat them!</li>
	</ol>


</div>

	<p>St David also has connections with Glastonbury Abbey. He is said to have organised the building of an extension to the abbey, and to have donated a travelling altar which included a great sapphire. There are historical documents which confirm that an altar with a sapphire was confiscated from the Abbey by King Henry <span class="caps">VIII</span> when he dissolved the monasteries.</p>


	<p>St David is reputed to have lived for over 100 years, and died on 1 March 589. In his last sermon, he said: “Do the little things that you have seen me do”, suggesting that people can make a difference just by changing the small things they do in life.</p>


	<p>He was buried in Pembrokeshire, in a town that is now called St David’s, in the monastery he founded. In the 11th Century, a Cathedral was built in his honour on this site, and his shrine became a place of pilgrimage. As, traditionally, places with cathedrals are given the status of a city, St David’s has become a city &#8211; the smallest in the UK, with a population of less than 2000.</p>


<hr />
Find out more about Wales in <em>Literacy Time <span class="caps">PLUS</span></em> for ages 9 to 11, November 2007 <a href="http://magazines.scholastic.co.uk/mag_issues/21832">here</a>. Or take a look at our interactive poster about Llanelli <a href="http://magazines.scholastic.co.uk/content/4335">here</a>.
<hr />

