<h1>Childminders&#8217; focus</h1>
<h4>9<sup>th</sup> March 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70511">Nursery Education Plus April 2009</a></p>


<p class="author">By <strong>Allison Lee</strong> &#8212; <em>childminder, author and tutor.</em></p>

<p class="intro">Allison Lee offers advice on terminating a contract; claiming for a television licence against expenses; and provides some imaginary world activity ideas</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<h2>Expert advice</h2>


	<h3>Giving notice</h3>


	<p>If you or a parent wishes to terminate a contract, it is good practice to do so in writing. A period of notice should be negotiated in order to protect you against the sudden loss of earnings if parents decide to end the contract. This notice period will also make it easier for parents to make alternative arrangements should you be the one who wishes to terminate the existing arrangement.</p>


	<p>It is professional practice for childminders to give notice to parents in writing. However, despite a request for the verbal notice to be followed up in writing, this is not always forthcoming, either because the parents do not consider it necessary, or because they do not have time to write a formal termination of contract letter. If this is the case, it is advisable for the childminder to write to the parent confirming that notice has been given by them, and include the date from which the notice period starts, setting out the terms of the notice period.</p>


	<p>Make two copies of the termination letter. Ask the parent to sign one copy that you keep, and the other copy should be retained by the parent, ensuring agreement of the termination arrangements.</p>


	<h2>Q&#38;A</h2>


	<p><strong>I use my television while childminding. Can I claim the cost of the television set and licence against expenses?</strong></p>


	<p>This is rather a ‘grey’ area because, although many childminders do use their television during the course of the day while caring for children, they also watch it at times when they are not childminding.</p>


	<p>You can therefore only claim expenses for the cost of a television licence, and capital allowances, on a television set, if the television is wholly and exclusively used for childminding. If you do decide to make these claims you must be able to show that you only use the television in your childminding work.</p>


	<p>Childminders who work in domestic premises do not need a special licence to show films, for example, DVDs or videos, or play music to the children in their care.</p>


	<h2>Activities</h2>


	<h2>Imaginary worlds</h2>


	<p><img src="http://images.scholastic.co.uk/assets/a/a7/c5/fairies-215209.jpg" title="Fairy wonderland" alt="Fairy wonderland" /></p>


	<h3>Fairy wonderland</h3>


	<p><strong>Make sparkly fairies</strong></p>


	<p><strong><em>Creative Development</strong></em></p>


	<h3>What you need</h3>


	<p>Coloured card; sequins; glitter; tin foil; wool or shredded foil; stickers; glue; display board.</p>


	<h3>What to do</h3>


	<p>Cut out a large triangle from coloured card as a template for a fairy’s body, two smaller ones for wings, and a circle for the head. Help the children to glue the wings and head to the body, then draw a face on the head.</p>


	<p>Add wool or strips of foil to the head for the fairy’s hair, and a silver crown made from tin foil.</p>


	<p>Cut two strips of card and fold over several times to create a concertinaed effect. Add these to the body for legs.</p>


	<p>Invite the children to decorate their fairy with glitter, sequins and stickers. Attach the fairies to a display board to create a fairy wonderland.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/43/8f/003-215215.jpg" title="Make a den" alt="Make a den" /></p>


	<h3>Welcome to my den</h3>


	<p><strong>Make a den</strong></p>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<h3>What you need</h3>


	<p>Table; chairs or a clothes horse; sheets; blankets; role-play objects.</p>


	<h3>What to do</h3>


	<p>Arrange the table and chairs or clothes horse so that the children can climb underneath, then drape over the sheets and blankets.</p>


	<p>Invite the children to crawl inside the den and encourage them to make hiding places.</p>


	<p>Place a selection of role-play objects inside and let the children decide what their ‘den’ is going to be.</p>

