<h1>Creative topic: Seaside</h1>
<h4>16<sup>th</sup> March 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70490">Child Education PLUS April 2009</a></p>


<p class="author">By <b>Michael Ward</b> &#8212; Freelance education writer</p>

<p class="intro">Sun, sea… time travel and magic! Take your class on a trip to Corrany Cove – a seaside holiday they’ll never forget</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/f2/ab/sch-249819.jpg" title="Seaside creative topic" alt="Seaside creative topic" /></div>

	<p>The following seaside topic uses a story as the stimulus for the cross-curricular activities. It follows the adventures of three children – Sophie, Harriet and Scott – who are visiting their grandmother for the summer holidays. At first, the children can think of nothing worse than leaving their home and friends behind… but they soon discover there is more to their Grandma Jess than meets the eye!</p>


	<p><br></p>


	<p>Search for more seaside-related activities and resources <a href="http://magazines.scholastic.co.uk/search/search?&#38;now=mag_id&#38;search[mag_id]=21880&#38;search[query]=seaside">here.</a></p>

