<h1>Playing the piano can improve reading skills, says report</h1>

<h4>16<sup>th</sup> March 2009</h4>


<p class="intro"></p>



	<blockquote><p>Having regular music lessons can improve children&#8217;s reading skills, according to a study  published today in the <span class="caps">USA</span>.</p></blockquote>


<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>Children who receive a structured programme of musical training, in increasingly complex rhythmic, tonal, and practical skills, tend to display superior performance in cognitive reading skills compared with their non-musically trained peers, according to a study in the journal <em>Psychology of Music</em>, published by <span class="caps">SAGE</span>.</p>


	<p>Joseph M Piro and Camilo Ortiz from Long Island University, <span class="caps">USA</span>, studied children in two US elementary schools, one of which routinely trained children in music and one that did not. Their aim: to investigate the hypothesis that children who have received keyboard instruction as part of a music curriculum increasing in difficulty over successive years would demonstrate significantly better performance on measures of vocabulary and verbal sequencing than students who did not receive keyboard instruction.</p>


<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/a0/c4/childpiano-250192.jpg" title="childpiano_1237220385.jpg" alt="childpiano_1237220385.jpg" /></div>

	<p>Piro and Ortiz looked at two specific reading subskills – vocabulary and verbal sequencing – which, they say, are <em>“cornerstone components in the continuum of literacy development and a window into the subsequent successful acquisition of proficient reading and language skills, such as decoding and reading comprehension.”</em></p>


<br />
	<h2>Music and language</h2>


	<p>The report&#8217;s authors say that there are similarities in the way that individuals interpret music and language and <em>“because neural response to music is a widely distributed system within the brain…. it would not be unreasonable to expect that some processing networks for music and language behaviors, namely reading, located in both hemispheres of the brain would overlap.”</em></p>


	<p>The investigators selected second-grade children from two school sites located in the same geographic vicinity and with similar demographic characteristics, to ensure the two groups of children were as similar as possible apart from their music experience.</p>


	<p>Children in the intervention school (n=46) studied piano formally for a period of three consecutive years as part of a comprehensive instructional intervention program. Children attending the control school (n=57) received no formal musical training on any musical instrument and had never taken music lessons as part of their general school curriculum or in private study. Both schools followed comprehensive balanced literacy programmes that integrate skills of reading, writing, speaking and listening.</p>


<br />
	<h2>Significantly better</h2>


	<p>All participants were individually tested to assess their reading skills at the beginning and end of a 10-month period, using the Structure of Intellect (SOI) measure.</p>


	<p>Results analysed at the end of the year showed that the music-learning group had significantly better vocabulary and verbal sequencing scores than did the non-music-learning control group.</p>


	<p>This finding, conclude the authors, provides evidence to support the increasingly common practice of <em>“educators incorporating a variety of approaches, including music, in their teaching practice in continuing efforts to improve reading achievement in children”.</em></p>


<br />
	<h2>Complex analysis</h2>


	<p>One aspect of the results required complex analysis. When the study began, the music-learning group had already experienced two years of piano lessons yet their reading scores were nearly identical to the control group at the start of the experiment.</p>


	<p>This led Piro and Ortiz to ask, <em>“why did they not significantly outscore the musically naïve students on both measures at the outset?”</em></p>


	<p>They proposed three possible explanations:</p>


	<p>First, children were tested for their baseline reading skills at the beginning of the school year, after an extended holiday period. The absence of any music instruction during a lengthy summer holiday may have reversed any earlier temporary cortical reorganization experienced by students in the music group.</p>


	<p>Secondly, the duration of music study required to improve reading and associated skills is fairly long, so the initial two years were not sufficient.</p>


	<p>The final explanation involves the developmental time period during which children were receiving the tuition. During the course of their third year of music lessons, the music-learning group was in second grade and approaching the age of seven. There is evidence that there are significant spurts of brain growth and gray matter distribution around this developmental period and, coupled with the increased complexity of the study matter in this year, brain changes that promote reading skills may have been more likely to accrue at this time than in the earlier two years.</p>


<br />
	<h2>When and what to teach</h2>


	<p><em>“All of this adds a compelling layer of meaning to the experimental outcomes, perhaps signalling that decisions on ‘when’ to teach are at least as important as ‘what’ to teach when probing differential neural pathways and investigating their associative cognitive substrates,”</em> note the authors.</p>


	<p><em>“Study of how music may also assist cognitive development will help education practitioners go beyond the sometimes hazy and ill-defined ‘music makes you smarter’ claims and provide careful and credible instructional approaches that use the rich and complex conceptual structure of music and its transfer to other cognitive areas,”</em> they conclude.</p>


<br />
	<h3>More information</h3>


	<p><em>The effect of piano lessons on the vocabulary and verbal sequencing skills of primary grade students</em> by Joseph M Piro and Camilo Ortiz is available free <a href="http://pom.sagepub.com/">online</a> for a limited period, before being printed in the <em>Journal Psychology of Music</em>, published by <a href="www.sagepublications.com"><span class="caps">SAGE</span></a>.</p>







  	</div><!-- /inner-wrap or /inner -->	
	</div><!--/#content -->
	
	<div id="extra">
		







<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=46&amp;n=853439"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=46&amp;n=853439"  alt="" /></a>



<!-- promo 1 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=41&amp;n=894026"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=41&amp;n=894026"  alt="" /></a>

<!-- promo 2 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=42&amp;n=425151"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=42&amp;n=425151"  alt="" /></a>

<!-- promo 3 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=43&amp;n=155512"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=43&amp;n=155512"  alt="" /></a>

<!-- promo 4 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=44&amp;n=880952"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=44&amp;n=880952"  alt="" /></a>

<!-- promo 5 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=45&amp;n=541047"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=45&amp;n=541047"  alt="" /></a>


<div id="top_ten">
	<ul>
		<li><a href="#tabOne"><span>Top downloads</span></a></li>
		<li><a href="#tabTwo"><span>Top searches</span></a></li>
	</ul>

				
	
	<div  id="tabOne" class="topDownloads">
		<h4>Top downloads this month</h4>		
		<ol>

	<li><a href="http://magazines.scholastic.co.uk/resources/51936">Fun fillers: Getting to know you</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52920">&#8216;Talk about&#8230; My family&#8217; cards</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/50792">Punctuation practice</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52918">Advice sheets for parents</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/15797">Daily Times Tables Teasers interactive games</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52922">My family &#8211; Observation and assessment chart</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/51831">Maths games</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52917">My family &#8211; <span class="caps">EYFS</span> cross-curricular links chart</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/55329">Rhythm and rhyme circle-time cards</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/54430">Roald Dahl Day activities</a></li>

</ol>
	</div>
			


	

<div id="tabTwo" class="topDownloads">
	<h4>This month's most popular searches</h4>		
	<ol>
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=autumn" rel="nofollow">autumn</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=pirates" rel="nofollow">pirates</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=harvest" rel="nofollow">harvest</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=nursery+rhymes" rel="nofollow">nursery rhymes</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=people+who+help+us" rel="nofollow">people who help us</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=victorians" rel="nofollow">victorians</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=space" rel="nofollow">space</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=tudors" rel="nofollow">tudors</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=castles" rel="nofollow">castles</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=dinosaurs" rel="nofollow">dinosaurs</a></li>
	</ol>
</div>
		


</div><!-- end top_ten -->

<div id="teachertalk">
    <img src="/images/magazines/teachertalk.jpg" height="100" width="100" alt="teacher talk"/>
    <p>Share a teaching tip, help another teacher or simply let off steam when you've had a tough day.</p>
    <p><a href="http://magazines.scholastic.co.uk/forums">Start talking today</a></p>
</div>


<div id="sendtoafriend">
	<h3>Send to a friend</h3>
	
	<form action="/mags_online/content/email_page" method="post">
	<fieldset>
	<input id="last_action" name="last_action" type="hidden" value="show" />	<input id="last_id" name="last_id" type="hidden" value="6850" />	<label for="stafemail">Add their email here</label>
	<input id="stafemail" name="friend[email]" size="30" type="text" />
	<input class="button" name="commit" type="submit" value="Send now" />
	</fieldset>
	</form>
</div>

<div id="newslettersignup">

	<h3>Newsletter signup</h3>
	<p>Be the first to know about our latest early years and primary resources &#151; subscribe to our FREE Editor's emails.</p>
	<a href="/customer/profile" class="calltoaction">Signup today!</a>
	
</div><!--/#newslettersignup -->


	</div><!-- /extra -->
	
	
  <!-- start footer -->
  <div id="universal-footer" class="universal-footer">
  <ul id="footer-navigation" class="footer-navigation">
    <li><a href="http://www.scholastic.co.uk/aboutus">About</a></li>
    <li><a href="http://www.scholastic.co.uk/contactus">Contact</a></li>
    <li><a href="http://www.scholastic.co.uk/environmental">Environmental Information</a></li>
    <li><a href="http://www.scholastic.co.uk/recycling">Recycling Electrical Equipment</a></li>
    <li><a href="http://www.scholastic.co.uk/conditions">Conditions of use</a></li>
    <li><a href="http://www.scholastic.co.uk/privacy">Privacy</a></li>
</ul>

  <p class="copyright">Copyright &copy; 2008-2009 Scholastic Ltd.</p>
  
  </div><!-- /footer -->
  


</div><!-- /page -->

<!-- start footer -->


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2673375-5");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- crazyegg code -->
<script type="text/javascript" src="http://cetrk.com/pages/scripts/0008/1045.js"> </script>
</body>
</html>
