	<h1>Scholastic Education PLUS - teach the way you want to...</h1>
	<span style="background-image: url('http://images.scholastic.co.uk/images/magazines/banners/home_banner.jpg')"></span>
</div><!--/#banner-->

<!-- 
 <div id="introtext">
        <p>Scholastic Education <span class="caps">PLUS</span> offers you a fresh supply of creative <a href="http://magazines.scholastic.co.uk/search/new">resources</a> every week. There are thousands to choose from &#8212; <a href="http://magazines.scholastic.co.uk/search/new">take a look</a>!</p>
 </div>
 -->

<div id="resources">

	<h3>Find a resource or an article</h3>

	<p><strong>99</strong> new teaching resources added this month.
		That brings our resource total up to <strong>6811</strong>.</p>

	<div id="search_form">


	<form action="/search/search" id="search" method="get">
		<fieldset>

			<label for="q">Search now</label>
	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" />
	 	   
        <p><a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a></p>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->

	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources now!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-wrap">

<div class="inner-l">


  
	<div class="maghero panel-l1 clearfloat">
		<h2><a href="http://magazines.scholastic.co.uk/mag_issues/70540" title="Junior Education PLUS magazine"><img alt="Junior Education PLUS magazine" src="/images/magazines/headings/heading_je_plus.gif?1228233632" /></a></h2>
		<a href="http://magazines.scholastic.co.uk/mag_issues/70540"><img alt="Junior Education Plus October 2009" class="cover border" height="160" src="http://images.scholastic.co.uk/assets/a/15/d6/123458-medium-334335.jpg" width="113" /></a>
		<a href="http://magazines.scholastic.co.uk/mag_issues/70540" class="calltoaction more">Read more</a>
		<a href="http://magazines.scholastic.co.uk/subscribe?mag_ids%5B%5D=21881" class="calltoaction sub">Subscribe now</a>

		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8602">Weather &#38; nature</a></strong> Take a look at our weather and nature-themed ideas: from how to construct a weather station to an array of art activities</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/7013"><strong><span class="caps">WIN</span></strong> an indoor climbing frame!</a></strong> Enter our competition and be in with a chance of winning an indoor climbing frame worth more than £1000</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8601">Philosophy: Sometimes I just sit and think&#8230;</a></strong> Using a philosophical approach in subject teaching can help underpin understanding and cultivate independent learning</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8539">Milking maths: Shape</a></strong> What is a rectangle? Spending time investigating simple shape questions will lead to a deeper level of understanding<img alt="Subscriber only" class="inline-icon" src="/images/magazines/stickers/subscriberonly.gif?1228233637" /></p>
		
	</div>

	<div class="maghero panel-l1 clearfloat">
		<h2><a href="http://magazines.scholastic.co.uk/mag_issues/70497" title="Child Education PLUS magazine"><img alt="Child Education PLUS magazine" src="/images/magazines/headings/heading_ce_plus.gif?1228233632" /></a></h2>
		<a href="http://magazines.scholastic.co.uk/mag_issues/70497"><img alt="Child Education PLUS October 2009" class="cover border" height="160" src="http://images.scholastic.co.uk/assets/a/a2/0a/123415-medium-331922.jpg" width="113" /></a>
		<a href="http://magazines.scholastic.co.uk/mag_issues/70497" class="calltoaction more">Read more</a>
		<a href="http://magazines.scholastic.co.uk/subscribe?mag_ids%5B%5D=21880" class="calltoaction sub">Subscribe now</a>

		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8479">Emergency!</a></strong> Help children to be safety savvy</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8469">Literacy: Digging up dinosaurs</a></strong> Marvel at the magnificence of dinosaurs as they come alive in this fascinating children’s information book</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8470">It&#8217;s their art: Autumn</a></strong> Invite children to explore autumn using wood, wool and fabric in this new creative series</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8471"><span class="caps">MFL</span>: Ready-made French Week</a></strong> Give your class a head start in languages with this ready-made week of French activities</p>
		
	</div>

	<div class="maghero panel-l1 clearfloat">
		<h2><a href="http://magazines.scholastic.co.uk/mag_issues/70520" title="Nursery Education PLUS magazine"><img alt="Nursery Education PLUS magazine" src="/images/magazines/headings/heading_ne_plus.gif?1228233632" /></a></h2>
		<a href="http://magazines.scholastic.co.uk/mag_issues/70520"><img alt="Nursery Education PLUS October 2009" class="cover border" height="160" src="http://images.scholastic.co.uk/assets/a/6e/a8/123438-medium-328735.jpg" width="113" /></a>
		<a href="http://magazines.scholastic.co.uk/mag_issues/70520" class="calltoaction more">Read more</a>
		<a href="http://magazines.scholastic.co.uk/subscribe?mag_ids%5B%5D=21882" class="calltoaction sub">Subscribe now</a>

		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8354">Rhythm and rhyme: Time to rhyme</a></strong> Introduce the children to simple phonics and phonemes with these fun rhyming activities</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8355">Rhythm and rhyme: Feel the rhythm</a></strong> Get into the beat and focus on the children’s responses to rhythm in different types of music<img alt="Subscriber only" class="inline-icon" src="/images/magazines/stickers/subscriberonly.gif?1228233637" /></p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8350">Swine flu</a></strong> Swine flu is now officially the first flu pandemic for 40 years, and it is feared that millions of people will be infected. Dr Gillian Jenkins explains how it can affect young children</p>
		
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8368">Dad&#8217;s the word</a></strong> Parents, on the whole, are the most important people in children’s lives, so why is it so tough to involve fathers 
in children’s early years care, and how would involving 
them more benefit a child’s development?<img alt="Subscriber only" class="inline-icon" src="/images/magazines/stickers/subscriberonly.gif?1228233637" /></p>
		
	</div>


  <div id="littime" class="maghero panel-l1 clearfloat">

	<h2 id="lt"><a href="/literacy_time"><img alt="Literacy Time Plus" src="/images/magazines/headings/heading_literacy_time_plus.gif?1228233632" /></a></h2>


	<div>

		<a href="http://magazines.scholastic.co.uk/mag_issues/72872" class="lt_cover"><img alt="Literacy Time PLUS Ages 5 to 7 September 2009" class="border" height="120" src="http://images.scholastic.co.uk/assets/a/97/20/126723-small-326332.jpg" width="85" /></a>

		<h4><a href="http://magazines.scholastic.co.uk/mag_issues/72872">Literacy Time PLUS Ages 5 to 7 magazine</a></h4>

	
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8657">Friday was Poet&#8217;s Day at Brooke VC CofE Primary School</a></strong> Last Friday, 18th September, was Poet&#8217;s Day at Brooke VC CofE Primary School in Norfolk, as the school celebrated winning the <em>Literacy Time <span class="caps">PLUS</span></em> Performance Poetry Competition with a visit from poet Paul Cookson. Helen Watts reports</p>
	
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8231">Walking the Dog</a></strong> This humorous poem by Brian Moses will appeal to most children from Year 1 up. The vocabulary is fun and words are easy to decode using phonics and simple word patterns.</p>
	

		<a href="http://magazines.scholastic.co.uk/mag_issues/72872" class="calltoaction sub">Read more</a>
		<a href="http://magazines.scholastic.co.uk/subscribe?mag_ids%5B%5D=21883" class="calltoaction more">Subscribe now</a>
	</div><!-- /lit time issue -->

	<div>

		<a href="http://magazines.scholastic.co.uk/mag_issues/72875" class="lt_cover"><img alt="Literacy Time PLUS Ages 7 to 9 September 2009" class="border" height="120" src="http://images.scholastic.co.uk/assets/a/4d/37/126726-small-326419.jpg" width="85" /></a>

		<h4><a href="http://magazines.scholastic.co.uk/mag_issues/72875">Literacy Time PLUS Ages 7 to 9 magazine</a></h4>

	
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8657">Friday was Poet&#8217;s Day at Brooke VC CofE Primary School</a></strong> Last Friday, 18th September, was Poet&#8217;s Day at Brooke VC CofE Primary School in Norfolk, as the school celebrated winning the <em>Literacy Time <span class="caps">PLUS</span></em> Performance Poetry Competition with a visit from poet Paul Cookson. Helen Watts reports</p>
	
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8239">The Money Game</a></strong> This money-themed interactive glossary game challenges children to match words/phrases to their definitions. With links to numeracy it will help pupils make sense of the many ‘credit crunch’ news stories that are so topical in the media.</p>
	

		<a href="http://magazines.scholastic.co.uk/mag_issues/72875" class="calltoaction sub">Read more</a>
		<a href="http://magazines.scholastic.co.uk/subscribe?mag_ids%5B%5D=21884" class="calltoaction more">Subscribe now</a>
	</div><!-- /lit time issue -->

	<div>

		<a href="http://magazines.scholastic.co.uk/mag_issues/72878" class="lt_cover"><img alt="Literacy Time PLUS Ages 9 to 11 September 2009" class="border" height="120" src="http://images.scholastic.co.uk/assets/a/d9/d2/126729-small-326506.jpg" width="85" /></a>

		<h4><a href="http://magazines.scholastic.co.uk/mag_issues/72878">Literacy Time PLUS Ages 9 to 11 magazine</a></h4>

	
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8322">Reciprocal teaching</a></strong> David Wray examines reciprocal teaching: an approach to teaching reading comprehension which, he feels, deserves to be more widely used in the UK.</p>
	
			<p><strong><a href="http://magazines.scholastic.co.uk/content/8657">Friday was Poet&#8217;s Day at Brooke VC CofE Primary School</a></strong> Last Friday, 18th September, was Poet&#8217;s Day at Brooke VC CofE Primary School in Norfolk, as the school celebrated winning the <em>Literacy Time <span class="caps">PLUS</span></em> Performance Poetry Competition with a visit from poet Paul Cookson. Helen Watts reports</p>
	

		<a href="http://magazines.scholastic.co.uk/mag_issues/72878" class="calltoaction sub">Read more</a>
		<a href="http://magazines.scholastic.co.uk/subscribe?mag_ids%5B%5D=21885" class="calltoaction more">Subscribe now</a>
	</div><!-- /lit time issue -->

</div><!-- /.littime -->


</div><!--/.inner-l -->



<div class="inner-r">
	
	  <div class="promobanner image">
		  <a href="howto_register"><img alt="How to register" src="/images/magazines/promos/registration_promo.jpg?1228233632" /></a>
	  </div>
	


		<!-- calendar -->
		
	<div id="minical" class="panel-l2 clearfloat" onclick="window.location='http://magazines.scholastic.co.uk/content/calendar'; return true;">

		<h3>This month&#39;s calendar</h3>

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><th colspan="3" style="background: url(/images/magazines/calendar/mini-cal/minical_sep.gif) no-repeat 50% 0; height: 59px; text-indent: -9999px;"><a href="http://magazines.scholastic.co.uk/content/calendar">Calendar for Sep 2009</a></th></tr>
		
			<tr id="minical-date">
				<td class="feat1" style="background: #fff url(http://images.scholastic.co.uk/assets/a/6e/83/mountain-103938.jpg) no-repeat 0 0;"><span class="minical-date">24</span></td><td class="feat2" style="background: #fff url(http://images.scholastic.co.uk/assets/a/c6/91/viking-2-271937.jpg) no-repeat 0 0;"><span class="minical-date">25</span></td><td class="feat3" ><span class="minical-date">26</span></td>
			</tr>

			<tr id="minical-desc">
				<td class="feat1">First Britons conquer Everest</td><td class="feat2">Stamford Bridge</td><td class="feat3">European Day of Languages</td>
			</tr>
			
			<tr><td colspan="3" id="minical-foot">&nbsp;</td></tr>
		</table>
			
	<p id="viewall"><a href="http://magazines.scholastic.co.uk/content/calendar" class="calltoaction">View the whole month</a></p>
	</div><!-- /#minical -->



		<!-- news -->
		
<div id="latestnews" class="panel-l3">
  <a href="http://magazines.scholastic.co.uk/content/current_news_rss" id="rss">RSS feed</a>
  
  <h3>Latest news</h3>
  <h5><a href="http://magazines.scholastic.co.uk/content/8665">Call for compulsory nanny register</a>
<span class="date">24 Sep 2009</span></h5>
<p>At the Professional Nanny Conference, James Tweed of Childcare Matters warned that a Baby P type incident could occur again if nannies are not put on a compulsory register</p>
<h5><a href="http://magazines.scholastic.co.uk/content/8661">Booktrust announces 2009 Early Years Award Winners</a>
<span class="date">24 Sep 2009</span></h5>
<p>Reading charity, Booktrust, has announced the winners in its 2009 Early Years Awards.</p>
<h5><a href="http://magazines.scholastic.co.uk/content/8664">Voice calls for mobile phone ban in nurseries</a>
<span class="date">24 Sep 2009</span></h5>
<p>Voice, the union for education professionals, is advising nurseries to become mobile phone-free zones to protect both children and staff</p>
<h5><a href="http://magazines.scholastic.co.uk/content/8607">Asthma UK to launch teaching resource</a>
<span class="date">19 Sep 2009</span></h5>
<p>Charity, Asthma UK, has launched a free online resource designed to help teachers educate children about asthma</p>
<h5><a href="http://magazines.scholastic.co.uk/content/8542">Little Book of Goodness</a>
<span class="date">16 Sep 2009</span></h5>
<p>The School Food Trust launch new resource to help parents choose healthy school meals for their children</p>
<h5><a href="http://magazines.scholastic.co.uk/content/8530">Virtual Vikings!</a>
<span class="date">15 Sep 2009</span></h5>
<p>Skype project helps bring history to life in the classroom</p>

  <p><a href="http://magazines.scholastic.co.uk/content/news_archive" class="calltoaction">News archive</a></p>
</div><!-- /#latestnews -->



		<!-- feature boxes -->
		

	<div class="promobanner image">
		
		<a href="http://magazines.scholastic.co.uk/content/8086"><img src="http://images.scholastic.co.uk/assets/a/0c/b9/planet-51-feature-box-image-315006.jpg" title="planet-51-feature-box-image.jpg" alt="planet-51-feature-box-image.jpg" /></a>
		
	</div><!-- /promobanner -->




	<div class="promobanner image">
		
		<a href="http://www.daycaretrust.org.uk"><img src="http://images.scholastic.co.uk/assets/a/4c/55/daycare-trust-274106.jpg" title="daycare-trust.jpg" alt="daycare-trust.jpg" /></a>
		
	</div><!-- /promobanner -->




	<div class="promobanner ">
		
			<h2>Discover your inner animal! </h2>
			<p><a href="http://magazines.scholastic.co.uk/content/4722"><img src="http://images.scholastic.co.uk/assets/a/f1/02/web-feature-box-113753.jpg" title="web-feature-box.jpg" alt="web-feature-box.jpg" /></a></p>


<p>To take this quiz you need Adobe Flash installed on your computer. To get the latest player:<br />

	<p><a href="http://www.macromedia.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" title="link to macromedia's site">Install Adobe Flash Player</a></p></p>
			<div class="clearfloat"><br /></div>
		
	</div><!-- /promobanner -->




	<div class="promobanner image">
		
		<a href="http://magazines.scholastic.co.uk/content/1958"><img src="http://images.scholastic.co.uk/assets/a/28/e0/have-you-seen-this-thin-4885.jpg" title="Have you seen our star resources?" alt="Have you seen our star resources?" /></a>
		
	</div><!-- /promobanner -->




	</div><!--/.inner-r -->







  	</div><!-- /inner-wrap or /inner -->	
	</div><!--/#content -->
	
	<div id="extra">
		
  

  
  
  
  <div class="promos">
    
<div class="promo img-promo img-promo--col -col "><a href="http://shop.scholastic.co.uk/search/search?search%5Bquery%5D=Class+Pet+%2B+KS2&amp;log=t&amp;age_type=age_range&amp;now=query&amp;search%5Bdepartment_id%5D=&amp;commit=Search"><img alt="Class PET KS2 product search" src="http://images.scholastic.co.uk/assets/a/23/b1/eb-offer-class-pet-270889.jpg" /></a></div>
  </div>









<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=6&amp;n=888180"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=6&amp;n=888180"  alt="" /></a>



<!-- promo 1 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=1&amp;n=16997"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=1&amp;n=16997"  alt="" /></a>

<!-- promo 2 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=2&amp;n=382288"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=2&amp;n=382288"  alt="" /></a>

<!-- promo 3 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=3&amp;n=684792"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=3&amp;n=684792"  alt="" /></a>

<!-- promo 4 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=4&amp;n=842642"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=4&amp;n=842642"  alt="" /></a>

<!-- promo 5 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=5&amp;n=845009"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=5&amp;n=845009"  alt="" /></a>


<div id="top_ten">
	<ul>
		<li><a href="#tabOne"><span>Top downloads</span></a></li>
		<li><a href="#tabTwo"><span>Top searches</span></a></li>
	</ul>

				
	
	<div  id="tabOne" class="topDownloads">
		<h4>Top downloads this month</h4>		
		<ol>

	<li><a href="http://magazines.scholastic.co.uk/resources/51936">Fun fillers: Getting to know you</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52920">&#8216;Talk about&#8230; My family&#8217; cards</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/50792">Punctuation practice</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52918">Advice sheets for parents</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/15797">Daily Times Tables Teasers interactive games</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52922">My family &#8211; Observation and assessment chart</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/51831">Maths games</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52917">My family &#8211; <span class="caps">EYFS</span> cross-curricular links chart</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/55329">Rhythm and rhyme circle-time cards</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/54430">Roald Dahl Day activities</a></li>

</ol>
	</div>
			


	

<div id="tabTwo" class="topDownloads">
	<h4>This month's most popular searches</h4>		
	<ol>
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=autumn" rel="nofollow">autumn</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=pirates" rel="nofollow">pirates</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=harvest" rel="nofollow">harvest</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=nursery+rhymes" rel="nofollow">nursery rhymes</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=people+who+help+us" rel="nofollow">people who help us</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=victorians" rel="nofollow">victorians</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=space" rel="nofollow">space</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=tudors" rel="nofollow">tudors</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=castles" rel="nofollow">castles</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=dinosaurs" rel="nofollow">dinosaurs</a></li>
	</ol>
</div>
		


</div><!-- end top_ten -->

<div id="teachertalk">
    <img src="/images/magazines/teachertalk.jpg" height="100" width="100" alt="teacher talk"/>
    <p>Share a teaching tip, help another teacher or simply let off steam when you've had a tough day.</p>
    <p><a href="http://magazines.scholastic.co.uk/forums">Start talking today</a></p>
</div>


<div id="sendtoafriend">
	<h3>Send to a friend</h3>
	
	<form action="/mags_online/home/email_page" method="post">
	<fieldset>
	<input id="last_action" name="last_action" type="hidden" value="index" />	<input id="last_id" name="last_id" type="hidden" />	<label for="stafemail">Add their email here</label>
	<input id="stafemail" name="friend[email]" size="30" type="text" />
	<input class="button" name="commit" type="submit" value="Send now" />
	</fieldset>
	</form>
</div>

<div id="newslettersignup">

	<h3>Newsletter signup</h3>
	<p>Be the first to know about our latest early years and primary resources &#151; subscribe to our FREE Editor's emails.</p>
	<a href="/customer/profile" class="calltoaction">Signup today!</a>
	
</div><!--/#newslettersignup -->


	</div><!-- /extra -->
	
	
  <!-- start footer -->
  <div id="universal-footer" class="universal-footer">
  <ul id="footer-navigation" class="footer-navigation">
    <li><a href="http://www.scholastic.co.uk/aboutus">About</a></li>
    <li><a href="http://www.scholastic.co.uk/contactus">Contact</a></li>
    <li><a href="http://www.scholastic.co.uk/environmental">Environmental Information</a></li>
    <li><a href="http://www.scholastic.co.uk/recycling">Recycling Electrical Equipment</a></li>
    <li><a href="http://www.scholastic.co.uk/conditions">Conditions of use</a></li>
    <li><a href="http://www.scholastic.co.uk/privacy">Privacy</a></li>
</ul>

  <p class="copyright">Copyright &copy; 2008-2009 Scholastic Ltd.</p>
  
  </div><!-- /footer -->
  


</div><!-- /page -->

<!-- start footer -->


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2673375-5");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- crazyegg code -->
<script type="text/javascript" src="http://cetrk.com/pages/scripts/0008/1045.js"> </script>
</body>
</html>
