<h1>Maths in pictures: Symmetry and pattern</h1>
<h4>23<sup>rd</sup> March 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70534">Junior Education Plus April 2009</a></p>


<p class="author">By <strong>Laura Ward</strong> &#8212; <em>class teacher at Cover Junior School</em></p>

<p class="intro">The real world is full of examples of maths in practice&#8230;</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/28/7e/maths-in-pictures-251777.jpg" class="img_left" title="Man graphic holding sunflower" alt="Man graphic holding sunflower" /></div>

	<p>The last article in the ‘Maths in pictures’ series encourages children to solve problems using patterns and symmetry in an everyday context. Examples of real-life symmetry can be found in a wide range of places, including some unusual ones, so challenge your class to find as many different examples as they can.</p>


	<p>Begin by looking at one of the images on the <a href="http://magazines.scholastic.co.uk/resources/46309"><strong>Interactive resource</strong>, ‘Maths in pictures: Symmetry and pattern’</a>, before trying out one of the activities below.</p>


	<h2 id="top">Activities</h2>


	<ul>
	<li><a href="#firstthing">1. Patchwork quilts</a></li>
		<li><a href="#secondthing">2. World flags</a></li>
		<li><a href="#thirdthing">3. Symmetry trail</a></li>
	</ul>


	<h3 id="firstthing">1. Patchwork quilts</h3>


	<p>Show the children the picture of a patchwork quilt, available as part of the <a href="http://magazines.scholastic.co.uk/resources/46309"><strong>Interactive resource</strong>, ‘Maths in pictures: Symmetry and pattern.’</a> Ask them if they recognise any shapes, reminding them that there may be regular and irregular polygons in the quilt’s pattern. If possible, bring in a real patchwork quilt for the children to look at. Ask the class if there are any lines of symmetry in the patchwork quilt. Some quilts have several lines of symmetry or rotational symmetry in the quilt as a whole. In addition, some have symmetry within smaller sections.</p>


	<p>Challenge the children to design their own patchwork quilt in pairs or groups. This can be done using various computer programs, such as Microsoft® Word, or a specific drawing program. Alternatively, they could do this by hand – perhaps on graph paper. As a class, make a design within a square or hexagon using polygons that the children are familiar with. Experiment with how this design can be ‘flipped’ or turned to make different types of symmetrical patterns. This can be continued over and over again to produce a quilt design. Display the finished quilt designs, asking each group to explain their pattern using mathematical vocabulary.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="secondthing">2. World flags</h3>


	<p>Challenge the children to find out which flags of the world contain symmetry. Begin by displaying the flags of different countries, for example, Great Britain, France, Switzerland, The Republic of Macedonia, Tibet and Georgia. Discuss each one, asking the children if they can spot any symmetry or patterns in the flags, and, if appropriate, draw the lines of symmetry in the right place. Look too, for rotational symmetry, such as in the flags of Georgia and Great Britain. Ask the children which one they think is the odd one out (Tibet).</p>


	<p>Next, invite the children to design their own symmetrical flag. This challenge could be as simple or as complex as you like. Provide the children with squared paper to assist in their drawings, approximately 10cm x 7cm. A ready supply of tracing paper and mirrors are vital to encourage accurate designs, as are bold colours to make the most of pattern and symmetry. The finished flags can be glued to string to make colourful bunting for any number of cross-curricular purposes (for example, a geography focus or to celebrate a national day around the world). The children’s flags could make a vibrant addition around a maths display, too.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="thirdthing">3. Symmetry trail</h3>


	<p>There are many examples of symmetry in nature, such as a butterfly’s wings, ladybirds, sunflowers and shells. Some examples of these can be found in the <a href="http://magazines.scholastic.co.uk/resources/46309"><strong>Interactive resource</strong>, ‘Maths in pictures: Symmetry and pattern’</a>, but you could also bring in a range of leaves to demonstrate symmetry. Can the children think of any other examples in nature?</p>


<div class='additional-material'>

	<h2>More maths in pictures</h2>


	<p>Access the whole <a href="http://magazines.scholastic.co.uk/search/search?search[query]=maths+in+pictures&#38;log=t&#38;x=0&#38;y=0">&#8216;Maths in pictures&#8217;</a> series (including interactive resources) in the <em>Junior Ed <span class="caps">PLUS</span></em> archive for more real-life examples of maths in practice. Themes include: measurement, time, and scale and ratio.</p>


</div> 

	<p>Provide each child with half a leaf glued to a piece of paper and ask them to find their partner with the missing half of their leaf. Extend the activity by challenging the children to draw the missing half of the leaf on their paper. Make sure that there are mirrors and tracing paper available for the task.</p>


	<p>When returning to the <a href="http://magazines.scholastic.co.uk/resources/46309"><strong>Interactive resource</strong>, ‘Maths in pictures: Symmetry and pattern’</a>, show the children the picture of road signs. Can they think of other examples of symmetry outside the classroom? This could be turned into a homework activity, challenging the children to find as many examples of symmetry as they can on their journey home. Alternatively, provide the children with digital cameras and encourage them to make their own ‘symmetry trail’, taking photographs of different examples around the school.</p>


	<p><a href="#top">Back to top</a></p>

