<h1>Digraphs: Fun with letters</h1>
<h4>13<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70491">Child Education PLUS May 2009</a></p>




<p class="intro">Help cover Phase 3 of <em>Letters and Sounds</em> using worksheets and interactive resources taken from Scholastic’s <em>Literacy Skills</em> books</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/02/ff/spelling-260399.jpg" alt="" /></div>

	<p><b>Objectives:</b> To learn some new grapheme-phoneme correspondences. To use ‘sound talk’ and segment words for spelling. To recognise, learn and apply some consonant digraphs and vowel digraphs.</p>


	<h3>Background knowledge</h3>


	<p>Grapheme-phoneme correspondence is a vital skill in learning to spell. Knowing that a sound is represented by certain letters will enable children to make an educated guess about how a word may be spelled.</p>


	<p>The activities below pick out some correspondences that the children will be expected to know at this stage. At this time, the children are only expected to learn one representation of a phoneme. For example, the phoneme /ai/ is represented by the grapheme ‘ai’ at this stage; later on the children will learn that it can also be represented by ‘ay’ and ‘a–e’.</p>


	<p><br></p>


	<h2>Activities</h2>


	<h3>Sort the pictures</h3>


	<p>Before completing this activity, the children need to have had practice at saying, recognising and writing the letters that represent the phonemes. Read through the instructions and ‘sound talk’ the letters and the words that represent the objects.</p>


	<p><a href="http://www-dev.scholastic.co.uk/static/magazine/spell_y1-2_ch3_s1_sort_the_pictures_mtch_up/start.html">Sort the pictures interactive resource.</a></p>


	<h3>Buzz, quack and yell!</h3>


	<p>This is a fun and noisy game to play with small groups. Before you begin, make sure that the children have had practice at saying, recognising and writing the letters that represent the phonemes. Cut out the cards from the photocopiable sheet and place them face down. Explain that the children must yell, buzz or quack as each word is turned face up. Finish by ‘sound talking’ each word and putting it into a phoneme frame before covering it up, spelling it and checking it.</p>


	<p><a href="http://www-dev.scholastic.co.uk/static/magazine/spell_y1-2_ch3_s1_buzz_quack_and_yell_dd_c/start.html">Buzz, quack and yell interactive resource.</a></p>


	<h3>sh or ch?</h3>


	<p>Introduce the activity with a circle game where the children chant ‘sh’ or ‘ch’ and then take turns to say a ‘sh’ or ‘ch’ word as you go around the circle. Provide each child with a copy of the photocopiable sheet and ask them to fill in the gaps with ‘sh’ or ‘ch’.</p>


	<p><a href="http://www-dev.scholastic.co.uk/static/magazine/spell_y1_2_ch3_s1_shorch_dd_m2m/start.html">sh or ch? interactive resource.</a></p>


	<h3>Rhyming fun</h3>


	<p>Work with a small group of children and give each child a photocopiable sheet. Remind the children of the phonemes that the graphemes ‘oa’, ‘ee’ and ‘igh’ represent. Explain that the pictures are missing a rhyming caption which describes what is happening. Together, decide what the captions could be. Invite the children to write the caption (or scribe for those who need support). Challenge them to match the caption to the corresponding grapheme by drawing an arrow.</p>


	<p><a href="http://www-dev.scholastic.co.uk/static/magazine/spell_y1-2_ch3_s1_rhyming_fun_mtch_up/start.html">Rhyming fun interactive resource.</a></p>


<div class='additional-material'>

	<h2>Exclusive reader offer!</h2>


	<p>The activities here have been taken from <em>Literacy Skills: Spelling Years 1–2</em> (Scholastic, <span class="caps">ISBN 9781407100555</span>). We are offering readers a <b>15 per cent discount</b> on the book if bought at the <a href="http://shop.scholastic.co.uk">Scholastic Shop</a> Please enter code <span class="caps">VW69</span> at the checkout. Offer expires 31/05/09. And visit our <a href="http://magazines.scholastic.co.uk/content/give_aways?product_id=70491">online giveaways page</a> for a chance to win the book&#8230;</p>


</div>

	<h3>At the market</h3>


	<p>Display an enlarged version of the photocopiable sheet and talk about the scene together. Invite the children to spot and have a go at spelling the ‘ar’ and ‘oo’ words. Give each child a photocopiable sheet and suggest that they use two colours to colour the set of ‘oo’ objects and the set of ‘ar’ objects.</p>


	<h3>Further ideas</h3>


	<ul>
	<li><b>Hunt the grapheme:</b> Focus on a particular grapheme and ask the children to find some examples of it. </li>
		<li><b>Poem pondering:</b> Look at some simple poems and talk about the rhyming words.</li>
	</ul>

