<h1>Film and literacy: Stories with familiar settings</h1>
<h4>18<sup>th</sup> May 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70492">Child Education PLUS June 2009</a></p>


<p class="author">By <b>Karen Miller</b> — Freelance writer and Editor of Film Street. Karen has a film blog at <a href="http://filmparade.wordpress.com">http://filmparade.wordpress.com</a></p>

<p class="intro">Explore everyday environments using these poignant short films in the third part in our series of film-based literacy ideas</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/9e/c8/lions-are-green-2-267295.jpg" title="lions-are-green-2.jpg" alt="lions-are-green-2.jpg" /></div>

	<p>Exploring a film of the same genre as the book you are studying with your class can help reinforce the children’s understanding of the features of the text. It can also help them extend their vocabulary through the language of image, music and sound to make their descriptions more vibrant and, in turn, their written work much richer.</p>


	<p>In Unit 1 Stories with familiar settings, Year 2 pupils are encouraged to explore a selection of stories with settings and themes that are familiar. This could include home, school and making friends, to provide stimuli for the creation of stories based on their own experiences.</p>


	<p><br></p>


	<h2>Using film</h2>


	<p>Before you begin to analyse any film, allow the children to watch it all the way through. Encourage them to share their initial reactions and make sure they have understood the plot.</p>


	<p>Stories with familiar settings come under contemporary fiction in the Renewed Primary Framework for Literacy. Work with your class to identify the following features of this text type in the films you watch:</p>


	<ul>
	<li>Use of informal dialogue like children use themselves.</li>
		<li>Use of familiar phrases from the adults, such as Don’t let me tell you again!</li>
		<li>The portrayal of ordinary characters, not through costume but through dialogue, movement and facial expression.</li>
		<li>Use of visual storytelling, demonstrating that stories are not told exclusively 
through dialogue.</li>
	</ul>


	<p><br></p>


	<h2>Lions are green</h2>


	<p>Made by Green Lions</p>


	<p>This award-winning five-minute short film is set in a classroom and shows how Rick, a boy who is colour-blind, discovers his independence through painting.</p>


<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Mc_81_zCIb4&#38;hl=en&#38;fs=1&#38;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Mc_81_zCIb4&#38;hl=en&#38;fs=1&#38;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>

	<h3>Exploring characters and story structure</h3>


	<p>Encourage the children to take on the role of the teacher and retell the story from her point of view. Choose some children to act out key scenes from the film that involve the teacher. Is there anything the teacher could have done differently?</p>


	<p>A shot in a film is like a sentence in a book, and a new shot begins either when the camera angle changes or the camera looks at something new. Use the pause button to focus on the first two shots from the film. Challenge the 
children to describe what they see in two sentences to provide an opening for a short story called ‘Lions are Green’.</p>


	<p>Encourage the children to storyboard the film by picking out the key shots or scenes and drawing them in sequence. Ask them to identify which shots make up the opening of the story, the middle and the ending.</p>


	<h3>Identifying features 
of the text</h3>


	<p>Watch the film again and ask the children to pick out familiar phrases used by the teacher and by Rick’s mum. Work as a class to identify other familiar phrases that adults use when they are talking to children.</p>


	<p>What do we find out about Rick from the film? Is he a careful worker or a careless one? Is he somebody who gives up easily? Ask the children to use clues from the film to explain their answers. Identify which clues come from the dialogue and which clues come from the action.</p>


	<p><br></p>


	<h2>Ice Cream Dream</h2>


	<p>A Screen West Midlands film made by Endboard Productions, available at <a href="http://www.digishorts.co.uk">www.digishorts.co.uk</a></p>


	<p>Ice Cream Dream is a ten-minute short that shows how a girl called Luna overcomes her fears to make friends.</p>


	<h3>Exploring characters 
and story structure</h3>


	<p>Encourage the children to imagine that they live near Luna at the beginning of the film. They have seen Luna in the ice-cream van with her dad, but she does not come out to play with them and they have never spoken to her. What do they think of Luna? Ask them to write this down. Choose some volunteers to read their passages out to the class. Have they used any of the same phrases?</p>


	<p>At the end of the story, Luna leaves the ice-cream van and goes to talk to Harry. What happens in the film that gives her the courage to do this? Invite the children to work in pairs with one taking on the role of Luna. ‘Luna’ must then retell the story to her partner to explain how she changed and made friends. The response partner needs to check that ‘Luna’ does not miss out any part of the story. Encourage the children to swap roles so that they both have the chance to retell Luna’s story in their own words.</p>


	<h3>Identifying features of the text</h3>


	<p>Watch the film from 1.20 to 1.50 minutes. Encourage the children to refer to clues, such as the music and special effects, to explain what Luna thinks of Harry and also how she views herself. Does Luna say anything during this sequence? Does she need to?</p>


	<p>Watch the first part of Luna’s dream sequence from 4.40 to 5.00 minutes, where Luna voices her fears about making friends. What does she say and how does she say it? Have the children heard or used any of the phrases Luna uses? If so, when?</p>


	<p>Discuss what we learn about Luna from the film. Is she just a shy and quiet little girl or is there more to her than meets the eye?</p>

