<h1>Goldilocks and the Three Bears</h1>
<h4>6<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70513">Nursery Education Plus May 2009</a></p>




<p class="intro">Discover the rich possibilities for developing story language through this wonderful traditional tale</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/91/e7/goldilocks-pic-4-256899.jpg" alt="" /></div>

	<p>S hare the story of ‘Goldilocks and the Three Bears’, using a storybook version, or retell it orally using puppets and props. Encourage the children to join in with the repeating and patterned language, especially the questions:</p>


	<ul>
	<li>Who’s been eating from my bowl?</li>
	</ul>


	<ul>
	<li>Who’s been sitting on my chair?</li>
	</ul>


	<ul>
	<li>Who’s been sleeping in my bed?</li>
	</ul>


	<h2>What’s it all about?</h2>


	<p>Once the children are familiar with the story, use the story pictures below to talk about the five key stages:</p>


	<p><strong>1 Setting the scene</strong></p>


	<p>The Three Bears are eating their porridge for breakfast. Baby Bear is not eating his – perhaps it is too hot? Maybe Daddy Bear or Mummy Bear suggests going for a walk while their porridge cools down. What do the children think will happen next? Prompt them to look at what can be seen out of the window of the cottage. (This will tell them that the cottage is in the wood.) Can they see anyone else? (Goldilocks.)</p>


	<p><strong>2 The Three Bears have gone out</strong></p>


	<p>Goldilocks has come into the cottage. Do the children notice how the porridge bowls look different in this picture? What has happened to the chairs?</p>


	<p><strong>3 The Three Bears come back to the cottage</strong></p>


	<p>Where has Goldilocks gone? What do the Three Bears discover first? Whose porridge has been eaten up?</p>


	<p><strong>4 The Three Bears notice something</strong></p>


	<p>What do the Three Bears see next? Why is Baby Bear crying?</p>


	<p><strong>5 The Three Bears go upstairs</strong></p>


	<p>Whose bed is Goldilocks lying in? How do the children think Goldilocks will feel when she sees the Three Bears?</p>


	<h2>Retell the story</h2>


	<p>Download the interactive ‘What happened next?’.</p>


	<p>Invite the children to sequence the story by ordering and reordering the five pictures. Let the children freely experiment with the order of the pictures as they retell the story.</p>


	<p>Listen for the language that they use and support them by reflecting their ideas back to them. Encourage the children to tell the story to the group.</p>


	<h2>Count to three</h2>


	<p>Download the blackline story pictures and use them to discuss the story with small groups of children. As you talk, draw out mathematical language. Make the most of the opportunities for counting to three based on bears, spoons, bowls, chairs and beds. Use a chant to give structure and pattern to the activity, for example:

‘How many bears/bowls/chairs/beds can you see? One… two… three.’</p>


	<p>Each set of three is based on size, which offers plenty of scope for work using comparatives such as smaller, smallest, bigger, biggest. Again, use rhyming chants to reinforce these ideas, for example:</p>


	<p>‘Which is the smallest/biggest bowl/chair/bed you see there? The one belonging to Baby/Mummy/Daddy Bear.’</p>


	<p>The plot of the story also has a three-part theme in the sequence of porridge, chairs and beds, which provides opportunities to reinforce ordinal numbers. Use talk and questioning to support these ideas:</p>


	<ul>
	<li>What was the first/second/third thing that Goldilocks did?</li>
	</ul>


	<ul>
	<li>Whose porridge/chair/bed did Goldilocks try first/second/third?</li>
	</ul>


	<h2>Zigzag books</h2>


	<p>Use the story pictures to make zigzag books. Encourage the children to tell you the story from their book.</p>


	<h2>Home links</h2>


	<p>Explain to parents that you have been looking at ‘Goldilocks and the Three Bears’ with the children and ask them to:</p>


	<ul>
	<li>talk to their children about the story and read versions of ‘Goldilocks and the Three Bears’ that they may have at home</li>
	</ul>


	<ul>
	<li>encourage their children to share their experiences at home through talking, playing or drawing</li>
	</ul>


	<ul>
	<li>look for more information about bears</li>
	</ul>


	<ul>
	<li>send related books or objects into the setting.</li>
	</ul>


	<p>Invite parents into your setting to see the work that the children have produced.</p>


<div class='additional-material'>

	<h2>Come Alive Stories</h2>


	<p>These ideas and activities are taken from the Come Alive Stories series and are reproduced here by kind permission of Yellow Door.</p>


	<p>For each story, there is a resource pack, an interactive CD-ROM and a wooden character set. For more information, visit <a href="http://www.yellow-door.net">Yellow Door</a> or call 0845 603 5309.</p>


</div>

	<h2>Further ideas</h2>


	<ul>
	<li>Make a collection of assorted toy bears of different sizes. Let the children arrange them in order or size from largest to smallest.</li>
	</ul>


	<ul>
	<li>Ask the children to bring their own teddy bears into school. Have a circle-time session in which each child can show and talk about their bear, telling the class its name and how long they have had it (if they can remember). Discuss and compare the bears, looking at colour, size, furriness and so on. Invite the children to draw pictures of their bears, then decide how to display them, for example, they could put bears of similar colours together.</li>
	</ul>


<div class='additional-material'>

	<h2>Reader offer</h2>


	<p><em>Nursery Education <span class="caps">PLUS</span></em> readers can claim a special 10% discount by quoting ‘Nursery Education Come Alive discount’ when ordering.</p>


</div>

	<ul>
	<li>Invite the children to tell you what they have for breakfast. Talk about what makes a good breakfast, and why it is an important meal. Ask for parental permission for the children to taste and handle foods. Check for any food allergies and dietary requirements. Make porridge together one morning and have a ‘Three Bears’ breakfast’.</li>
	</ul>


	<ul>
	<li>Have a ‘Three Bears’ picnic’. Let the children decorate white, paper tablecloths and the outside of some white, paper cups. Discuss what the bears might like to eat, for example, honey sandwiches, fruit and so on, and plan a suitable menu.</li>
	</ul>

