<h1>Minibeasts: Legs and wings&#8230; and things!</h1>
<h4>6<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70513">Nursery Education Plus May 2009</a></p>


<p class="author">By <strong>Mike Ward</strong> &#8212; <em>freelance educational writer.</em></p>

<p class="intro">Introduce the children to the varied types of minibeasts living right under their noses</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/35/f3/istock-000006037154medium-257665.jpg" alt="" /></div>

	<h2>1 I spy minibeasts</h2>


	<h3>Explore the minibeasts that live in your outdoor environment</h3>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<p><strong><em>Exploration and Investigation</strong></em></p>


	<p><strong>Development matters:</strong> show curiosity and interest in the features of objects and living things (30-50 months); notice and comment on patterns (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> find out about, and identify, some features of living things, objects and events they observe.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Pencils; ‘I spy minibeasts’ photocopiable sheet.</p>


	<h3>What to do</h3>


	<p>Give pairs of children a copy of the photocopiable sheet and, with parental permission, take them on a short walk around your outdoor area.</p>


	<p>Ask the children to see if they can spot any minibeasts under stones or leaves, on walls and fences and so on. Can they see any of the minibeasts pictured on the sheet? If so, encourage them to make a tick or mark in its box each time they see one. If they find a minibeast not pictured on the sheet, then ask them to draw it in one of the empty spaces. Remind the children to look but not touch the minibeasts.</p>


	<p>Back at the setting, talk about the types of places where you found minibeasts. Use the photocopiable sheets to share the children’s experiences of the types of minibeasts that they saw.</p>


	<h3>Support</h3>


	<p>Collect one or two minibeasts and put them into magnifying containers for the children to observe and talk about. (Make sure that the minibeasts are returned afterwards.)</p>


	<h3>Extension</h3>


	<p>Look at different books about minibeasts. Can the children see any minibeasts that they saw on their own ‘I spy hunt’?</p>


	<h3>Birth to 36 months</h3>


	<p>Let the children make simple minibeast shapes using Plasticine or play dough.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">CLL</span> – attempt writing for different purposes, using features of different forms such as lists, stories and instructions.
CD – respond in a variety of ways to what they see, hear, smell, touch and feel.</p>


	<h2>2 Same difference</h2>


	<h3>Play ‘Snap’ to compare the common features of minibeasts</h3>


	<p><strong><em>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><strong><em>Shape, Space and Measures</strong></em></p>


	<p><strong>Development matters:</strong> begin to categorise objects according to properties such as shape or size (22-36 months); sort familiar objects to identify their similarities and differences, making choices and justifying decisions (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> talk about, recognise and recreate simple patterns.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> Pairs.</p>


	<p>Two enlarged copies of ‘Minibeast cards’ photocopiable sheet per pair or team.</p>


	<h3>What to do</h3>


	<p>Hold up a minibeast card to show the children. Can they name the minibeast? Ask the children to help you describe the minibeast, making reference to its main features, for example, wings, shell and legs.</p>


	<p>Choose another minibeast card and compare the new minibeast with the previous one. What is the same? What is different? Display more minibeast cards and continue to name and compare features.</p>


	<p>Divide the children into pairs. Shuffle a set of 18 minibeast cards and place them face down in a pile. Each player takes a turn to turn over the top card and place it next to the deck. If the card that is turned over matches the previous one, then the first player to call ‘Snap’ wins the pair. Once all the cards have been turned over, the player with the most pairs wins.</p>


	<h3>Support</h3>


	<p>Describe a minibeast using simple features and ask the children to point to the correct minibeast card.</p>


	<h3>Extension</h3>


	<p>Introduce different criteria for calling ‘Snap’, for example, ‘If both minibeasts have the same number of legs’.</p>


	<h3>Birth to 36 months</h3>


	<p>Let the children play with a selection of soft, minibeast toys.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – form good relationships with adults and peers.</p>


	<p><span class="caps">KUW</span> – look closely at similarities, differences, patterns and change.</p>


	<h2>3 Just move it!</h2>


	<h3>Join in a fast and frantic session to explore how minibeasts travel</h3>


	<p><strong><em>Creative Development</strong></em></p>


	<p><strong><em>Developing Imagination and Imaginative Play</strong></em></p>


	<p><strong>Development matters:</strong> begin to make-believe by pretending (22-36 months); develop a repertoire of actions by putting a sequence of movements together (30-50 months).</p>


	<p><strong>Early learning goal:</strong> use their imagination in art and design, music, dance, imaginative and role-play and stories.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> large groups.</p>


	<p>Large space; enlarged copies of ‘Minibeast cards’ photocopiable sheet.</p>


	<h3>What to do</h3>


	<p>Explain to the children that they are going to pretend to be different minibeasts, moving around the large space.</p>


	<p>Hold up the image of the bee from the minibeast cards. Encourage the children to run around the space, flapping their arms quickly and making buzzing noises.</p>


	<p>Introduce other minibeasts and encourage the children to mimic their movements, each time you show their picture and call their name, for example, worm (wriggling on tummy), spider (scuttling on all fours), butterfly (arms flapping gracefully).</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<ul>
	<li>Encourage parents to take their children around the outdoor area to spot minibeasts.</li>
	</ul>


	<h3>Further idea</h3>


	<ul>
	<li>Explore the lifecycle of a butterfly through drama and music.</li>
	</ul>


</div>

	<h3>Support</h3>


	<p>Focus on just two or three different minibeasts and slow down the pace.</p>


	<h3>Extension</h3>


	<p>Make changes more frequently and speed up the game.</p>


	<h3>Birth to 36 months</h3>


	<p>Invent some simple actions for the children to mimic, such as wriggling fingers up and down for a spider.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">KUW</span> – find out about, and identify, some features of living things, objects and events they observe.</p>


	<p>PD – move with confidence, imagination and in safety.</p>

