<h1>Creative topic: The zookeeper&#8217;s diary</h1>
<h4>18<sup>th</sup> May 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70492">Child Education PLUS June 2009</a></p>


<p class="author">By <b>Caroline Petherbridge</b> – Freelance education writer and designer</p>

<p class="intro">Join Zahra the zookeeper, as he takes children on a wild tour of his zoo to teach them about animal welfare</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p><img src="http://images.scholastic.co.uk/assets/a/9d/24/russdaff-12116-zoo-entrancex-267372.jpg" class="img_left" title="Zahra the zoo keeper" alt="Zahra the zoo keeper" /></p>


	<p>Hello children and teachers. Welcome to City Zoo. My name is Zahra and I am the zookeeper. I understand you want to know what a zookeeper does each day. To be a zookeeper you need to love animals and have a passion for their welfare and protection. It is a wonderful job. I have a strict routine, but no two days are ever the same as you can never tell what the animals are going to get up to.</p>


	<p>Now, to give you an idea of what it is like to be a zookeeper, I have written a diary of a typical day here at City Zoo, and have some activities for you to take part in. You never know, you may decide that you would like to be a zookeeper one day&#8230;</p>


	<p><br></p>


	<h3>Extra zoo scene!</h3>


	<p>Click on this zoo image to enlarge it on your interactive whiteboard. Do the children spot anything unusual in the picture?</p>


	<p><a href="http://images.scholastic.co.uk/assets/cms/children_s_comp_illustrationBIGGER.jpg"><img src="http://images.scholastic.co.uk/assets/cms/children_s_comp_illustrationBIGGER_thumb.jpg" class="img_left img_popup " title="short story competition pop-up illustration" alt="short story competition pop-up illustration" /></a></p>

