<h1>Outdoor learning: Mother Nature’s classroom</h1>
<h4>20<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70535">Junior Education Plus May 2009</a></p>


<p class="author">By <strong>Mary Jackson</strong>  &#8212; <em>Training and Development Manager at Learning through Landscapes</em></p>

<p class="intro">Explore how the programme of study for Key Stage 2 topics can be taken outside</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/6e/96/learning-through-landscapes-2-261400.jpg" alt="" /><p>Outdoor art with Woodhouse Primary School</p></div>

	<p>When thinking about outdoor learning, the first thing a teacher will often consider is the space they have to hand. However, outdoor learning can be more effective when you also consider exactly what can be taught outdoors, as well as what the outdoors will teach your children. Naturally, teachers often think of what the outdoor space offers, and the ways in which a pond or tree, for example, may enhance a science or art lesson. While it is good to be aware of the potential of your outdoor environment, planning lessons around what you already have can limit the possibilities of outdoor learning.</p>


	<h2>Outdoor lessons – big and small</h2>


	<p>Getting your class outside should begin with a close consideration of the programme of study for each specific topic. Aspects that can be taught outside can be identified and planned into a scheme of work. These aspects may comprise a larger project or minor elements within the programme of study. In fact, it is worth considering the possibilities of taking smaller parts of a lesson outside. For example, if you are working with measurements the space of the grounds can act as a great environment to demonstrate a point and work as a powerful learning tool.</p>


	<h2>Curriculum opportunities</h2>


	<p>Considering the grounds through the programme of study will help you to realise how few boundaries there really are to outdoor learning, especially for topics that you may not have even considered taking outside.</p>


<div class='additional-material'>

	<h3>Online extras!</h3>


	<p>Discover our fantastic outdoor-inspired lesson resources by using our search facility at <a href="http://www.scholastic.co.uk/junioredplus">www.scholastic.co.uk/junioredplus</a>
You&#8217;ll find ideas for subjects such as gardening and games, citizenship and symmetry!</p>


</div>

	<h2 id="top">Activities</h2>


	<ul>
	<li><a href="#firstthing">1. D&#38;T</a></li>
		<li><a href="#secondthing">2. Art and design</a></li>
		<li><a href="#thirdthing">3. Literacy</a></li>
		<li><a href="#fourththing">4. Music</a></li>
	</ul>


<p>


	<h3 id="firstthing">1. D&#38;T</h3>


	<p>The programme of study for D&#38;T requires that children learn how the working characteristics of materials affect the ways they are used.</p>


	<ul>
	<li>The world outside the classroom is a fantastic place for observation. For a D&#38;T topic, objects, such as seats, both inside and outside the school, could be evaluated. Prompt children with questions such as: <em>What are they made of and why? What shape are they? How do indoor and outdoor seating areas differ and why? Can they be moved? Why have they been placed here?</em></li>
	</ul>


	<p>If there are plans for any changes to be made to the outdoor grounds, there will always be fantastic opportunities to get the children involved. This is an ideal opportunity to gather the children’s input for the design and planning process. Considering a new shade area for example, provides activities such as mapping out where and when natural shade occurs, where the best place for a structure would be, what types of shade could be used. You might even choose to make models of the shades or even test out structures in the grounds.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="secondthing"> 2. Art and design</h3>


	<p>One element of the art and design programme of study requires 
that children are taught to investigate and combine visual and tactile qualities of materials and to match these qualities to the purpose of the work.</p>


	<ul>
	<li>Being outdoors stimulates the senses and inspires creativity. The children could create their own visual and tactile maps (to represent parts of their grounds) using items of their choice. Different groups could focus on using wax rubbings, collecting objects and natural materials and making colour matches with different outdoor features. These groups could then be brought together to assemble each part of the map, with the collections and findings creating a visual and tactile image of the grounds. This is an activity that could be taken both indoors and outdoors.</li>
	</ul>


	<p><a href="#top">Back to top</a></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/23/96/learning-through-landscapes-3-261417.jpg" alt="" /></p>


	<p><em>Children reading at Catton Grove Primary School</em></p>


	<h3 id="thirdthing">3. Literacy</h3>


	<p>The Primary Framework for literacy requires that children speak with confidence, for a range of purposes and audiences, using material that is relevant to the topic and to the listeners.</p>


	<ul>
	<li>If the school grounds can offer a new slant on a subject, then it is likely it will be a valuable learning tool. For a literacy project, the children could be asked to imagine that an important or famous guest will visit the school for a tour of the grounds (perhaps a specific person may be identified). Children could plan a route and research different areas of the school grounds so they will need to write up/prepare what they will talk to them about, too.</li>
	</ul>


	<p>The Literacy Framework also requires that children discuss topics as members of a group. Here, the grounds themselves could be used as the focus – perhaps if a new feature is soon to be added, such as a new seating area, an outdoor art exhibition or a school vegetable patch (<a href="http://magazines.scholastic.co.uk/resources/46151">tips on setting up a school vegetable patch</a>). Issues about location could be the topic of debate and discussion during or after a tour and assessment of the grounds.</p>


	<p><a href="#top">Back to top</a></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/69/a1/learning-through-landscapes-1-261410.jpg" alt="" /></p>


	<p><em>Children dancing at Ravenstone Primary School</em></p>


	<h3 id="fourththing">4. Music</h3>


	<p>The programme of study suggests that children should be taught how to practise, rehearse and present performances with an awareness of the audience.</p>


	<ul>
	<li>An outdoor performance and the experience of music in the open air will add a different dimension to a lesson. The school grounds will also provide the perfect environment for exploring the awareness of an audience. For example, children could participate in a week of busking on the playground at breaktimes, whereby the audience chooses a winning performance by dropping a token into the performers’ hat. Groups could discuss audience reactions to their work, and whether or not to modify a performance based on feedback.</li>
	</ul>


	<p>The summer season may even inspire a school music festival. Children could participate in organising the event (see the <a href="http://magazines.scholastic.co.uk/search/search?search[query]=junior+entrepreneurs&#38;log=t&#38;x=0&#38;y=0">‘Junior entrepreneurs’ series</a> for curriculum-linked activities on getting children to lead whole-school projects).</p>


	<p><a href="#top">Back to top</a></p>


	<p><strong>Fresh air – fresh thinking</strong>
Using the programmes of study and Primary Frameworks for literacy and mathematics to plan lessons outdoors offers new angles for teaching. Once you discover the possibilities of learning outdoors, you will realise the potential of the space you have at your disposal and will clearly understand the benefits of this learning tool. There are fewer limits to what can be taught outside than you would imagine. The only true way to discover the potential of your school grounds is to blow the cobwebs away from children’s minds and take learning outside.</p>


<div class='additional-material'>

	<p><img src="http://images.scholastic.co.uk/assets/a/25/76/learning-through-landscapes-logo-261459.jpg" alt="" /></p>


	<p><strong>Further information</strong></p>


	<p><a href="http://www.ltl.org.uk">Learning through Landscapes</a> provides a Schoolgrounds-UK membership package offering advice and support to help unlock the potential of school grounds. The charity also organises National School Grounds Week, that this year (8–12 June ‘09) will focus on getting children active in their school grounds with The Big Play Experiment.</p>


</div>

