<h1>Tracking pupil progress: A finer measure</h1>
<h4>20<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70535">Junior Education Plus May 2009</a></p>


<p class="author">By <strong>David Wright</strong> &#8212; <em>Headteacher, Larkswood Primary School, Waltham Forest</em></p>

<p class="intro">Discover a tool that helps to track pupil progress more efficiently</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/79/d8/ppt-261421.jpg" alt="" /></div>

<div class='additional-material'>

	<h3>Screenshots from the Primary Progress Toolkit</h3>


	<p><img src="http://images.scholastic.co.uk/assets/a/9d/1c/ppt-screengrab-2-261442.jpg" alt="" /></p>


	<p><strong>Caption 1:</strong> Class progress in the core subjects is shown using both standard sub-levels and the sub-level plus codes, with colour coding to signify above, equal to or below the expected levels.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/5e/37/ppt-screengrab-3-261449.jpg" alt="" /></p>


	<p><strong>Caption 2:</strong> Individual pupil achievement is plotted on the left, in sub-levels, against a standard progress line (three points per year) while annual progress is displayed on the right, in points, using all six points in a level.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/8a/5d/ppt-screengrab-1-261428.jpg" alt="" /></p>


	<p><strong>Caption 3:</strong> Part of a Subject Tracker Grid showing pupils’ termly progress, with summary statistics at the top, colour coding for ‘improve’, ‘same’ or ‘decline’ and points progress calculated using all six points in a level.</p>


</div>

<p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /></p>


	<p>When I became the headteacher of my current school there was no school-wide progress-tracking system. I had a blank canvas and could choose how it would be done. Teachers will be familiar with the national system where the Key Stage 2 target of two levels or 12-points progress equates to a gain of three points each year. However, this results in a gain that cannot be measured, because the smallest increment is a sub-level or two points. The problem is worse if you try to track children’s progress termly. If three points is the expected annual gain, then for two out of the three terms children are likely to show no progress because there is insufficient evidence to show a move from one sub-level to the next. This lack of progress recognition can be demotivating for the child and frustrating for the teacher.</p>


	<p>With these issues in mind, and a blank canvas to play with, I began to look for a tracking system that would recognise children’s development between the conventional progress points.</p>


	<h2 id="top">Refining the system</h2>


	<p>It seemed to make sense to me to look for a way of refining the existing national system and find a way of using all six points in a level rather than just the alternate ones. Such a solution would offer the advantage that my staff already knew the system, so it could be implemented without too much difficulty. The starting point was assessing the children. The solution to this was to use the National Curriculum subject objectives. I asked my teaching staff to add up the number of objectives or competences their children could do and calculate the sub-level. For example, if the sub-level of 3B had four competences and a child demonstrated three or four of them, then this would be a high 3B. If the work showed only one or two of the competences it would be a low 3B. By doing this, my staff were able to use all six points in the scale.</p>


	<p>It should be noted that assessment is not an exact science. The data is dependent on the accuracy of the teachers’ assessments. Like Larkswood Primary, all schools will need to establish the accuracy of their assessments using this six-point system and monitor it over time to ensure consistency.</p>


	<h2>Tailor-made software</h2>


	<p>After assessing the children, what we needed next was software that would work with a six-point scale. Creating our own software was possible but would have been hard work and probably not as professional as we would have liked. We considered using the <a href="http://www.primaryprogresstoolkit.co.uk"><em>Primary Progress Toolkit</em></a> and explained our requirements to the developers. They were able to find a simple solution that enabled every point on the scale to be used, by inserting a sub-level ‘plus’ between each sub-level. So, if 2C equalled 13 points, 2C+ equalled 14 points, 2B is 15 points, and so on up the scale. This feature is now built in to the Primary Progress Toolkit software, so that any school can have it if they need a finer assessment scale.</p>


	<h2>On the right track</h2>


	<p>Our school has experienced several advantages as a result of this change. It uses an existing system that our teachers, parents and external agencies are familiar with based on the National Curriculum objectives. It also fits into the planning and assessment process and can be used alongside Assessing Pupil Progress for fine tracking against targets. Most importantly, it enables teachers to recognise and celebrate their class’ achievements and further motivate them to improve.</p>


	<p>A good, simple progress-tracking software package is undoubtedly a bonus to a school. As I’ve discovered, it can save time and, used effectively, makes a genuine difference to child attainment.</p>


<div class='additional-material'>

	<h3>Further information</h3>


	<p>The <em>Primary Progress Toolkit</em> offers free online and on-site demos. Visit <a href="http://www.primaryprogresstoolkit.co.uk">www.primaryprogresstoolkit.co.uk</a></p>


</div>

	<p><a href="#top">Back to top</a></p>

