<h1>Book reviews: Comedy books</h1>
<h4>20<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70535">Junior Education Plus May 2009</a></p>


<p class="author">By <strong>Anthony McGowan</strong> &#8212; author of the <em>The Bare Bum Gang</em> series</p>

<p class="intro">Author of the hilarious series <em>The Bare Bum Gang</em>, Anthony McGowan, reviews a selection of comedy books…</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='additional-material'>

<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/8c/52/anthony-mcgowan-261670.jpg" alt="" /></div>

<p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /></p>


	<h3>Our reviewer</h3>


	<p><img src="http://images.scholastic.co.uk/assets/a/26/40/bare-bum-gang-261686.jpg" class="img_right" alt="" /></p>


	<p>Anthony McGowan was born in Manchester and went to school in Leeds. He has an M.Phil in philosophy and a PhD on the history of the concept of beauty. He has worked as a nightclub bouncer, civil servant, and Open University tutor in philosophy. He is married, with two young children, and lives in London. Anthony has written <em>The Bare Bum Gang</em> (Red Fox, £4.99 PB) series for 7–11 year olds, the latest of which, <em>The Bare Bum Gang and the Valley of Doom</em>, was published in February ‘09. He is also the author of two adult thrillers and three young-adult novels.</p>


</div>

	<h3 id="top"><strong><em>Disaster Bunnies Save the Day! (kind of)</em> by Dinah Capparucci (Scholastic, £4.99 PB)</strong></h3>


	<p><img src="http://images.scholastic.co.uk/assets/a/62/c8/disaster-bunnies-261729.jpg" alt="" /></p>


	<p>Rightly shortlisted for the Roald Dahl Funny Prize, Dinah Capparucci’s first book, <em>Aliens Don’t Eat Dog Food</em>, introduces Jordan, Ryan and Boy Dave to the world: three all-too-recognisable schoolboys who find themselves swept up into bizarre adventures. <em>Disaster Bunnies Save the Day! (kind of)</em> continues the mayhem, with the boys tying themselves in knots with their alternating good hearts and bad morals.</p>


	<p>The writing combines warm humour with plenty of slapstick, and I often found myself laughing out loud as I read it to my children. The beauty of this book is that neither the characters or setting ever lose contact with reality, despite the frequent surreal flourishes.</p>


<blockquote>

	<p>None of this was our fault, except maybe what happened to Davina’s princess bedroom, which was really an act of mercy, in so much as we put it out of its misery</p>


</blockquote>

	<p><strong>Suitable for:</strong> boys; girls; older readers; more able readers; reading aloud</p>


<p>
<br /></p>


	<p><strong><em>Creaky Castle: Tom and the Siege</em> by Tony Bradman (Usborne, £4.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/4f/5f/tom-and-the-siege-261751.jpg" alt="" /></p>


	<p>Young Tom Bailey’s carefree life is threatened when his pushy (and rather scary) mother decides that what he needs is a dose of Sir Gilbert de Grouchy’s grim boarding school. Tom’s harebrained scheme to avoid this fate backfires with almost disastrous consequences. Much of the humour comes from the fact that the Baileys are an utterly contemporary family, set down among men-at-arms, siege engines and friendly, dim-witted dragons. Tony Bradman’s storytelling is clear and swift and the book has plenty of enjoyably-bad jokes. The lively illustrations by Stephen Parkhouse contribute to a very attractive package.</p>


	<p><strong>Suitable for:</strong> boys; girls; younger readers; older readers; reluctant readers; reading aloud</p>


<p>
<br /></p>


	<p><strong><em>Diary of a Wimpy Kid: Rodrick Rules</em> by Jeff Kinney (Puffin, £5.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/dc/f0/diary-of-w-wimpy-kid-261714.jpg" alt="" /></p>


	<p>I was initially underwhelmed by the second volume of Greg Heffley’s misadventures, told partly through his diary, partly through the cartoons that dot every page. However, my son – a nine-year-old reluctant (or rather, highly-picky) reader – pulled it out and stayed up late into the night to finish it. Then, read it through all over again. Then, dragged me to my local book shop to make me buy the first episode. Something about the easy and amusing style, and Greg’s everyday misfortunes, just clicks. But, the real genius of the book is the design, with the simple drawings taking all the pain out of reading.</p>


	<p><strong>Suitable for:</strong> girls; younger readers; older readers; reluctant readers; reading aloud</p>


<p>
<br /></p>


	<p><strong><em>Treasure Fever!</em> by Andy Griffiths (Marion Lloyd, £4.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/83/94/treasure-fever-261758.jpg" alt="" /></p>


	<p>As the many fans of Andy Griffiths know all too well, he is prepared to stoop pretty low to get a laugh. <em>Treasure Fever!</em> doesn’t hit the bottom quite as consistently as other titles, but there’s a comic energy here that’s hard to resist. The twin plot lines concern the arrival of a new, highly-eccentric teacher, Mr Brainfright, to Northwest Southeast Central School, and the search for pirate treasure. Although the tone is enjoyably silly, there is a serious lesson – aimed more at teachers than children – about how to make history and science interesting.</p>


	<p><strong>Suitable for:</strong> boys; girls; older readers; more able readers; reluctant readers; reading aloud</p>


<p>
<br /></p>


	<p><strong><em>Pongwiffy: Back On Track</em> by Kaye Umansky (Bloomsbury, £5.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/4e/b9/pongwiffy-261707.jpg" alt="" /></p>


	<p>Kaye Umansky’s unhygienic witch, Pongwiffy, is back. <em>Back On Track</em> has all the unsavoury ingredients of the others: enjoyably-terrible jokes, off-the-wall characters, and a rollicking storyline – all held together by our dentally-challenged, slovenly, binge-eating, lovable heroine. In the latest adventure, Pongwiffy tries to get fit for the O’Lumpick Games – Witchway Wood’s premier sporting event. But, the joy of the book is Umansky’s exuberant language – the Pratchett-like playfulness of her world building and those appalling puns!</p>


	<p><strong>Suitable for:</strong> girls; younger readers; older readers; more able readers; reading aloud</p>


<div class='additional-material'>

	<p><strong>Don&#8217;t forget to visit our &#8216;Giveaways&#8217; section for a chance to win the books featured here!</strong></p>


</div>

<p>
<br /></p>


	<p><strong><em>Ribblestrop</em> by Andy Mulligan (Simon &#38; Schuster, £6.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/3d/ce/ribblestrop-261744.jpg" alt="" /></p>


	<p>Despite some very funny parts, such as the accident-blighted first journey to Ribblestrop School of new boy Sam, I suspect that fathers, remembering there own grim adventures at school, might get more from this book than their children.</p>


	<p><strong>Suitable for:</strong> boys; girls; older readers; more able readers</p>


<p>
<br /></p>


	<p><strong><em>Billy Bonkers 2: More Madness!</em> by Giles Andreae (Orchard, £5.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/4e/fe/billy-bonkers-2-261693.jpg" alt="" /></p>


	<p>The three stories here feature misfiring mechanical trousers, the Loch Ness Monster and strange events at a bowling alley – all linked by a tone of energising silliness.</p>


	<p><strong>Suitable for:</strong> boys; girls; younger readers; reluctant readers; reading aloud</p>


<p>
<br /></p>


	<p><strong><em>Sebastian Darke: Prince of Pirates</em> by Philip Caveney (Red Fox, £5.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/35/61/sebastian-darke-261737.jpg" alt="" /></p>


	<p>A rollicking romp, set in a parallel universe complete with talking pachyderms and glum elvish midgets. The <em>Sebastian Darke</em> books offer adventure and humour in spades.</p>


	<p><strong>Suitable for:</strong> boys; girls; older readers; more able readers</p>


<p>
<br /></p>


	<p><strong><em>Agent Amelia: Spooky Ballet!</em> by Michael Broad (Andersen Press, £4.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/7b/be/agent-amelia-261679.jpg" alt="" /></p>


	<p>Aimed at girls bored with fairy and princess books, Spooky Ballet! features plucky secret agent Amelia Kidd. Nothing too demanding here, but just enough quirkiness to raise a smile or two.</p>


	<p><strong>Suitable for:</strong> girls; younger readers; reluctant readers; reading aloud</p>


<p>
<br /></p>


	<p><strong><em>Jiggy McCue: Kid Swap</em> by Michael Lawrence (Orchard, £5.99 PB)</strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/be/84/kids-swap-261700.jpg" alt="" /></p>


	<p>In the tenth story featuring Jiggy McCue, our hero finds himself living with another family as part of a reality TV show. Like the others in the series, it packs in plenty of jokes and insane plot twists. Jiggy’s voice is distinct and hilarious.</p>


	<p><strong>Suitable for:</strong> boys; girls; older readers; more able readers</p>


	<p><a href="#top">Back to top</a></p>

