<h1>Post-SATs showtime: <span class="caps">FREE</span> playscript</h1>
<h4>20<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70535">Junior Education Plus May 2009</a></p>


<p class="author">By <strong>Andrew Oxspring</strong> &#8212; <em>Year 6 teacher, writer and musician</em></p>

<p class="intro">When the slog of SATs has finally finished, discover a school leavers’ musical that will keep children motivated and engaged until the very end of term</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/04/42/goodbye-my-friend-261770.jpg" alt="" /></div>

<div class='additional-material'>

	<h3 id="top">Online extras!</h3>


	<p>Don&#8217;t forget to download the <a href="http://magazines.scholastic.co.uk/resources/48281">audio</a>, <a href="http://magazines.scholastic.co.uk/resources/48280">script and song lyrics</a> to &#8216;The SATs Blues&#8217; from <em>Goodbye my friend</em> to perform at an end-of-year, end-of-primary school play for your Year 6 children.</p>


</div>

	<p>You and your Year 6 class have been working like Trojans revising the entire Key Stage 2 curriculum for maths, science and English. With skill, careful planning and a little luck, you’ve got the children peaking just at the right time. Then, like coiled springs, with their knowledge and understanding honed to perfection, they pour all they’ve learned into their SATs answer booklets – each child a credit to you and the school that’s nurtured them.</p>


	<p>But, what happens next? How do you engage and contain their pre-teen sensibilities for the rest of their time with you – their emerging ‘attitude’ and desire to break free from an environment many think they are now too ‘cool’ for? Simple – lots of singing and acting of course! Songs and sketches can be performed at the end of term to parents, teachers and younger year groups to celebrate the wonderful characters and events that are unique to primary school, and that will have the children and their audience laughing and reminiscing together. It’s a wonderful way of bringing this chapter of their life to a satisfying and memorable conclusion.</p>


	<h3 id="top">Goodbye my friend</h3>


	<p><em>Goodbye my friend</em>, a school leavers’ musical production from <a href="http://www.edgyproductions.com">Edgy Productions,</a> is a resource that aims to help bring children’s primary education to a memorable and fun finale. A compilation of songs and sketches from my earlier musicals, it provides some humorous and witty, yet sensitive and perceptive, snapshots of the unforgettable school experiences of children, teachers and parents. It also serves as an emotional goodbye from the leavers to their primary school community, guaranteed to leave not a single dry eye in the school hall!</p>


	<p><em>Goodbye my friend</em> includes a script, CD of backing tracks and vocal tracks of all the catchy songs, continuity music, sound effects and piano score. The themes and characters lovingly satirised include: chaotic Monday-morning registration, Michelin-star school dinners, compulsive head counting on school trips, <span class="caps">SAS</span>-style dinner ladies, infant nativity plays, jolly caretakers, grumpy bus drivers, superhero teaching assistants… and much more! You can pick and choose as few or as many of the songs and sketches that best sum up your children’s experiences of school. A choice of ‘tear-jerking’ farewell ballads will give a fitting end to your performance, and with continuity scenes provided, you can easily produce a tailor-made production or assembly that will round the year off perfectly.</p>


<blockquote>

	<p>&#8216;Primary school is about more than just providing children with an education – it’s also about providing them with memories that they will cherish in later life&#8217;</p>


</blockquote>

	<h3>The SATs Blues</h3>


	<p>Since publication last summer, one scene and song in particular – ‘The SATs Blues’ – seems to have captured the imagination of children and teachers (download the <a href="http://magazines.scholastic.co.uk/resources/48280">script, lyrics</a> and <a href="http://magazines.scholastic.co.uk/resources/48281">audio</a> for free). The comedy centres on three children and their very different experiences of sitting a science paper. As they read the questions, we get an insight into what these differences are. While one frets over which direction the arrows in a food chain should point, another is contemplating how far a chewed-up piece of paper can be catapulted with a ruler, while the third is sneakily trying to consult the notes hidden up his sleeve! As the scene progresses, the comedy provides a vehicle for understanding one of the many moments that form part of the rich tapestry of being young and going to school.</p>


	<h3>Saving the memories</h3>


	<p>While entertaining, the content of this musical also provides genuine points for discussion. Throughout rehearsals the children can be encouraged to reflect on their primary years, and use the script to focus on all they’ve achieved, the fun they’ve had, the scrapes they’ve been in, and their expectations and anxieties about starting secondary school.</p>


	<p>Primary school is about more than just providing children with an education – it’s also about providing them with memories that they will cherish in later life. <em>Goodbye my friend</em> will go a long way to making sure that this happens.</p>


<div class='additional-material'>

	<h3>Further information</h3>


	<p>For more information, visit <a href="http://www.edgyproductions.com">www.edgyproductions.com</a> email info@edgyproductions.com or call 0845 833 3348.</p>


</div>

	<p><a href="#top">Back to top</a></p>

