<h1>Build your own castle</h1>
<h4>30<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/72870">Literacy Time PLUS Ages 5 to 7 May 2009</a></p>


<p class="author">By <strong>Judith Mason</strong> &#8212;Educational Consultant</p>

<p class="intro">Get two games in one in this interactive resource for two players. Compete to be the first to label the parts of a castle correctly, then put the instructions in the correct sequence to build your very own castle!</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/d4/72/lt570509-buildyourowncastle-263628.jpg" title="126727_lt570509_buildyourowncastle.jpg" alt="126727_lt570509_buildyourowncastle.jpg" /></div>

	<h2>Playing the game</h2>


	<p>Go to the pupil title screen where you can choose which game to play by clicking on ‘Game 1: Castle labels’ or ‘Game 2: Build a castle’.</p>


	<h2>Game 1</h2>


	<ul>
	<li>On the screen you can see two castles, one for each player. There are jigsaw-shaped gaps in the pictures. Players must complete their castle by finding the missing parts and placing them in the correct position on the castle. The players will need to click where indicated to decide who will start.</li>
		<li>During play, jigsaw pieces will appear one by one under each picture. With each piece appears a label for part of the castle (<em>moat, drawbridge, gatehouse, wall, tower, keep, arrow slit</em> and <em>battlement</em>). Players must read the label then drag the jigsaw piece into the correct place on the picture.</li>
		<li>When a player places a piece in the correct position, it remains there so that the picture is gradually completed. The player will hear that word being spoken, then the next piece and label will appear under their opponent’s picture. If a label is placed incorrectly, it will ‘bounce back’ and that player’s turn is over. </li>
		<li>The aim of this game is to be the first to finish labelling a castle. The winner is rewarded by being able to raise a flag on top of their castle.</li>
	</ul>


<div class='additional-material'>

	<h2>Previous learning</h2>


	<p>Children should have experience of: using talk to organise thinking and events; extending their vocabulary, exploring the meaning/sound of new words; interacting with others and taking turns; writing for different purposes using different forms – eg, instructions.</p>


	<h2>Preparation</h2>


	<ul>
	<li>Ask the children what they already know about castles. </li>
		<li>Look at a range of books and labelled pictures of castles (see <a href="http://magazines.scholastic.co.uk/content/7221">Poster 1</a> and <a href="http://magazines.scholastic.co.uk/content/7222">Poster 2</a> and <a href="http://magazines.scholastic.co.uk/content/7223">Leaflet 1</a>). Talk about the different parts of the castles and discuss their purpose – for example, arrow slits are narrow to defend the archers when they fire their arrows at attackers.</li>
		<li>Practise using sequencing words in simple tasks.</li>
	</ul>


</div>

	<h2>Game 2</h2>


	<ul>
	<li>The aim of this game is to work together to build a castle by arranging a set of instruction sentences in the correct order.</li>
		<li>Children click on the parchment to reveal an instruction. After reading it, they need to drag and drop the instruction into the correct number sequence to create the complete instructions for building a castle.</li>
		<li>When sequenced correctly, instructions will lock into place and part of the castle will appear on screen, until a complete picture of a castle can be seen. If an instruction is put in the wrong place the piece of castle will not appear.</li>
		<li>Children must continue moving and sequencing the instructions until they are all in the correct order and the whole castle has appeared. When the castle is complete, a ‘for sale’ sign will appear.</li>
	</ul>


<div class='additional-material'>

	<h2>Key learning outcomes:</h2>


	<ul>
	<li>To build new stores of words;</li>
		<li>To create chronological texts using simple structures;</li>
		<li>To use labels;</li>
		<li>To sequence simple instructions.</li>
	</ul>


</div>

	<h2>Follow-up activities</h2>


	<ul>
	<li>Ask the children to write out some instructions for building a castle. Depending on ability, they could use the wording from the game or rewrite the instructions in their own words. Some children might also require the support of a simple writing frame with the connectives First, Next, Then, After that and Finally in a word bank, and a series of boxes in which they can draw pictures to illustrate the castle-building sequence, writing sentences to go with each picture. </li>
		<li>Use small world figures with a model castle to make up stories in this setting.</li>
		<li>Make three-dimensional castle models, and add labels based on the words used in Game 1.</li>
		<li>Show the children how to use a simple glossary or contents page in a book on castles to find out more information about the parts of a castle.</li>
		<li>To reinforce understanding of the castle vocabulary introduced in this resource, invite children to complete the word search on the activity sheet below. Can they tell you what each word means?</li>
	</ul>

