<h1>Smoothing the transition</h1>
<h4>30<sup>th</sup> April 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/72870">Literacy Time PLUS Ages 5 to 7 May 2009</a></p>


<p class="author">By <strong>Sylvia Clements</strong> &#8212; Primary school teacher and freelance educational writer.</p>

<p class="intro">Sylvia Clements investigates how you can make the move from Key Stage 1 to Key Stage 2 as smooth as possible for your pupils.</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/6e/9d/featurearticle-pic-263889.jpg" title="featurearticle-pic.jpg" alt="featurearticle-pic.jpg" /></div>

<div class='additional-material'>

	<p><strong><em>Sustaining Pupils Progress at Year 3</em> by Christine Doddington, Julia Flutter and Jean Ruddock (Journal: <em>Research in Education</em>, Vol 61, May 1999, <span class="caps">ISSN 0034</span>-5237) can be obtained from the Faculty of Education, Homerton College, Hills Road, Cambridge <span class="caps">CB2 2PH</span>.</strong></p>


</div>

<p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
As far back as the 1970s and 80s, national studies identified a dip in achievement by Year 3 pupils. Professor Christine Doddington of Cambridge University’s School of Education, led an investigation* into the reasons for that dip, and found that the Key Stage 1 to Key Stage 2 transition itself was a major contributory factor.</p>


	<p>Following these findings, many establishments, individuals and LEAs have carried out studies to investigate evidence of the dip, contributory factors and ways to smooth the <span class="caps">KS1</span>/KS2 transition and sustain pupil progress. This article summarises some of the contributory factors and suggests what you can do to smooth the transition in your setting.</p>


	<h3>Contributory factors</h3>


	<p>If your pupil tracking data is showing that, between <span class="caps">KS1</span> and 2, pupils are making little or no progress – or even regressing – this could be a result of the following factors. Take the test in the box opposite and see which factors apply to your school!</p>


<div class='additional-material'>

	<ul>
	<li>A lack of recognition of the need to adopt a transition policy or to take a proactive approach to smooth the transition for pupils.</li>
		<li>Less parental involvement as the shift in reading moves towards independent reading and an assumed expectation by parents that homework should be completed independently.</li>
		<li>A change in setting where the transition involves a move to a new school – ie, an infant site to a junior site.</li>
		<li><span class="caps">KS1</span> and <span class="caps">KS2</span> teachers’ planning and assessing in key stage groups with no interfacing.</li>
		<li>A sudden expectation of working in a more independent manner (for example, less help with changing for PE, responsibility for personal belongings, less classroom support).</li>
		<li>A lack of cross-key-stage observations and feedback about teaching methods, style and content.</li>
		<li>A lack of transfer of sufficient relevant personal information (not just academic) about each pupil.</li>
		<li>Many new ways of working, such as writing and underlining the date and title, working on A4 paper with line guides, beginning to learn a cursive style of handwriting, increased curriculum demands, less opportunity for learning through play, a longer day with fewer breaks.</li>
	</ul>


</div>

	<h3>Smoothing the transition</h3>


	<p>If some or all of these factors apply in your setting and, as a school, you feel the need to take a proactive stance to reduce the dip, why not consider these ideas:</p>


	<p><strong>Develop a policy document</strong> – to deal with continuity of progression, as pupils transfer between year groups and make the transition between key stages. This policy document should take into consideration:</p>


	<ol>
	<li>Timetabling a series of transition meetings, to determine and decide upon timescales for the implementation of actions that need to be taken to put in place the smooth transition action plan – the first being in early spring;</li>
		<li>Specification of the transfer records which are to be provided for the Year 3 teacher <span class="caps">BEFORE</span> the autumn term (tracking sheets, writing portfolios, reading and spelling scores, IEPs, teacher observations, assessments, etc).</li>
	</ol>


<strong>Hold transition meetings with timetabled actions, including:</strong><br />
	<ul>
	<li>Year 2 and Year 3 teachers collaborating to plan a transition unit of work to be started at the end of the summer term and completed at the start of the autumn term;</li>
		<li>Planning a series of ‘Shuffle Up’ or ‘Year 3 Taster’ days;</li>
		<li>Providing opportunities for the Year 2 children to play in the Year 3 playground;</li>
		<li>Arranging to transfer some display work from the Year 2 classroom;</li>
		<li>Organising for Year 2 children to have book buddies in <span class="caps">KS2</span>;</li>
		<li><span class="caps">KS2</span> teachers and teaching assistants observing several lessons in <span class="caps">KS1</span> and vice versa;</li>
		<li>Timetabling <span class="caps">PPA</span> time where Year 2 and 
Year 3 teachers can carry out some moderation of levelling;</li>
		<li>Integrating some of the resources and features of ‘Learning through Play’ into the Year 3 classroom to allow for learning through practical experience;</li>
		<li>Providing information to parents about how learning changes and what support is needed in Year 3;</li>
		<li>Providing Year 2 pupils with transition ‘passports’ where the different timetabled activities can be stamped to increase their confidence about the move – eg, <em>I know where the Year 3 toilets are; I have played in the <span class="caps">KS2</span> playground</em>;</li>
		<li>Implementing strategies to develop pupils’ independence in learning skills <span class="caps">BEFORE</span> they start Year 3. For example, begin to use a ruler to underline dates, begin to move away from worksheets, encourage group work, use <span class="caps">PSHE</span> time to discuss being grown-up;</li>
		<li>Considering how Year 3 autumn term schemes can include an element of pursuing enquiries and interests and how the greater degree of teacher direction and increased formal style of learning can be phased in;</li>
		<li>Considering the differences in adult/child ratios in your setting between the two year groups and whether there could be more teaching assistant support time provided in Year 3 during the initial settling in period;</li>
		<li>Formulating a Transition Information Pack for parents and/or holding an information evening for parents which explain the changes their children will be experiencing, and details how home support can help.</li>
	</ul>


	<h3>What next?</h3>


	<p>Once you have decided on the actions relevant to your setting, create an agreed timeline and <span class="caps">STICK TO IT</span>! Possibly the most important actions to be implemented, though, are the increase in communication between key stage teachers and the observations across the two key stages.</p>


	<p>Good luck in smoothing your pupils’ transition!</p>

