<h1>Get active: Keep-fit workout</h1>
<h4>11<sup>th</sup> May 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70515">Nursery Education Plus June 2009</a></p>


<p class="author">By <strong>Sally Gray</strong> &#8212; <em>early years teacher and writer.</em></p>

<p class="intro">Introduce the children to these great ways to get active</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/71/56/keep-fit-265124.jpg" title="Keep-fit workout" alt="Keep-fit workout" /></div>

	<h2>1 Children’s health centre</h2>


	<h3>Explore the benefits of exercise</h3>


	<p><strong><em>Physical Development</strong></em></p>


	<p><strong><em>Health and Bodily Awareness</strong></em></p>


	<p><strong>Development matters:</strong> show emerging autonomy in self-care (22-36 months); show some understanding that good practices with regard to exercise, eating, sleeping and hygiene can contribute to good health (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> recognise the importance of keeping healthy, and those things which contribute 
to this.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Role-play area; healthy living posters; toy medical equipment such as stethoscopes; soft mat; music player; music for dancing or exercising.</p>


	<h3>What to do</h3>


	<p>Invite the children to help set up the role-play area as a children’s health centre with posters and toy medical equipment. Nearby, include an exercise mat, together with a music player and music for dancing or jogging to on the spot.</p>


	<p>Talk about the health centre together and explain that it is important to get regular exercise. Show the children the mat and music that you have provided, and demonstrate some of the moves they can do on it, such as jogging or hopping on the spot. Talk about what happens to your heartbeat after you have exercised and demonstrate how to use the toy stethoscopes in the health centre to check their heart rates.</p>


	<p>End the session by encouraging the children to carry out some bending and stretching exercises on the mat.</p>


	<h3>Support</h3>


	<p>Show the children how to find their pulse and point to where their heart is.</p>


	<h3>Extension</h3>


	<p>Use the ‘Keep fit’ photocopiable sheet  in the health centre, and suggest that the children carry out the exercises shown.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide colourful playmats for the children to lie on. Vary the objects that are hung over the mats.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – be confident to try new activities, initiate ideas and speak in a familiar group.</p>


	<p>CD – use their imagination in art and design, music, dance, imaginative and role-play and stories.</p>


	<h2>2 Moving and grooving</h2>


	<h3>Make an exercise <span class="caps">DVD</span></h3>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<p><strong><em><span class="caps">ICT</span></strong></em></p>


	<p><strong>Development matters:</strong> show an interest in <span class="caps">ICT</span> (22-36 months); use <span class="caps">ICT</span> to perform simple functions, such as selecting a channel on the TV remote control 
(40-60+ months).</p>


	<p><strong>Early learning goal:</strong> find out about and identify the uses of everyday technology and use information and communication technology and programmable toys to support their learning.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Camcorder; television or interactive whiteboard; music player; lively music; large space.</p>


	<h3>What to do</h3>


	<p>Explain to the children that they are going to make their own exercise video. Demonstrate a simple action at a time for each child to copy.</p>


	<p>Once the children have mastered the move, record them doing it repeatedly for approximately one minute. Repeat with a new action and then record it.</p>


	<p>Over time, build up to a ten-minute ‘film’. Ideas could include jogging on the spot, marching, stretching, jumping up and down, hopping on the spot, shaking the body, and ‘going crazy’ or free dance. Play some lively music in the background to form the ‘soundtrack’.</p>


	<p>Edit the film, then play it on a television or interactive whiteboard and use as a resource for the children to ‘get active’ to. Let them talk about which parts they liked taking part in the most and why they enjoyed them. Did they feel good when they finished exercising?</p>


	<h3>Support</h3>


	<p>Use this opportunity to practise some of the technical vocabulary and demonstrate to the children how some of the technology works.</p>


	<h3>Extension</h3>


	<p>Let the children have a turn at filming the activities and selecting and playing the music.</p>


	<h3>Birth to 36 months</h3>


	<p>Sing action rhymes to the children, and move their fingers and toes in time to the music.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">CLL</span> – sustain attentive listening, responding to what they have heard with relevant comments, questions or actions.</p>


	<p>PD – move with control and coordination.</p>


	<h2>3 Windmill frenzy</h2>


	<h3>Develop handwriting skills through some warm-up exercises</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Handwriting</strong></em></p>


	<p><strong>Development matters:</strong> draw lines and circles using gross motor movements (30-50 months); begin to use anticlockwise movement and retrace vertical lines (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use a pencil and hold it effectively to form recognisable letters, most of which are correctly formed.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> up to six children at a time.</p>


	<p>Chalkboards and chalks; whiteboards and pens; large pieces of paper; pens.</p>


	<h3>What to do</h3>


	<p>Carry out this activity on a regular basis, linking the exercises to the letter formation and pattern practice that you are currently working on.</p>


	<p>Start by warming up the children’s handwriting muscles – in the shoulders, neck, hands and arms – by clenching and then loosening the muscles. Encourage them to make windmill movements with their arms, forwards and then backwards.</p>


	<p>Next, provide large pieces of paper and pens, and encourage the children to work on a large scale, taking a line for a ‘walk’. Encourage them to make the marks that you are focusing on, such as loops, swirls or zigzags. Remind the children of the windmill movements that they made at the start of the session. Can they make similar large circular movements, clockwise and anticlockwise, on their paper?</p>


	<p>Finally, let the children experiment making marks using whiteboards and pens, and chalkboards and chalks.</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<ul>
	<li>Encourage parents to keep an active diary with their children, writing down the active things that they have done. Share the ideas at the setting and make a group poster showing all the ways that the children keep fit.</li>
	</ul>


	<h3>Further idea</h3>


	<ul>
	<li>For more active handwriting fun, draw letters in the air together, sometimes guessing each other’s and sometimes copying. Make the letters as big or as small as you can.</li>
	</ul>


</div>

	<h3>Support</h3>


	<p>Invite the children to make patterns in wet sand in the sand tray using sticks.</p>


	<h3>Extension</h3>


	<p>Develop a regular routine of handwriting warm-ups and encourage the children to remember the sequence.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide activities that involve learning to grip and manipulating objects to help the children develop the muscles they need for handwriting.</p>


	<h3>Cross-curricular links</h3>


	<p>PD – use a range of small and large equipment.</p>


	<p>CD – explore colour, texture, shape, form and space in two or three dimensions.</p>

