<h1>Literacy: What is an adjective?</h1>
<h4>18<sup>th</sup> May 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70492">Child Education PLUS June 2009</a></p>




<p class="intro">Enable children to discover the function of adjectives using activities taken from Scholastic’s <em>Literacy Skills</em> books</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/51/0b/grammar-and-punctuation-267281.jpg" title="Grammar and punctuation years 1-2" alt="Grammar and punctuation years 1-2" /></div>

	<p><b>Objective:</b>  To introduce the function 
of adjectives.</p>


	<h3>Background knowledge</h3>


	<p>Adjectives describe nouns and pronouns – they tell us something about somebody or something.</p>


	<p>Adjectives come either before a noun, or after a verb – such as ‘be’, ‘get’, ‘seem’ or ‘look’. For example, <em>He is an intelligent boy. That girl is intelligent.</em> Children do not need to use the term ‘adjective’, but they should begin to discover the function and explore the variety of adjectives.</p>


	<p><br></p>


	<h2>Activities</h2>


	<h3>What’s it like? (1)</h3>


	<p>Write a simple sentence on the board such as, I have a cat. Ask the children what they know about your cat from that sentence alone. Does it tell them what it looks like or how it behaves? Add an adjective, such as ‘fluffy’, and ask the children if that helps and why. Then ask them to choose one of the words from 
the box to describe each of the things on the sheet.</p>


	<p><a href="http://www5.scholastic.co.uk/static/magazine/g_p_y1and2_ch2_s1_what_is_it_like_1/start.html">What’s it like? (1) interactive resource.</a></p>


	<h3>What’s it like? (2)</h3>


	<p>Remind the children about describing words. Hold up a classroom object, such as a book, and ask the children to suggest words to describe it. If they say ‘red’, take the opportunity to point out that colour words are describing words too. Now ask the children to look at the objects in the activity and to think of suitable describing words. They should also draw their own object and describe it, using an adjective and a noun.</p>


	<p><a href="http://www5.scholastic.co.uk/static/magazine/g_p_y1_2_ch2_s1_whats_it_like2_sim_txt/start.html">What’s it like? (2) interactive resource.</a></p>


	<h3>Colours</h3>


	<p>Explain that colours are also describing words. Invite children to point to things in the classroom and describe them according to their colour, such as ‘a blue jumper’. Ask them to colour the ovals at the top of the online photocopiable sheet in the appropriate colour and then to use those colours to colour in the picture below. They can then describe the things they have coloured.</p>


<div class='additional-material'>

	<h2>Exclusive reader offer!</h2>


	<p>The activities here have been taken from Literacy Skills: <em>Grammar and Punctuation Years 1–2</em> (Scholastic, <span class="caps">ISBN 9781407100456</span>). We are offering <em>ChildEd <span class="caps">PLUS</span></em> readers a <b>15 per cent discount</b> on the book if bought at the Scholastic Shop (<a href="http://shop.scholastic.co.uk">http://shop.scholastic.co.uk</a>). Please enter code <span class="caps">VW70</span> at the checkout. Offer expires 30/06/09. And visit our <a href="http://magazines.scholastic.co.uk/content/give_aways?product_id=70492">online giveaways</a> for a chance to win the book&#8230;</p>


</div>

	<h3>Further ideas</h3>


	<ul>
	<li><b>Alphabetical adjectives:</b> Choose a noun, such as ‘dog’ or ‘friend’, and go round the class asking each child to suggest an adjective, using a different describing word for every letter of the alphabet. So, <em>My dog is active / My dog is brown / My dog is cute</em>, and so on. You may have to help out with some letters of the alphabet.</li>
		<li><b>Think of adjectives:</b> Alternatively, choose one letter of the alphabet 
and as a class try to find as many adjectives as you can to describe a noun. For example, <em>My friend is messy, minute, marvellous…</em></li>
	</ul>

