<h1>Theme weeks: Charles Darwin</h1>
<h4>26<sup>th</sup> May 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70536">Junior Education Plus June 2009</a></p>


<p class="author">By <strong>Christina Baker</strong> &#8212; <em>writer and educational journalist</em></p>

<p class="intro">Help celebrate the 200th birthday of Charles Darwin with an inspirational cross-curricular theme week</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/43/5c/darwin-268579.jpg" title="Charles Darwin" alt="Charles Darwin" /><p>Theme a week of activities around the famous scientist Charles Darwin</p></div>

	<h2 id="top">Activities</h2>


	<ul>
	<li><a href="#firstthing">Monday &#8212; assembly, history, <span class="caps">ICT</span></a></li>
	</ul>


	<ul>
	<li><a href="#secondthing">Tuesday &#8212; cross curricular, science, history</a></li>
	</ul>


	<ul>
	<li><a href="#thirdthing">Wednesday &#8212; music, dance</a></li>
	</ul>


	<ul>
	<li><a href="#fourththing">Thursday &#8212; literacy, drama, <span class="caps">PSHE</span></a></li>
	</ul>


	<ul>
	<li><a href="#fifththing">Friday &#8212; cross curricular</a></li>
	</ul>


<p>


	<h3 id="firstthing">Monday (assembly, history, <span class="caps">ICT</span>)</h3>


	<p>• <strong>Meet Mr Darwin:</strong> For an engaging kick-start to the week, hold a special assembly to introduce the children to Darwin and his work. Perhaps a teacher could dress up as Darwin himself and provide an autobiographical account (who he was, where and when he lived, how he came to develop his ideas, his main theories and how they were received). Other brave teachers could act out a sketch to demonstrate Darwin’s ideas (the origin of species through natural selection). A Victorian-style post box could be set up in the foyer and, throughout the week, children could write letters or questions for Darwin that the teacher in role as Darwin could address in an assembly on Friday.</p>


	<p>• <strong>Darwin’s time (history):</strong> To appreciate Darwin’s impact, it’s important to gain an understanding of the society in which he lived. Ask the children to research Victorian society, clothing, work, entertainment, religious values, family life, technology, and so on. (<a href="http://magazines.scholastic.co.uk/search/search?&#38;now=mag_id&#38;search[mag_id]=21881&#38;search[query]=the+victorians">Take a look at resources on the Victorians from the <em>Junior Ed <span class="caps">PLUS</span></em> archive.</a>)</p>


	<p>• <strong>Darwin’s life (ICT):</strong> Give children the opportunity of further exploring Darwin’s life and work. The <a href="http://www.nhm.ac.uk">Natural History Museum website</a> is an excellent information source. Likewise, the ‘Down House’ page on the <a href="http://www.english-heritage.org.uk">English Heritage website</a> contains an interactive element in which the viewer can look around Darwin’s study. The children could also complete <a href="http://magazines.scholastic.co.uk/resources/49575"><strong>Photocopiable,</strong></a> ‘Darwin trivia challenge’. Their answer sheets could be put into a school post box and a winner drawn out at the end of the week.</p>


	<p><strong>Quiz answers: 1) <em>On the Origin of Species</em>; 2) Emma Wedgwood; 3) <em><span class="caps">HMS</span> Beagle</em>; 4) Mockingbirds; 5) 73; 6) Alfred Russel Wallace; 7) Westminster Abbey; 8) Worms; 9) Down House; 10) Abraham Lincoln</strong></p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="secondthing">Tuesday (cross curricular, science, history)</h3>


	<p>• <strong>Beagle journey (cross curricular):</strong> In 1831, Darwin sailed around the world on the <em><span class="caps">HMS</span> Beagle</em>. He used this time to observe and collect countless species of plants, animals and fossils, an act that eventually led him to develop his theories. You could transform the school hall or playground into a giant world map, depicting the different places Darwin stopped on his journey. The locations included: Plymouth, Cape Verde Islands, Salvador (Brazil), Punta Alta (Argentina), Tierra del Fuego (Argentina), Falkland Islands, Rio Negro (Argentina), Chiloé Island (Chile), Galápagos Islands (Ecuador), Sydney (Australia), Cocos Islands (Keeling Islands), Mauritius (Indian Ocean), Cape Town (South Africa), Bahia (Brazil), Pernambuco (Brazil) and Falmouth (UK). Assign each class within the school (or group of children within a class) a different country. They should investigate what Darwin might have seen when he visited (the animals and their habitats). The children should collect photographs, draw pictures or make models to depict these. Their work can be set up in the appropriate area of the ‘map’ later on in the week. Then, with the teacher acting as a ‘tour guide’, the children could be led through the different stages of the voyage.</p>


	<p>• <strong>Observing animals (science):</strong> Ask the children to make observations of an animal. This could be an insect or bird in the school playground or you may wish to use an ant farm or worm box in the classroom – Darwin himself was fascinated by earthworms and dedicated years to studying them. The children could sketch the animals and make notes about their behaviour.</p>


	<p>• <strong>Animals and adaptation (science):</strong> Ask a volunteer from an animal/bird sanctuary or a local vet to visit the school to talk to the children about the way animals adapt to their environment.</p>


	<p>• <strong>Archaeological dig (history):</strong> Talk to the children about the way archaeologists find out about the past. Set up ‘digs’ using large containers of sand or loose dirt and bury items in them. Show the children how to carefully brush away layers until they find their artefact. Talk about the discovery of ‘Lucy’ – an Australopithecus afarensis skeleton, which was at the time (1974), the most complete and oldest hominid specimen. Look out for our creative topic next month celebrating British archaeology.</p>


	<p><a href="#top">Back to top</a></p>


<div class='additional-material'>

	<h3>Don&#8217;t forget&#8230;</h3>


	<p>to challenge your class to our <a href="http://magazines.scholastic.co.uk/resources/49575">Charles Darwin quiz</a>!</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/aa/67/je0609darwinonline-inp-268170.jpg" title="Darwin trivia challenge" alt="Darwin trivia challenge" /></p>


</div>

	<h3 id="thirdthing">Wednesday (music, dance)</h3>


	<p>• <strong>Animal arts (music/dance):</strong> Why not make Wednesday a Darwin-themed, performing-arts day? The children could compose pieces of music based on the movement of different animal species. They could use Camille Saint-Saëns’ <em>Carnival of the Animals</em> as musical inspiration, discussing how the pitch, instrument and pace of the music help to portray each animal. (check out <a href="http://magazines.scholastic.co.uk/resources/27338">‘Aquarium’</a> – an audio poster taken from <em>Carnival of the Animals</em>.) The children could then devise dances based on the animals’ movements or a movement piece using different levels to represent the ‘descent of man’.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="fourththing">Thursday (literacy, drama, <span class="caps">PSHE</span>)</h3>


	<p>• <strong>The Origin of species (literacy/drama):</strong> Ask the children to research the impact that the publication of <em>On the Origin of Species</em> in 1859 had on society and religion at the time. What were the main ideas expressed in the book? Why did it cause controversy? The children could devise drama scenes showing people’s reactions or create newspaper stories with a bias for or against Darwin and his ideas. (See <em>Junior Ed <span class="caps">PLUS</span></em>, March ’09 for some background information on the basic principles of natural selection.)</p>


	<p>• <strong>Challenging ideas (PSHE):</strong> Ask the children to imagine themselves in Darwin’s shoes. How might he have felt about making public an idea that he knew would outrage society? Can they think of other examples in which someone has risked ridicule to stand up for something they believed in?</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="fifththing">Friday (cross curricular)</h3>


	<p>• <strong>Celebrating Darwin (cross curricular):</strong> Conclude the theme week with an assembly. ‘Darwin’ could return to answer the children’s questions and award a prize for a child who has answered their <a href="http://magazines.scholastic.co.uk/resources/49575">‘Darwin trivia challenge’</a> correctly. The children could present dances/sketches or show work that they have created throughout the week by creating their own Darwin mini museum (<a href="http://magazines.scholastic.co.uk/resources/48161">see ideas for setting up your own school museum</a>).</p>


	<p><a href="#top">Back to top</a></p>


<div class='additional-material'>

	<h3><span class="caps">ICT</span> links</h3>


	<p>• Part of Darwin200, the <a href="http://www.wellcome.ac.uk/Achievements-and-Impact/Initiatives/Public-engagement/Darwin-200/index.htm">Wellcome Trust website</a> includes Darwin-themed activities, resources and images.</p>


	<ul>
	<li><a href="http://www.aboutdarwin.com/darwin/WhoWas.html">AboutDarwin.com</a> features information on Darwin&#8217;s life and times.</li>
	</ul>


	<p>• Child-friendly information can be found on the <a href="http://www.darwinfoundation.org/en/library/children/kids">Darwin Foundation website.</a></p>


</div>

