<h1>History/interactive: Victorian townhouse</h1>
<h4>26<sup>th</sup> May 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70536">Junior Education Plus June 2009</a></p>


<p class="author">By <strong>John Davis</strong>, <em>teacher and freelance writer</em></p>

<p class="intro">Explore a Victorian townhouse and society during this era</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/d7/f1/who-lived-in-a-house-1-269424.jpg" title="Victorian townhouse illustration" alt="Victorian townhouse illustration" /></div>

<div class='additional-material'>

	<h3><a href="http://magazines.scholastic.co.uk/content/7128">Subscribe to <em>Junior Ed <span class="caps">PLUS</span></em> today</a>  for less than £4 a month!</h3>


As a subscriber, you will also have access to:
	<ul>
	<li><img src="http://images.scholastic.co.uk/assets/a/69/16/history-feature-box-2-196648.jpg" alt="" /> an interactive <a href="http://magazines.scholastic.co.uk/resources/44382"><strong>Roman villa</strong></a>  &#8212; linked activities in the March &#8216;09 issue</li>
	</ul>


	<ul>
	<li><img src="http://images.scholastic.co.uk/assets/a/05/05/who-lived-in-a-house-2-251828.jpg" alt="" /> a <a href="http://magazines.scholastic.co.uk/resources/46177"><strong>Viking longhouse</strong></a>  &#8212; linked activities in the April &#8216;09 issue.</li>
	</ul>


	<ul>
	<li><img src="http://images.scholastic.co.uk/assets/a/d6/71/who-lived-261465.jpg" title="Medieval castle" alt="Medieval castle" /> and a <a href="http://magazines.scholastic.co.uk/resources/48292"><strong>Medieval Castle</strong></a> &#8212; linked activities in the May &#8216;09 issue.</li>
	</ul>


	<p>Plus, coming up: a  <strong>1950s semi-detached house</strong> (linked activities in the July &#8216;09 issue).</p>


</div>

<p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /></p>


	<p>We continue exploring homes from the past in our ongoing history series by taking a look inside a typical, late Victorian townhouse. Using the <a href="http://magazines.scholastic.co.uk/resources/50017"><strong>Interactive resource</strong></a> children can take a virtual tour around the Victorian townhouse to look at different rooms and floors, zooming in to discover more detail to get a taste of Victorian life.</p>


	<p>A side-view plan is available as part of the resource (with a separate downloadable plan available for all readers – <a href="http://magazines.scholastic.co.uk/resources/49731"><strong>Photocopiable,</strong></a> ‘Plan of a Victorian townhouse’) so that children can easily identify the basic features of a typical Victorian home.</p>


	<h3>Delve inside</h3>


	<p>In addition, the <a href="http://magazines.scholastic.co.uk/resources/50017"><strong>3D version</strong></a> of the Victorian townhouse will allow your class to delve inside and take a closer look using the ‘zoom’ tool. As the children ‘enter’ the house, encourage them to discuss any items on view – who would have used these and how? The interactive resource aims to give children a taster of what it would have been like to live in Victorian Britain, and provides an ideal visual stimulus for creative writing.</p>


	<p>This exciting <a href="http://magazines.scholastic.co.uk/resources/50017"><strong>history interactive</strong></a> is exclusively available to subscribers of <em>Junior Ed <span class="caps">PLUS</span></em>.  Read the June &#8216;09 issue of the magazine for activities and ideas to explore what life was like inside a Victorian townhouse.</p>

