<h1>Teddy bears&#8217; picnic: It&#8217;s time for teddy&#8217;s picnic</h1>
<h4>8<sup>th</sup> June 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70516">Nursery Ed Plus July 2009</a></p>


<p class="author">By <strong>Sharon Campbell</strong> &#8212; <em>early years practitioner, after-school club manager and freelance writer.</em></p>

<p class="intro">Today’s the day the teddy bears have their picnic! Transform your role-play area into a perfect picnic scene with these colourful and creative ideas</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/39/ed/teddy-bears-picnic-role-play3-270479.jpg" title="It's time for teddy's picnic" alt="It's time for teddy's picnic" /></div>

	<h2>1 Setting the scene</h2>


	<h3>Plan a teddy bears’ picnic role-play area</h3>


	<p><strong><em>Personal, Social and Emotional Development</strong></em></p>


	<p><strong><em>Dispositions and Attitudes</strong></em></p>


	<p><strong>Development matters:</strong> seek and delight in new experiences (30-50 months); display high levels of involvement in activities (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> be confident to try new activities, initiate ideas and speak in a familiar group.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> whole group.</p>


	<p>Role-play area; large piece of paper or whiteboard; pens.</p>


	<h3>What to do</h3>


	<p>Invite the children to sit in a circle. Explain that you would like to convert the role-play area into a teddy bears’ picnic. Ask the children to suggest ideas about how they would like to design the role-play area. Write down their ideas on the whiteboard, or on a piece of paper, as they say them.</p>


	<p>Talk about how you could make a woodland backdrop, for example, by using collage materials for pieces of the display, or fabric to make a textile backdrop. Ask the children what props they would like to use. Suggest picnic baskets, cups and plates, food, teddy bears, napkins, flasks and so on. Encourage the children to think of different foods that they could bring to the picnic.</p>


	<h3>Support</h3>


	<p>Ask questions to help the children with their ideas, for example ‘What will you carry your picnic in?’ and ‘What will you need to put your food on?’.</p>


	<h3>Extension</h3>


	<p>Involve the children in both the design and construction stages of the woodland role-play area.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide the children with a range of soft toys and pretend food to encourage spontaneous play.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">CLL</span> – speak clearly and audibly with confidence and control and show awareness of the listener.</p>


	<p><span class="caps">KUW</span> – find out about, and identify, some features of living things, objects and events they observe.</p>


	<h2>2 Picnic time</h2>


	<h3>Transform your role-play area into a teddy bears’ picnic</h3>


	<p><strong><em>Creative Development</strong></em></p>


	<p><strong><em>Developing Imagination and Imaginative Play</strong></em></p>


	<p><strong>Development matters:</strong> begin to make-believe by pretending (22-36 months); play alongside other children who are engaged in the same theme 
(40-60+ months).</p>


	<p><strong>Early learning goal:</strong> use their imagination in art and design, music, dance, imaginative and role-play and stories.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Role-play area; large piece of material; fabric; fabric pens; blanket; resources and props for a role-play picnic, for example, pretend food, plastic plates, wicker basket, cups, napkins and so on; teddy bears.</p>


	<h3>What to do</h3>


	<p>Invite the children to help you set up the role-play area into a woodland scene. Provide the children with a large piece of material to put up around the area. Ask some children to cut out pieces of fabric to make trees to stick on to the material, and invite other children to draw and colour trees on to the fabric. This will set the background scenery of the woods.</p>


	<p>Encourage the children to lay out the blanket on the floor and set out the props for the teddy bears’ picnic.</p>


	<p>Invite the children to sit and enjoy a pretend picnic with their teddy bears.</p>


	<h3>Support</h3>


	<p>Help the children to carry out some of the tasks, such as cutting out the fabric trees and sticking them on to the material.</p>


	<h3>Extension</h3>


	<p>Invite the children to make their own props and resources to add to the area.</p>


	<h3>Birth to 36 months</h3>


	<p>Involve the children in simple ‘helping’ tasks, such as laying out the picnic props.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – form good relationships with adults and peers.</p>


	<p><span class="caps">KUW</span> – build and construct with a wide range of objects, selecting appropriate resources and adapted their work 
where necessary.</p>


	<h2>3 Teddy bear masks</h2>


	<h3>Design and make a textured teddy bear mask</h3>


	<p><em><strong>Creative Development</strong></em></p>


	<p><strong><em>Exploring Media and Materials</strong></em></p>


	<p><strong>Development matters:</strong> begin to be interested in and describe the texture of things (30-50 months); choose 
particular colours to use for a purpose (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> explore colour, texture, shape, form and space in two or three dimensions.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> four children.</p>


	<p>‘Teddy bear masks’ photocopiable sheet; pieces of fabric in ‘bear’ colours (black, brown, white and yellow); <span class="caps">PVA</span> glue; elastic.</p>


	<h3>What to do</h3>


	<p>Invite the children to make a textured teddy bear mask. Cut out the mask shape from the photocopiable sheet.</p>


	<p>Encourage the children to look at the colours and textures of the material. Ask questions such as ‘What colour would you like to make your bear?’ and ‘Which fabric feels soft like a bear?’. Show the children different effects with the material, for example, scrunching and fraying.</p>


	<p>Attach some elastic to the masks so that the children can wear them in the  woodland role-play area.</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<ul>
	<li>Encourage parents to take their children for a walk in their local environment to find a picnic spot, for example, in the woods, at the beach, in a park and so on.</li>
	</ul>


	<h3>Further idea</h3>


	<ul>
	<li>With parental permission, take the children for a walk outdoors to find ideal places to have a picnic.</li>
	</ul>


</div>

	<h3>Support</h3>


	<p>Help the children to cut out the material and to stick it on to their mask.</p>


	<h3>Extension</h3>


	<p>Encourage the children to make raised or padded parts on their masks for the nose or eyes, to give a 3D collage effect.</p>


	<h3>Birth to 36 months</h3>


	<p>Help the children to explore their sense of touch by feeling the range of materials.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">KUW</span> – select the tools and techniques they need to shape, assemble and join materials they are using.</p>


	<p>PD – handle tools, objects, construction and malleable materials safely and with increasing control.</p>

