<h1>Creative topic: Treasure hunt!</h1>
<h4>13<sup>th</sup> July 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70495">Child Education PLUS August 2009</a></p>


<p class="author">By <b>Nina Filipek</b> — Education writer and supply teacher</p>

<p class="intro">It’s time to polish up your telescope and hone your map-reading skills, for there be treasure to find!</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<p>Use the fantastic resources listed below for marvellous map-themed unit of work!</p>

