<h1>Punctuation practice</h1>
<h4>22<sup>nd</sup> June 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70537">Junior Education Plus July 2009</a></p>


<p class="author">By <strong>Eileen Jones</strong> &#8212; <em>education journalist, author and literacy specialist</em></p>

<p class="intro">Use our poster to help boost punctuation purpose and effect</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/a5/9d/safari-poster-273149.jpg" title="Illustrated safari park" alt="Illustrated safari park" /></div>

	<p>Punctuation is not a haphazard collection of symbols; it is a well-planned code. Used deliberately, the code contributes to a text’s meaning, its mood and effect on the reader. Once children understand the benefits, they too will want to punctuate effectively.</p>


	<p>Our new series aims to emphasise the power of punctuation. After an introduction to its purpose and effect (this month), we’ll focus on its use in different contexts: conversational texts (Aug ’09), instructional texts (Sept ’09), and descriptive texts (Oct ’09). The series also uses the colourful <a href="http://magazines.scholastic.co.uk/resources/50828"><strong>Poster,</strong></a> ‘Punctuation Safari Park’ to help put punctuation in context. Display the poster somewhere prominent and the children will be able to use it for inspiration, while enjoying the challenges of some fun punctuation work.</p>


	<p>A great way to begin is to put the children into pairs to collaborate on a quick oral list of punctuation marks that they regularly use. Can they explain their use to each other? Encourage the children to use <a href="http://magazines.scholastic.co.uk/resources/50792"><strong>Photocopiables 1 and 2,</strong></a> ‘Punctuation practice: Glossary’  to help them.</p>


	<h2>Say what you mean</h2>


	<p>Working in pairs, provide one child with a copy of <a href="http://magazines.scholastic.co.uk/resources/50792"><strong>Photocopiable 4,</strong></a> ‘Punctuation practice: Say what you mean’ to keep face down. The other child should have three punctuation flash cards: a full stop, a question mark and an exclamation mark. Ask the first child to read a sentence aloud – their partner should hold up the punctuation that they ‘hear’. Get the children to swap roles after all nine sentences have been read out, keeping separate success scores for three complete rounds. Do the scores improve?</p>


	<p>More able children could repeat the process but this time add additional sentences to those on <a href="http://magazines.scholastic.co.uk/resources/50792"><strong>Photocopiable 4,</strong></a> ‘Punctuation practice: Say what you mean’ after the final punctuation, depending on the meaning they want to convey.</p>


	<p>Subscribers can read the <a href="http://magazines.scholastic.co.uk/content/7747"><strong>rest of this article</strong></a> with lots more activities and top tips and exclusively access the <a href="http://magazines.scholastic.co.uk/resources/51360"><strong>Interactive resource,</strong></a> &#8216;Animal punctuation&#8217; that challenges children to identify punctuation marks within a fun safari park context.</p>


	<p>If you’re a non-subscriber, take a look at the <a href="http://magazines.scholastic.co.uk/content/7128"><strong>reasons to subscribe</strong></a>.</p>

