<h1>Teacher Talk: Targets and job hunting</h1>
<h4>22<sup>nd</sup> June 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70537">Junior Education Plus July 2009</a></p>




<p class="intro">... a place to catch up on staffroom chatter</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/c4/89/teacher-talk-273054.jpg" title="Woman typing" alt="Woman typing" /></div>

<div class='additional-material'>

	<p><strong>Nicola Lewis</strong> &#8212; <em>Year 5 teacher</em></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/0b/41/nicola-273077.jpg" title="Nicola Lewis" alt="Nicola Lewis" /></p>


	<h2>The great job hunt</h2>


	<p><em>Wading through teaching vacancy ads is just the start of it all&#8230;</em></p>


	<p>The arrival of the summer term, nice weather and school trips in sight. For most teachers, these are all signs that you can start to relax, but not for a teacher looking for their next teaching post – a position I recently found myself in. The resignation deadline was forever in my mind and the expected nerves and confusion ensued: Is it the right time to move? Am I good enough for promotion?</p>


	<h3>The right vibes</h3>


	<p>When picking a new school, looking through teaching ads and Ofsted reports is, of course, helpful. However, there’s nothing like a visit to a potential new school to get a real feeling of its atmosphere and ethos. I visited a few schools, but there was only one that I got the right ‘vibes’ about. Friendly staff, smart uniform and a headteacher who was passionate about her school and creative teaching – I left feeling excited and energised!</p>


	<h3>Application angst</h3>


	<p>Next, I had to apply for the role. My application and supporting statement got me through the first stage. Then, came the interview prep. Doing all this, while still keeping my eye out for other jobs (just in case) plus teaching my class, was not easy! However, I was lucky to have a supportive Head at my current school who gave me useful interview advice, and I also searched teacher forums for further tips. Despite my prep work, I still felt really nervous on the big day. Forty-five minutes, a lot of talking and nervous hand gestures later, and there was nothing more I could do.</p>


	<h3>So, did I get it?</h3>


	<p>Waiting for the phone call was the final, nerve-wracking stage in the process. But, they were delighted to offer me the job and I was delighted to accept.  So, I can relax now; until the new school nerves kick in that is!</p>


</div>

	<p><br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br >
<br ></p>


	<h2>Hit the target, miss the point!</h2>


	<p>Targets! Don’t ya love ‘em? Or do you spend far too much time worrying about (or trying to avoid worrying about) the artificial targets set for yourself and your class? And, do those targets pervert and contort the children’s education?</p>


	<h3>Knock-on effect</h3>


	<p>Have you ever contemplated, however, how profoundly children are already affected by targets when they reach Key Stage 2? It starts with the Early Years Foundation Stage (EYFS), a statutory framework now imposed on all preschoolers by law, containing hundreds of ‘targets’ the poor little moppets are expected to reach before they even enter Key Stage 1.</p>


<blockquote>

	<p>&#8216;Apart from the damage to children in the <span class="caps">EYFS</span>, think how (it) affects them at <span class="caps">KS2</span>&#8217;</p>


</blockquote>

	<p>Among the various targets, or ‘learning goals’, that children should attain by five, is one for writing: ‘begin to form simple sentences, sometimes using punctuation’. When I was a teacher back in the 1980s, I was deeply grateful if many of my eight- and nine-year-olds could do that. That particular target is so crazy that campaigners have now convinced the Government to review it.</p>


	<h3>The trouble with targets</h3>


	<p>There are many other deep flaws in the <span class="caps">EYFS</span>, not least the very idea of setting educational targets (which a framework of this kind inevitably does, whatever it chooses to call them) at a time when adults should simply be supporting children’s natural development.</p>


	<p>Apart from the damage to children in the <span class="caps">EYFS</span>, think how it affects them at <span class="caps">KS2</span>, as well as the difficulty of teaching children whose lives have been perverted and contorted by targets since birth. Please talk to early years colleagues about this – they’re the ones who really understand child development.</p>


	<p>With the upcoming Cambridge Primary Review due later this year, the potential scrapping of SATs and forthcoming probable change of government, there’s a real chance of change at the moment. But, the teaching profession needs to speak together with one voice. Altogether now: ‘GOVERNMENT <span class="caps">TARGETS DO NOT RAISE STANDARDS</span>!’</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/ff/90/sue-palmer-273070.jpg" title="Sue Palmer" alt="Sue Palmer" /></p>


	<p><strong>Sue Palmer</strong> &#8212; <em>writer and literary specialist</em></p>

