<h1>People who help us: Emergency, 999!</h1>
<h4>6<sup>th</sup> July 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70517">Nursery Education PLUS August 2009</a></p>


<p class="author">By <strong><em>Jenni Tavener</strong> &#8212; _early years teacher and writer.</em></p>

<p class="intro">Use these fun ideas to introduce the children to the important roles played by the main emergency service helpers</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/1f/47/amyehh-274403.jpg" title="Emergency, 999!" alt="Emergency, 999!" /></div>

	<h2>1 Cops and robbers</h2>


	<h3>Investigate a robbery carried out by a story character</h3>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<p><strong><em>Exploration and Investigation</strong></em></p>


	<p><strong>Development matters:</strong> show an interest in why things happen (22-36 months); show an awareness of change (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> look closely at similarities, differences, patterns and change.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Copies of <em>Burglar Bill</em> and _Cops and 
Robbers_ both by Allan and Janet Ahlberg (Picture Puffin); role-play area set up as a ‘homely’ scene; props such as computer gadgets, ornaments and jewellery; ‘Cops and robbers (1)’ and ‘Cops and robbers (2)’ photocopiable sheets; ‘cops’ and ‘robbers’ dressing-up clothes.</p>


	<h3>What to do</h3>


	<p>Read <em>Burglar Bill</em> and <em>Cops and Robbers</em> with the children. Discuss the different characters illustrated in the books.</p>


	<p>Help the children to make a set of humorous masks using the ‘Cops and robbers’ photocopiable sheets. Then, invite them to take turns to dress up as ‘cops’ and ‘robbers’ for role play based on the story characters.</p>


	<p>Place four to six items, such as gadgets and ornaments on a table in the home area. Invite a ‘robber’ to remove one or two items. Suggest that they also move the position of other items to set the scene.</p>


	<p>Encourage the ‘cops’ to investigate the ‘robbery’ by looking for clues, for example, ‘Has anything changed?’, ‘Does anything look different?’, ‘Is anything missing?’.</p>


	<p>Use this activity to help prompt discussion about ‘right and wrong’, and the role that is played by real police officers.</p>


	<h3>Support</h3>


	<p>Help the children to select dressing-up clothes to represent a ‘cop’ or a ‘robber’.</p>


	<h3>Extension</h3>


	<p>Encourage the children to draw any missing items during their investigation.</p>


	<h3>Birth to 36 months</h3>


	<p>Let the children make bold marks on the ‘Cops and robbers’ masks to encourage spontaneous play and discussion.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – work as part of a group or class, taking turns and sharing fairly, understanding that there needs to be agreed values and codes of behaviour 
for groups of people, including adults and children, to work together harmoniously.</p>


	<p><span class="caps">CLL</span> – interact with others, negotiating plans and activities and taking turns 
in conversation.</p>


	<h2>2 Call an ambulance</h2>


	<h3>Make and use a simple floor map for small-world play</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Language for Communication</strong></em></p>


	<p><strong>Development matters:</strong> respond to simple instructions (30-50 months); use language for an increasing range of purposes (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> enjoy listening to and using spoken and written language, and readily turn to it in their play and learning.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Large sheets of card; felt-tipped pens or paints; small-world toys, figures and vehicles, including an ambulance; paper; stapler (adult use).</p>


	<h3>What to do</h3>


	<p>Help the children to create a large floor map to represent a landscape of winding roads, rivers, play parks and fields, using felt-tipped pens or paints.</p>


	<p>Place some small-world toys and figures around the map to represent a busy town, city or village, including a building to represent a hospital.</p>


	<p>Invite the children to imagine scenarios where a paramedic might be needed, for example, a farmer hurt in a field, a child injured in a park and so on. Encourage them to manoeuvre the ambulance to the scenes of trouble, describing the paramedics’ journey as they play, and verbalising the imaginary incident as they help the injured patient and take them to hospital.</p>


	<p>Ask the children to draw a series of pictures to reflect each scene. Staple the pictures together to create a colourful booklet for the children to share.</p>


	<h3>Support</h3>


	<p>Draw the simple outline of roads, car parks and fields for children to paint.</p>


	<h3>Extension</h3>


	<p>Help the children to label the booklet with words and phrases to describe each scene.</p>


	<h3>Birth to 36 months</h3>


	<p>Encourage the children to dress up as real-life emergency service characters.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – be confident to try new activities, initiate ideas and speak in a familiar group.</p>


	<p>CD – use their imagination in art and design, music, dance, imaginative and role-play and stories.</p>


	<h2>3 Fire, fire</h2>


	<h3>Use wheeled and ride-on toys as props for an action game</h3>


	<p><strong><em>Physical Development</strong></em></p>


	<p><strong><em>Using Equipment and Materials</strong></em></p>


	<p><strong>Development matters:</strong> put together a sequence of actions (16-26 months); understand that equipment and tools have to be used safely (30-50 months).</p>


	<p><strong><em>Early learning goal:</strong></em> use a range of small and large equipment.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> large groups.</p>


	<p>Safe indoor or outdoor space; cardboard boxes; strong tape; teddies; wheeled and ride-on toys; bell.</p>


	<h3>What to do</h3>


	<p>Help the children to create an imaginary block of flats by securing several cardboard boxes together using strong tape. Place a teddy in each ‘box’ to represent people living in the flats.</p>


	<p>Place the block of flats at one end of an open space. Position a selection of ride-on toys at the other end to represent fire engines at a fire station.</p>


	<p>Ask the children to divide into two teams. Each team should have an equal number of firefighters sitting in pretend fire engines outside the fire station.</p>


	<p>Ring a bell to alert the firefighters that the building has caught fire. The first firefighter in each team should rush towards the building, rescue one teddy and return to the fire station. The other firefighters should then take turns to repeat this action until all the teddies have been rescued.</p>


	<p>Use this activity to prompt discussion about the role that real firefighters play.</p>


<div class='additional-material'>

	<h3>Home links</h3>


	<ul>
	<li>Invite parents who have had experience of working in the emergency services to talk to the children.</li>
	</ul>


	<h3>Further idea</h3>


	<ul>
	<li>Visit <a href="http://www.csef.net">The Children&#8217;s Safety Education Foundation</a> for resources</li>
	</ul>


</div>

	<h3>Support</h3>


	<p>Let the children use push- or pull-along toys instead of ride-on toys.</p>


	<h3>Extension</h3>


	<p>Challenge the children by setting a time limit in which to rescue the teddies.</p>


	<h3>Birth to 36 months</h3>


	<p>Encourage the children to practise manoeuvring wheeled toys safely.</p>


	<h3>Cross-curricular links</h3>


	<p><span class="caps">PSED</span> – be confident to try new activities, initiate ideas and speak in a familiar group.</p>


	<p><span class="caps">CLL</span> – use language to imagine and recreate roles and experiences.</p>

