<h1>Treasure Island Challenge!</h1>
<h4>13<sup>th</sup> July 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70495">Child Education PLUS August 2009</a></p>




<p class="intro">It’s every crew for themselves, as children get to race against each other to unearth the treasure!</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/d2/76/treasuremap-cmyk-275595.jpg" class="img_left" title="treasure map" alt="treasure map" /></div>

	<p>In this treasure hunt quest, the first player or team to reach the X and uncover the treasure is the winner. In order to do this, the teams will need to have their wits about them, as they must solve a series of riddles, questions and clues – or risk being sent to Davey Jones’ locker. Yes, it’s every crew for themselves on the treasure hunt, as this game really won’t be plain sailing!</p>


	<h2>Preparation</h2>


	<p>You will need: a copy of the Treasure Island game board (see A2 poster below; Photocopiables 1–4 (available below).</p>


	<ul>
	<li>Cut out the four character counters and the treasure chest on Photocopiable 1. Place the treasure chest on the X on the game board, and gather the children into four teams, assigning each team a character.</li>
		<li>Cut out the question scrolls on Photocopiables 2–4, and put them in a pile face down. Each time a team lands on an obstacle, the team to their left should pick up a card from the pile and read out the question. If they get it right, they can progress on their next go. But if they get it wrong, they must miss a go. Some of the questions require a basic knowledge of pirates, ships and treasure, so it is worth having books to hand, or a discussion beforehand, to help younger children.</li>
	</ul>


	<h2>How to play</h2>


	<ul>
	<li>The game can be played by up to four players or teams. The teams should decide who will go first by rolling the dice and seeing who gets the highest number. The children will notice that the board has two tracks: one is shorter and has more obstacles; the other is longer but has fewer obstacles. Before rolling the dice on their first go, each team must choose which track to follow. Will being risky pay off?</li>
		<li>The aim of the game is simple – teams race against each other to be the first to get the gold! If they land on an obstacle, the team sitting on their left picks a scroll from the pile and reads out the question. If the team gets it right, they can continue on their next go; if they get it wrong, they have to miss a go. Any questions the children get wrong should be kept in a separate pile, so they can discuss the answers with you later.</li>
		<li>If a team on the long track lands on the 
7 square, they have the option to slide across the mud track and move to the riskier short track. </li>
		<li>The first team to reach the treasure chest is the winner! If you have time, you can always make a chest from a simple cube net and fill it with gold coins. Then, when the winner opens the chest, there will be some nice treasure to greet them!</li>
	</ul>

