<h1>Festivals of learning</h1>
<h4>20<sup>th</sup> July 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70538">Junior Education Plus August 2009</a></p>


<p class="author">By <strong>Rosie Huckle</strong> &#8212; <em>Year 4 teacher at St Andrew’s CE Primary School, Leasingham</em></p>

<p class="intro">Host your own festival to commemorate children’s hard work and creativity</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/29/3f/festival-of-literacy-307443.jpg" title="Classroom" alt="Classroom" /></div>

	<p>Summer is the festivals season – from wellies at Glastonbury to union jacks at the Proms and street theatre at the Edinburgh Fringe. But, what about holding your own festival at your school? Festivals are all about setting aside time to celebrate different aspects of our culture in fun, vibrant and inclusive ways. And, by putting the spotlight on a particular area of the curriculum, 
we can ignite children’s interest and inspire learning.</p>


<div class='additional-material'>

	<h3>Inspiring festival resources</h3>


	<p>Here are just a few of the resources available in our archive to help you plan your festival.</p>


	<p><strong>International:</strong> <a href="http://magazines.scholastic.co.uk/resources/29577">International schools case studies</a>, <a href="http://magazines.scholastic.co.uk/resources/43475">Spanish dictionary poster</a> and <a href="http://magazines.scholastic.co.uk/resources/37526">naan bread recipe card</a>.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/cd/7a/je0309a2ii-inp-178190.jpg" class="img_center" title="Poster: Spanish picture dictionary" alt="Poster: Spanish picture dictionary" /></p>


	<p><strong>Literacy:</strong> <a href="http://magazines.scholastic.co.uk/resources/27345">Visual literacy interactive resource</a>, <a href="http://magazines.scholastic.co.uk/content/5110">fairytales activities</a>, <a href="http://magazines.scholastic.co.uk/resources/13836">original poem</a> and <a href="http://magazines.scholastic.co.uk/resources/34889">step-by-step puppets</a>.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/05/16/je-poetrycorner-sip-24487.jpg" class="img_center" title="One worksheet: Poetry corner - 'Geography Lesson'" alt="One worksheet: Poetry corner - 'Geography Lesson'" /></p>


	<p><strong>Art:</strong> <a href="http://magazines.scholastic.co.uk/resources/8567">Andy Goldsworthy poster</a>, <a href="http://magazines.scholastic.co.uk/resources/6150">rainforests cross section</a> and <a href="http://magazines.scholastic.co.uk/resources/6144">rainforest animals fact cards</a>.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/ad/63/how-made-pos-20058.jpg" class="img_center" title="Andy Goldsworthy sculpture poster" alt="Andy Goldsworthy sculpture poster" /></p>


	<p><strong>Sport:</strong> <a href="http://magazines.scholastic.co.uk/content/3069">Planning a sports event</a> and <a href="http://magazines.scholastic.co.uk/content/3051">how yoga can improve beghaviour and concentration</a>.</p>


	<p><img src="http://images.scholastic.co.uk/assets/a/c5/32/yoga-307648.jpg" class="img_center" title="yoga.jpg" alt="yoga.jpg" /></p>


</div>

	<h2 id="top">Festival ideas</h2>


	<ul>
	<li>1. <a href="#toptips">Top tips</a></li>
		<li>2. <a href="#int">An international festival</a></li>
		<li>3. <a href="#literacy">A festival of literacy</a></li>
		<li>4. <a href="#art">A festival of art</a></li>
		<li>5. <a href="#sport">A festival of sport</a></li>
	</ul>


	<h3 id="toptips">1. Top tips for planning your festival</h3>


	<p>• Whole-school involvement is best for creating a sense of momentum. As well as teaching staff, invite creative input from parents, governors, local authority advisers and the children themselves from the planning stage.</p>


	<p>• Agree a theme for the festival, for example ‘magic’, ‘superheroes’ or ‘the sea’. Your theme might reflect your local area, or might be chosen to coincide with national events such as the European Day of Languages (26 September), Black History Month (October) or National Poetry Day (8 October). Within the chosen theme, consider whether you will take a cross-curricular approach, or focus on a particular subject area, perhaps one identified in your School Development Plan as needing a boost.</p>


	<p>• Create an itinerary of events to help structure your festival and give it a real focus. Your festival might take place over a day or even a whole week, depending on your theme and time constraints.</p>


	<p>• Set aside a special display area and use this both in advance of the event to help generate excitement, and during the festival itself to display photos, quotes from the children and information about the activities taking place. Don’t forget to involve the local press, too!</p>


	<p>• Create opportunities for the children to work together across year groups during the festival to enhance the sense of community and shared learning.</p>


	<p>• Consider if there are trips or visitors that could be organised as part of the festival. Make the most of any links with local secondary schools, especially if they have relevant specialist college status.</p>


	<p>• Think about how to share the outcomes of the festival. Will you hold a performance evening, poetry reading, art exhibition or create a special school anthology or book? Make full use of your school’s website and newsletters to share event information and success stories. Encourage the children to get involved in producing their own blogs, videos and e-newsletters for the school community.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="int">2. An international festival</h3>


	<p>This would be a great festival to hold at the start of the new school year to help everyone to get to know each other. It would also link nicely to the European Day of Languages (26 September) and provide an ideal opportunity to promote multicultural awareness and boost <span class="caps">MFL</span> skills. A festival like this could also tie in well with an international sporting event such as the Football World Cup, Rugby Six Nations, Olympics or Commonwealth Games. You could theme your classroom with flags, music and other props. You could also explore different languages – <span class="caps">EAL</span> children could share basic phrases in their first language with the class.</p>


	<p><strong>Culture:</strong> Invite different groups (or classes) of children to take part in an ‘international bazaar’ where they each have to set up a stall representing a different country. The groups could research their country and create a fun, interactive display to help teach others about it.</p>


	<p><strong>Cuisine:</strong> Children could put their culinary skills to great use by producing traditional foods from a different country. Encourage them to consider a range of sweet and savoury and, of course, what makes a balanced meal.</p>


	<p><strong>Crafts:</strong> An international festival opens the door to an exciting array of art and craft activities from creating batik, masks, origami, pottery, or reproducing paintings in the style of famous artists from around the world.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="literacy">3. A festival of literacy</h3>


	<p>Literacy is such a broad subject that you may need to focus on just one aspect for your festival. National Poetry Day on 8 October would make a fantastic focus. Vote on and display favourite poems around the school. You could tie this in with a treasure hunt-style challenge where children have to take clues from different poems in order to solve a riddle with a prize given at the end of the festival.</p>


	<p><strong>Music inspiration:</strong> Play short audio clips to the children to stimulate creative poetry writing. What kind of poetry emerges after clips from <em>The Beatles, Busted</em> or Bach? Try reversing this process: get the children to write a poem first, and then compose their own music to help create ambience when they read their poem aloud.</p>


	<p><strong>Visual inspiration:</strong> Collect together favourite posters and photographs to display as visual stimuli for poetry writing. A poster of Wayne Rooney could prompt a poem written in the voice of his ‘favourite fan’ or even ‘Wayne’ himself!
Competitions: Host a poetry competition on a particular theme – for example ‘The new school year’ or ‘Making friends’. Alternatively, the competition could involve children illustrating their favourite poem – perhaps in a comic-strip format.</p>


	<p><strong>Cross-curricular opportunities:</strong> Invite 
the children to create puppets to perform their poems; role play characters from a favourite poem (Roald Dahl’s poems would provide lively entertainment – see the Sept 
‘09 issue for activities), or invite a local poet into school for children to interview.</p>


	<p><strong>Useful websites:</strong></p>


	<p><a href="http://www.writingtogether.org.uk">www.writingtogether.org.uk</a></p>


	<p><a href="http://www.poetryclass.net">www.poetryclass.net</a></p>


	<p><a href="http://www.childrenslaureate.org.uk">www.childrenslaureate.org.uk</a></p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="art">4. A festival of art</h3>


	<p>As with a festival of literacy, art is a very broad subject so it might be a good idea to provide a specific focus for your festival. ‘The rainforest’ would be an inspirational theme and one that links well with topical issues of sustainability, fairtrade and ecology.</p>


	<p><strong>Art carousel:</strong> Set up a carousel of art workshops that the children could participate in. Activities could include making animal masks or creating batik focusing on a particular animal, insect or flower against a backdrop of forest leaves. The children could also explore natural dyeing processes for appliqué work. Collages could be created using a range of different natural materials (see <em>Where the Forest Meets the Sea</em> by Jeannie Baker (Walker, £5.99 PB) for examples of collage illustrations that delicately represent the destruction of the Australian rainforest).</p>


	<p><strong>3D display:</strong> Set aside a designated area to create a rainforest display. Make large leaves for the canopy from paper or green tones of fabric, and create branches from toilet rolls painted brown and strung together.</p>


	<p><strong>Art gifts:</strong> There are various companies who will print children’s designs onto mouse mats, mugs, T-shirts and tea towels (<a href="http://www.allmyownwork.co.uk">www.allmyownwork.co.uk</a> for example). Alternatively, <a href="http://www.imagesart.co.uk">www.imagesart.co.uk</a> has information on a professional framing and exhibition service that not only gives parents an opportunity to buy their child’s artwork, but also provides a forum for celebrating every child’s artistic achievements.</p>


	<p><a href="#top">Back to top</a></p>


	<h3 id="sport">5. A festival of sport</h3>


	<p>As a nation, the Brits love sport, but all too often we are cast as the underdogs. Why not choose the theme &#8216;Sport UK&#8217; for your festival of sport and celebrate British sporting achievements? It would be particularly apt with the forthcoming London 2012 Olympics.</p>


	<p><strong>Sponsored events:</strong> As well as promoting fitness and linking with healthy-schools projects, a festival of sport provides opportunities and a context for sponsored events in school. Organisations such as Sports for Schools arrange visits from famous UK sports personalities to launch these. Go to <a href="http://www.sportsforschools.org">www.sportsforschools.org</a> for more information.</p>


	<p><strong>Sport for all:</strong> A sports festival is surely the best time to promote after-school clubs. ‘Taster’ sessions could be set up for those run in school, and representatives from local clubs could be invited in to talk to parents and children.</p>


	<p><strong>Cross-curricular links:</strong> As well as actually taking part in sporting activities, consider ways of using sporting contexts for learning across the curriculum.</p>


	<ul>
	<li>History: Children could explore how the sports we favour have changed over time. For example, in Tudor times, football was played with the goal posts a mile apart, and there was no limit to the number of people on each team! They could also find out how our national sports like cricket have become popular around the world as a result of the Empire.</li>
	</ul>


	<ul>
	<li>Science and maths: Children could look at the forces and friction involved in a particular sport, such as speed cycling or skateboarding and the impact this has on clothing design. They could also use the context of sport to learn about muscles and movement.  From a mathematical perspective, children could estimate how many people are in a sports crowd; explore whether season tickets provide value for money, as well as exploring statistics, rankings and probability.</li>
	</ul>


	<ul>
	<li>Literacy: Children could write explanation texts setting out the rules of a favourite game or sport. They could also write biographies of favourite UK sports stars to create a sporting hall of fame,  find out about sports advertising and sponsorship or become sports journalists for the day, writing their own match reports and interviews.</li>
	</ul>


	<p><a href="#top">Back to top</a></p>

