<h1>Creative topic: Shape detectives</h1>
<h4>20<sup>th</sup> July 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70538">Junior Education Plus August 2009</a></p>




<p class="intro">It’s up, up and away on an exciting journey of discovery to find evidence of shape in the big wide world</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/6a/04/shape-detectives-307949.jpg" title="shape-detectives.jpg" alt="shape-detectives.jpg" /></div>

	<p>Wouldn’t it be disappointing if you asked a child where they might find shapes and they answered: ‘In my maths book.’ Actually, when you think about it, that is probably what most children would say. For this very reason, it is time to introduce the idea of the ‘shape detective’ into your classroom! This concept aims to help children discover that shapes are, in fact, all around them, and not just on pieces of paper or in books. Children love a challenge and adventures of discovery, so set them to work becoming shape detectives. Maths will never be the same again!</p>


	<p>For exciting ways to inspire children to discover shape in the world around them, read the <a href="http://magazines.scholastic.co.uk/resources/51937"><strong>full article</strong></a> (subscribers only).</p>


	<p>And, don&#8217;t forget we&#8217;ve got lots of other <a href="http://magazines.scholastic.co.uk/search/search?&#38;now=mag_id&#38;search%5Bmag_id%5D=21881&#38;search%5Bquery%5D=shape">shape resources</a> in our archive!</p>


	<p>If you’re not a subscriber, why not <a href="http://magazines.scholastic.co.uk/content/7128">subscriber today</a> for less than £4 a month? Posters, interactive games, activities, topical ideas, photocopiable worksheets and access to an ever-increasing archive — just some of the reasons to subscribe today!</p>

