<h1>My family: We are family</h1>
<h4>10<sup>th</sup> August 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70518">Nursery Education PLUS September 2009</a></p>


<p class="author">By <strong>Lorelli Mojica</strong> &#8212; <em>children’s poet and illustrator, and part-time early years teacher.</em></p>

<p class="intro">Families come in all shapes and sizes. Encourage the children to discover more about their own families with these fun, practical ideas</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/07/d5/hires-ickle-313107.jpg" title="We are family" alt="We are family" /></div>

	<h2>1 My family tree</h2>


	<h3>Complete a simple family tree template</h3>


	<p><strong><em>Knowledge and Understanding of the World</strong></em></p>


	<p><strong><em>Time</strong></em></p>


	<p><strong>Development matters:</strong> talk about past and future events (30-50 months); begin to differentiate between past and present (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> find out about past and present events in their own lives, and in those of their families and other people they know.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p><em>Peepo!</em> by Janet and Allan Ahlberg (Picture Puffin); selection of family photos; ‘My family tree’ photocopiable sheet.</p>


	<h3>What to do</h3>


	<p>Ask the children to bring in some family photos from home to share with the rest of the group.</p>


	<p>Read <em>Peepo!</em> to the children and talk about how life may have been different for older family members when they were children. If possible, invite parents and grandparents into the setting to talk about their childhood.</p>


	<p>Show the children a completed example of the ‘My family tree’ photocopiable sheet and explain how the boxes link up. Give each child a copy of the photocopiable sheet and ask them to draw members of their own families in the boxes, then colour and decorate the tree.</p>


	<h3>Support</h3>


	<p>Let the children draw pictures of family members on squares of paper. Help them to sort the pictures on to the photocopiable sheet.</p>


	<h3>Extension</h3>


	<p>Encourage the children to draw a simple timeline showing what family members may have looked like as a child, now, and when they are older.</p>


	<h3>Birth to 36 months</h3>


	<p>Look at photos of family members with the children and use them to prompt discussion.</p>


	<h3>Observation and assessment</h3>


	<p><strong>Look, listen and note</strong></p>


	<p>Observe and talk alongside the children. Do they show an interest in talking about their family members? Are they beginning to show an awareness of time and the differences in age between themselves and family members? Do they retell stories that shows an awareness of past and present?</p>


	<p><strong>Next steps</strong></p>


	<p>Support the concept of past and present through stories and books, both new and those that the children 
are familiar with.</p>


	<h2>2 Laugh with Mum and Dad</h2>


	<h3>Make a paper-plate face</h3>


	<h3>Personal, Social and Emotional Development</h3>


	<p><strong><em>Self-confidence and Self-esteem</strong></em></p>


	<p><strong>Development matters:</strong> talk freely about their home and community (30-50 months); have an awareness and pride in self as having own identity and abilities 
(40-60+ months).</p>


	<p><strong>Early learning goal:</strong> have a developing awareness of their own needs, views and feelings, and be sensitive to the needs, views and feelings of others.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p><em>My Mum and Dad Make Me Laugh</em> by Nick Sharratt (Walker Books); paper plates; selection of collage materials; felt-tipped pens; crayons.</p>


	<h3>What to do</h3>


	<p>Read <em>My Mum and Dad Make Me Laugh</em> to the children. Ask them to tell you what their mum, dad or carer does that makes them laugh like the child in the story.</p>


	<p>Talk about their parents’ or carers’ likes and dislikes, and what makes them happy or sad. Explain to the children that they are going to make a face of their mum, dad or carer using paper plates and collage materials. What expression would they like their paper-plate face to have?</p>


	<p>Encourage the children to talk about their faces with the rest of the group.</p>


	<h3>Support</h3>


	<p>When reading the story, pause and give the children time to make links to their own experiences.</p>


	<h3>Extension</h3>


	<p>Talk about who the children’s paper-plate face is based on and why they are a special person in their family.</p>


	<h3>Birth to 36 months</h3>


	<p>Provide face-shaped sponges and paint for the children to print faces of their mum, dad or carer.</p>


	<h3>Observation and assessment</h3>


	<p><strong>Look, listen and note</strong></p>


	<p>Are the children confident in sharing their own home experiences with the rest of the group? Do they talk about their role within their own family unit? Do they relate their own family life to that of others around them during discussions?</p>


	<p><strong>Next steps</strong></p>


	<p>Work with smaller groups to provide the children with opportunities to gain confidence in speaking in front of people who are familiar to them.</p>


	<h2>3 Bingo!</h2>


	<h3>Play a game of ‘Family bingo’</h3>


	<p><strong><em>Problem Solving, Reasoning and Numeracy</strong></em></p>


	<p><strong><em>Numbers as Labels and for Counting</strong></em></p>


	<p><strong>Development matters:</strong> sometimes match number and quantity correctly (30-50 months); match then compare the number of objects in two sets (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> say and use number names in order in familiar contexts.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> six children.</p>


	<p>‘Family bingo’ photocopiable sheet; counters.</p>


	<h3>What to do</h3>


	<p>Play a game of ‘Family bingo’. Enlarge a copy of the photocopiable sheet and cut out all of the cards. Talk through the pictures of different family members with the children.</p>


	<p>Make another three copies of the ‘Family bingo’ photocopiable sheet and cut them in half. Give each child a different half of the board. Explain that you are going to pick up the enlarged cards one by one. If they have the picture that you hold up on their board, they should cover it with a counter. The winners are the children who cover all of their pictures with a counter.</p>


	<h3>Support</h3>


	<p>Limit the game to six cards and let the children play a simple find-and-match game.</p>


	<h3>Extension</h3>


	<p>Invite the children to play a matching pairs game using two copies of the photocopiable sheet.</p>


	<h3>Birth to 36 months</h3>


	<p>Talk about the family members on the photocopiable sheet with the children.</p>


<div class='additional-material'>

	<h3>At home with childminders and parents</h3>


	<p>Look at family photo albums with the children and make comments about any changes to appearance, clothing and so on. Encourage different members of the family to share their childhood stories with the children. Alternatively, support the children in making their own family tree. Secure a small branch from a tree to an old yoghurt pot with Blu-Tack. Invite the children to stick pictures of different family members on to the tree.</p>


</div>

	<h3>Observation and assessment</h3>


	<p><strong>Look, listen and note</strong></p>


	<p>Observe, play alongside and talk with the children. Do they count their counters as they are placing them on their boards? For example, ‘I’ve got five counters, I only need one more’.</p>


	<p><strong>Next steps</strong></p>


	<p>Use these bingo-type activities to assess letter-sound recognition. Give the children bingo boards with different initial letter sounds on them, and hold up a family member picture. For example, ‘I have got mum. Who has got the sound that “mum” starts with on their board?’.</p>

