		<h1>Scholastic Education PLUS</h1>
		<span style="background-image: url('http://images.scholastic.co.uk/assets/cms/scholstic-edplus-banner.jpg')"></span>

	</div><!--/#banner-->

<div id="resources" class="small">


	<div id="search_form">


	<form action="/search/search" id="small_search" method="get">
		<fieldset>

			<span class="search_label"><label for="q">Search</label></span>

	 	   	<input id="q" name="search[query]" size="30" type="text" />
	 	   	<input id="log" name="log" type="hidden" value="t" />
	 	   
	 	   	<input alt="Search" id="search_go" src="/images/magazines/buttons/submit_go_blue.gif?1228233636" type="image" /> <br />
        <a href="http://magazines.scholastic.co.uk/search/new">Advanced search and back issues</a>
	 	   	</fieldset>
	 	   	</form>
	
	</div><!-- end search_form -->
	<div id="yourresource">
		<h3><a href="http://magazines.scholastic.co.uk/my_folder">My folder</a></h3>
		<p><a href="http://magazines.scholastic.co.uk/my_folder">View your saved resources!</a></p>
	</div><!-- end yourresource -->

</div><!--/#resources-->


		<div id="inner-l">


	<a href="/mags_online/bookmarks/add_content/8083" title="Add to My Folder"><img alt="Add to My folder" class="addto" src="/images/magazines/buttons/myfolder_add.gif?1228233636" /></a>

<h1>Nominate a Dinner Lady or Man who’s making a difference!</h1>

<h4>30<sup>th</sup> July 2009</h4>


<p class="intro"></p>




<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/58/e9/lst117-313838.jpg" class="img_stroke img_left" title="school dinner lady serving lunch" alt="school dinner lady serving lunch" /></div>

	<p>The prestigious <span class="caps">BBC</span> Radio 4 Food and Farming Awards are looking for a Dinner Lady or Man who’s making a difference to what we eat in Britain.</p>


	<p>Organised by <span class="caps">BBC</span> Radio 4’s Food Programme, the awards are looking for someone to follow in the footsteps of dinner lady Jeannette Orrey, the 2003 winner, who tamed up with Jamie Oliver to change school dinners for good.</p>


	<p>The Best Dinner Lady or Man category is open to any cook working in an institutional setting who provides a wide range of healthy, tasty food on the premises, carefully sourced from fresh ingredients.</p>


	<p>The <span class="caps">BBC</span> Radio 4 Food Programme presenter, Sheila Dillon says: &#8220;We hope, in this 10th anniversary year, to make it a memorable year… to find another dinner lady like Jeannette Orrey, a winner in 2003, who then with Jamie Oliver, sparked a revolution.&#8221;</p>


	<p>The winners will be announced at an awards ceremony in November. To nominate a Dinner Lady or Man at your school and for further information see the website – <a href="http://www.bbc.co.uk/foodawards">www.bbc.co.uk/foodawards</a></p>







  	</div><!-- /inner-wrap or /inner -->	
	</div><!--/#content -->
	
	<div id="extra">
		







<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=6&amp;n=726351"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=6&amp;n=726351"  alt="" /></a>



<!-- promo 1 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=1&amp;n=754118"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=1&amp;n=754118"  alt="" /></a>

<!-- promo 2 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=2&amp;n=701738"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=2&amp;n=701738"  alt="" /></a>

<!-- promo 3 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=3&amp;n=67760"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=3&amp;n=67760"  alt="" /></a>

<!-- promo 4 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=4&amp;n=375642"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=4&amp;n=375642"  alt="" /></a>

<!-- promo 5 -->




<a href="http://www4.scholastic.co.uk/cgi-bin/l.cgi?z=5&amp;n=594540"><img src="http://www4.scholastic.co.uk/cgi-bin/i.cgi?z=5&amp;n=594540"  alt="" /></a>


<div id="top_ten">
	<ul>
		<li><a href="#tabOne"><span>Top downloads</span></a></li>
		<li><a href="#tabTwo"><span>Top searches</span></a></li>
	</ul>

				
	
	<div  id="tabOne" class="topDownloads">
		<h4>Top downloads this month</h4>		
		<ol>

	<li><a href="http://magazines.scholastic.co.uk/resources/51936">Fun fillers: Getting to know you</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52920">&#8216;Talk about&#8230; My family&#8217; cards</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/50792">Punctuation practice</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52918">Advice sheets for parents</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/15797">Daily Times Tables Teasers interactive games</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52922">My family &#8211; Observation and assessment chart</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/51831">Maths games</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/52917">My family &#8211; <span class="caps">EYFS</span> cross-curricular links chart</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/55329">Rhythm and rhyme circle-time cards</a></li>

	<li><a href="http://magazines.scholastic.co.uk/resources/54430">Roald Dahl Day activities</a></li>

</ol>
	</div>
			


	

<div id="tabTwo" class="topDownloads">
	<h4>This month's most popular searches</h4>		
	<ol>
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=autumn" rel="nofollow">autumn</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=pirates" rel="nofollow">pirates</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=harvest" rel="nofollow">harvest</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=nursery+rhymes" rel="nofollow">nursery rhymes</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=people+who+help+us" rel="nofollow">people who help us</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=victorians" rel="nofollow">victorians</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=space" rel="nofollow">space</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=tudors" rel="nofollow">tudors</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=castles" rel="nofollow">castles</a></li>
	
		<li><a href="http://magazines.scholastic.co.uk/search/search?search%5Bquery%5D=dinosaurs" rel="nofollow">dinosaurs</a></li>
	</ol>
</div>
		


</div><!-- end top_ten -->

<div id="teachertalk">
    <img src="/images/magazines/teachertalk.jpg" height="100" width="100" alt="teacher talk"/>
    <p>Share a teaching tip, help another teacher or simply let off steam when you've had a tough day.</p>
    <p><a href="http://magazines.scholastic.co.uk/forums">Start talking today</a></p>
</div>


<div id="sendtoafriend">
	<h3>Send to a friend</h3>
	
	<form action="/mags_online/content/email_page" method="post">
	<fieldset>
	<input id="last_action" name="last_action" type="hidden" value="show" />	<input id="last_id" name="last_id" type="hidden" value="8083" />	<label for="stafemail">Add their email here</label>
	<input id="stafemail" name="friend[email]" size="30" type="text" />
	<input class="button" name="commit" type="submit" value="Send now" />
	</fieldset>
	</form>
</div>

<div id="newslettersignup">

	<h3>Newsletter signup</h3>
	<p>Be the first to know about our latest early years and primary resources &#151; subscribe to our FREE Editor's emails.</p>
	<a href="/customer/profile" class="calltoaction">Signup today!</a>
	
</div><!--/#newslettersignup -->


	</div><!-- /extra -->
	
	
  <!-- start footer -->
  <div id="universal-footer" class="universal-footer">
  <ul id="footer-navigation" class="footer-navigation">
    <li><a href="http://www.scholastic.co.uk/aboutus">About</a></li>
    <li><a href="http://www.scholastic.co.uk/contactus">Contact</a></li>
    <li><a href="http://www.scholastic.co.uk/environmental">Environmental Information</a></li>
    <li><a href="http://www.scholastic.co.uk/recycling">Recycling Electrical Equipment</a></li>
    <li><a href="http://www.scholastic.co.uk/conditions">Conditions of use</a></li>
    <li><a href="http://www.scholastic.co.uk/privacy">Privacy</a></li>
</ul>

  <p class="copyright">Copyright &copy; 2008-2009 Scholastic Ltd.</p>
  
  </div><!-- /footer -->
  


</div><!-- /page -->

<!-- start footer -->


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2673375-5");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- crazyegg code -->
<script type="text/javascript" src="http://cetrk.com/pages/scripts/0008/1045.js"> </script>
</body>
</html>
