<h1>Roald Dahl Day 2009!</h1>
<h4>17<sup>th</sup> August 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70496">Child Education PLUS September 2009</a></p>


<p class="author">By <strong>Carmel McAdam</strong> &#8212; <em>Education manager at the <a href="http://www.roalddahlmuseum.org">Roald Dahl Museum</em></a></p>

<p class="intro">Celebrate this favourite children&#8217;s author with some splendiferous activities</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/26/22/roald-dahls-bfg-318379.jpg" class="img_right" title="The BFG" alt="The BFG" /><p>Illustration © Quentin Blake</p></div>

	<p>Sunday 13 September is Roald Dahl Day and here at our spiffling museum we are getting ready for a fantabulous day of celebrations. A whunking amount of activities will be on offer including storytelling, face painting, magic, balloon tricks, and lots more.
There are dillions of resources and activities available on www.roalddahlday.info, but here are some squiffing suggestions to help you get your very own celebrations started.</p>


	<h2 id="top">Activities
	<ul>
	<li><a href="#firstthing">1. Snaptastic crocodiles</a></li>
		<li><a href="#secondthing">2. Crockadowndilly capers</a></li>
		<li><a href="#thirdthing">3. Fantabulous foxes</a></li>
		<li><a href="#fourththing">4. Wondiferous beasts</a></li>
	</ul></h2>


<p>


<p>


<p>


	<h2 id="firstthing">1. Snaptastic crocodiles</h2>


	<p>Key Stage 1 children will delight in starting to explore the wondercrump world of Roald Dahl, perhaps beginning with <em>The Enormous Crocodile</em>.</p>


	<p>The Enormous Crocodile teases the Roly-Poly Bird about what he’d like for his lunch:</p>


	<p>“It’s luscious, it’s super,</p>


	<p>It’s mushious, it’s duper,</p>


	<p>It’s better than rotten old fish.</p>


	<p>You mash it and munch it,</p>


	<p>You chew it and crunch it!</p>


	<p>It’s lovely to hear it go squish!”</p>


	<p>Practise reading the extract aloud with your class and then try chanting it as a round. Afterwards, the children could research what crocodiles really do like to eat. What would a crocodile like for lunch if it came to your school?</p>


	<p>Invite the children to make their own Enormous Crocodile. Provide them with playdough, and encourage them to experiment with different designs before comparing their models with the rest of the class. They could then make their final models in salt dough, painting them with poster paint and <span class="caps">PVA</span> glue and sprinkling a little green glitter on before leaving them to dry.</p>


	<p>Alternatively, or in addition, children could create a Roly-Poly Bird by painting bright blue handprints over several sheets of paper. Head feathers could be made from one pink print and feet from two yellow ones. When dry, feathers can be cut out and glued onto sugar paper in the shape of a Roly-Poly Bird. Long strips of tissue paper could then be cut out and coloured feathers glued to the ends. Legs could be made from yellow paper as could a beak shape.</p>


	<p><strong><span class="caps">PLUS</span>&#8230;</strong> Don&#8217;t forget you can download the free <a href="http://magazines.scholastic.co.uk/resources/53566"><strong>Concertina Crocs</strong></a> and <a href="http://magazines.scholastic.co.uk/resources/53567"><strong>Roly Poly Bird</strong></a> Roald Dahl worksheets, too!</p>


	<p><a href="#top">Back to top</a></p>


	<h2 id="secondthing">2 Crockadowndilly capers</h2>


	<p>This game is a variation on the popular game of ‘Sharks’. Using a large space such as the hall or playground, place several mats or create ‘safety zones’ around the space. Tell the children they must ‘swim’ around the muddy brown African river, listening for the cry of ‘Crocodiles!’ and a number. Only this number of children may stand on each mat or in each safety zone. The rest of the children are out. After each round, remove one mat/zone at a time, until you have a winner. Those who are out of the game can take turns to call out ‘Crocodiles!’ and the numbers.</p>


	<p><a href="#top">Back to top</a></p>


	<h2 id="thirdthing">3 Fantabulous foxes</h2>


	<p>With the film of <em>Fantastic Mr Fox</em> out this October, children are bound to be excited about seeing the tale of Mr and Mrs Fox on the silver screen. Why not share the book of _Fantastic Mr Fox _ as a whole class and encourage children to find out as much as they can about foxes? They could then feed their investigations and ideas into designing and making a fox puppet or creating a moving fox picture – perhaps Mr Fox popping out of his hole!</p>


	<p>You could also tie in <em>Fantastic Mr Fox</em> with some fun D&#38;T cooking activities, such as Farmer Bean’s Baked Beans on toast – perhaps children could write instructions to teach ‘little foxes’ how to make this delicious recipe? Children could also rustle up Fantastically Foxy Pizzas using pizza bases in the shape of fox faces and different toppings for facial features. They could even design ‘foxy’ pizza boxes afterwards. And, although not quite from Bean’s Secret Cider Cellar, apple juice would be a great way to wash down these scrumdiddlyumptious snacks.</p>


	<p>For more Dahlicious recipes, check out the new edition of <em>Roald Dahl’s Completely Revolting Recipes</em> (Jonathan Cape, £9.99) due out on 3 September.</p>


	<p><a href="#top">Back to top</a></p>


	<h2 id="fourththing">4 Wildiferous beasts</h2>


<div class='additional-material'>

	<h2>Further information</h2>


	<p>You can find out more about Roald Dahl on his official website <a href="http://www.roalddahl.com">www.roalddahl.com</a> and don&#8217;t forget you can also visit The Roald Dahl Museum (see <a href="http://www.roalddahlmuseum.org">www.roalddahlmuseum.org</a>) However you choose to celebrate, we hope you have a fantabulous Roald Dahl Day!</p>


</div> 

	<p>Share ‘The Lion’ story from <em>Dirty Beasts</em> aloud with your class. Before reading, ask the class what they think lions like to eat. Hot seat a brave child as the lion and ask them to read the lion’s lines and to answer questions that the class may wish to ask the lion. 
Afterwards, invite the children to create their own lion masks using a paper plate with eye holes pre-cut into it. Show the class images of lions and ask them to look carefully at the different colours that they can see. Ask them to add different colour tissue paper to create a mane on their mask. A tongue can be made from curled pink paper. Add elastic to the mask, then invite children to perform ‘The Lion’ rhyme.</p>

