<h1>Fun science: Ourselves</h1>
<h4>17<sup>th</sup> August 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70496">Child Education PLUS September 2009</a></p>


<p class="author">By <strong>John Stringer</strong> &#8212; <em>Primary Advisor at Philip Harris</em></p>

<p class="intro">John Stringer shows you how to spark children’s interest in science with some fantastic resources</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/e5/c5/tunic2-318323.jpg" class="img_left" title="Children with organ tunic from Philip Harris" alt="Children with organ tunic from Philip Harris" /><p>Philip Harris&#8217; science resources provide the perfect hands-on learning experience</p></div>

	<p>Many teachers of young children approach science with a mixture of excitement and unease. The excitement comes from how science can engage children in a hands-on way, while the unease comes from it being difficult to know exactly how to capture children’s interest and then sustain their curiosity.  
For successful science, you need activities that are reliable, engaging and exciting, together with reliable resources. With this in mind, science educational resource provider, Philip Harris, partnered up with Holden Clough Community Primary School in Ashton-under-Lyne to showcase a selection of experiments aimed at making the primary science curriculum accessible and, most importantly, lots of fun. Below and right are three, fun activities that were tried and tested by Holden Clough Year 1 and 2 teacher, Helen Woolfenden.</p>


<div class='additional-material'>

	<p>All the science resources featured in this article can be found in the latest Philip Harris catalogue. To request a copy, please call 0845 120 4520 or visit <a href="http://www.philipharris.co.uk">www.philipharris.co.uk</a></p>


</div> 

	<h2 id="top">Activities
	<ul>
	<li><a href="#firstthing">1. What&#8217;s inside me?</a></li>
		<li><a href="#secondthing">2. In a heartbeat</a></li>
		<li><a href="#thirdthing">3. I&#8217;m feeling hot, hot, hot</a></li>
		<li><a href="#fourththing">4. How does that feel?</a></li>
	</ul></h2>


<p>


<p>


	<h2 id="firstthing">1. What&#8217;s inside me?</h2>


	<p>Young children are curious about themselves and their friends, and so the theme of ‘Ourselves’ provides a great starting point for learning in science. Most Key Stage 1 children are pretty secure in their knowledge of their main body parts – ‘I hurt my knee; my head aches!’ The question is what do they think they are like inside?
Few young children will know that their body contains a number of parts that work together. An organ tunic is therefore a great resource to use to introduce, name and explain the purpose of the main body’s internal organs.</p>


	<p><strong>Resources:</strong> Wallpaper; crayons or large felt-tipped pens and an organ tunic.</p>


	<h3>Activity case study</h3>


	<p>One member of the class was invited to stand in front of everyone and put on the organ tunic. Helen then chose individual children to remove an organ that they recognised and say its name to the rest of the class. Once all of the organs had been removed, different children were then chosen to select and name an organ and place it back on the tunic in the correct place.
Afterwards the children were put into pairs and asked to to draw around each other on the wallpaper to form the shape of their bodies. They were then told to draw in their internal organs from what they remembered from the tunic activity.</p>


	<p><strong>Helen&#8217;s verdict:</strong> ‘This was an appealing but simple way of helping the children to gain a clearer understanding of the functions of the internal organs. It was great to see them talking about and naming the different body parts, and also learning where they sit within the body.</p>


	<p>This is an important early step towards an ‘owner’s guide’ to their body. Asking children to draw round each other on wallpaper and then to draw in their internal organs is a good Key Stage 2 introductory activity, but it was also a useful way of assessing my class&#8217; learning after experience of the organ tunic.’</p>


	<p><a href="#top">Back to top</a></p>


	<h2 id="secondthing">2. In a heartbeat</h2>


	<p>When children are more active, their hearts beat faster. Simple changes in the body with exercise or deep breathing are easy to recognise. Asking children to listen to the sound of their heartbeats will help them to understand and distinguish when and why the heart beats at different paces.</p>


	<p><strong>Resources:</strong> A plastic funnel; a wide plastic tube that’s a tight fit on the funnel stem and a stethoscope.</p>


	<h3>Activity case study</h3>


	<p>The class was arranged into pairs and numbered within them (‘one’ and ‘two’). Half of the pairs were given a tube and a funnel attached together, and the other half were given stethoscopes. The children who were numbered ‘one’ were asked to listen to their partner’s heartbeat with either their tube and funnel or their stethoscope. The number ‘twos’ were then asked to take deep breaths and exhale, during which their partners listened to their heartbeats and were asked to see if they noticed a difference from when they were breathing normally. The experiment was then repeated with the children swapping their funnels for stethoscopes (or vice versa), and then children swapped roles within their pairs. Afterwards, the children were asked if they had noticed any difference in heartbeat before and after deep breathing, and also if they felt there was any difference between using a stethoscope or the tube and funnel.</p>


	<p><strong>Helen&#8217;s verdict:</strong> ‘The children really enjoyed this experiment as it encouraged them to think, listen and consider the difference that breathing differently makes on their heart rate. They realised that a stethoscope is better than a funnel and tube because the earpieces help to eliminate almost all outside sound.</p>


	<p>This helped the children to gain a greater understanding of their bodies and they begin to appreciate that the body responds to different conditions and circumstances such as how altered breathing affects the heartbeat.’</p>


	<p><a href="#top">Back to top</a></p>


	<h2 id="thirdthing">3. I&#8217;m feeling hot, hot, hot</h2>


	<p>Most young children relate a high temperature to illness but may have little understanding of what temperature is, what a normal temperature is, or the number scales we use to measure temperature. A practical, hands-on activity can help children to learn that temperature is not simply relative and that our bodies are poor at judging how warm things are.</p>


	<p><strong>Resources:</strong> Fever strip thermometers; three plastic bowls and hand-hot and cold water.</p>


	<h3>Activity case study</h3>


	<p>The class were divided into groups of four. Three bowls of water were then set out in a row for each group – hand-hot and cold in the outer two bowls, and mixed, lukewarm water in the middle. The children were then asked to take it in turns to hold one hand in each of the outer bowls for ten seconds, then put both hands in the middle bowl. They concluded that it felt cold to the ‘warm’ hand and warm to the ‘cold’ one. The children concluded that a suitable scale was needed to know how warm our bodies are, as they are not good at measuring it for themselves.</p>


	<p>Groups were then given fever strips to measure their temperatures. The children were told to place them on their foreheads and wait a few moments while the liquid crystals inside the strips rearranged themselves to ‘light up’ a window that would then record their temperature.</p>


	<p><strong>Helen&#8217;s verdict:</strong> ‘I like this experiment and how the children measured their temperature afterwards. It clearly demonstrated that we cannot rely on touch to judge temperature. It was also good for the children to learn what a ‘normal’ body temperature is and this in turn will help them recognise symptoms 
of illness.’</p>


	<p><a href="#top">Back to top</a></p>


	<h2 id="fourththing">4. How does that feel?</h2>


	<p>The first thing a baby does with something new is put it in their mouth. Our sensitive mouth is not only an organ of taste; it can also tell you a lot about shape, size and surface texture. While older children will sometimes put things in their mouths, most will be using their fingertips for this delicate task.</p>


	<p>Children will learn how to differentiate between and describe different objects.</p>


	<p><strong>Resources:</strong> A feely bag and accessories pack; texture blocks and blindfold</p>


	<h3>Activity case study</h3>


	<p>The children were set into groups of four and given feely bags full of different objects and texture blocks. In turn, each child then wore a blindfold and was told to take out an object from the group’s bag and describe it – without actually naming it. The traditional guessing game was enhanced by using specially textured blocks.</p>


	<p><strong>Helen&#8217;s verdict:</strong> ‘This is perfect for enhancing vocabulary and descriptive powers, and for primary children to gain a good understanding of the sense of touch. Describing what you are feeling to someone else, especially if you are relying on touch alone, challenges vocabulary and language skills, and this activity pushed the children to really think about what they were touching.&#8217;</p>


	<p><a href="#top">Back to top</a></p>

