<h1>Monster madness!</h1>
<h4>17<sup>th</sup> August 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70496">Child Education PLUS September 2009</a></p>




<p class="intro">Get your teeth into our monster-themed creative topic with a cross-curricular resource extravaganza</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/27/7f/monster-interactive-318422.jpg" class="img_center" title="Monster graphic" alt="Monster graphic" /><p>Image © 4khz/istockphoto.com</p></div>

	<p>If you&#8217;re looking for an exciting topic to welcome children back to school, then be sure to check out our creative topic on &#8216;Monsters&#8217;!</p>


	<ul>
	<li>Hands on, <a href="http://magazines.scholastic.co.uk/resources/53658"><strong>cross-curricular activities</strong></a> to inspire a whole unit of work.</li>
	</ul>


	<ul>
	<li><a href="http://magazines.scholastic.co.uk/resources/53738"><strong>Match those monsters!</strong></a> A fun, interactive matching pairs game to boost memory skills.</li>
	</ul>


	<ul>
	<li><a href="http://magazines.scholastic.co.uk/resources/53507"><strong>Monster worksheets</strong></a> Includes an original story starter, acrostic poems, a wordsearch and fascinating facts.</li>
	</ul>


	<ul>
	<li><a href="http://magazines.scholastic.co.uk/resources/53499"><strong>Spot the difference Monster poster</strong></a>.</li>
	</ul>


	<ul>
	<li><a href="http://magazines.scholastic.co.uk/content/8158"><strong><em>Tappity-Tap What Was That?</em></strong></a> Literacy activities inspired by Clare Freedman and Russell Julian&#8217;s wonderful book.</li>
	</ul>


	<ul>
	<li><a href="http://magazines.scholastic.co.uk/content/8159"><strong>Fun with felt: Monster makers</strong></a>.</li>
	</ul>

