<h1>Autumn topics!</h1>
<h4>24<sup>th</sup> August 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70539">Junior Education Plus September 2009</a></p>




<p class="intro">Ideas to get you fired up this term. Roald Dahl Day, <em>Planet 51</em>, football and World Animal Day &#8212; just a taste of what&#8217;s on offer</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/d3/8e/autumn-325884.jpg" title="Child holding a pine cone" alt="Child holding a pine cone" /></div>

	<p>We ran a poll on our website earlier in the year to ask you what you’d like to see to help you kick-start the new school year, and topical activities came out on top. So, with lots of festivals and events happening throughout the autumn, we thought we’d pick a variety of dates, celebrations and new releases of the best things coming up in September and October.</p>


<div class='additional-material'>

	<p>Don&#8217;t forget to check out our <a href="http://magazines.scholastic.co.uk/content/calendar">online calendar</a> for dates and celebrations that you can link to learning.</p>


</div>

<p>
<br />
<br />
<br />
<br />
<br />
<br />
<br /></p>


	<h3>Here&#8217;s what&#8217;s available online&#8230;</h3>


	<p><strong><a href="http://magazines.scholastic.co.uk/resources/54424">Autumn dates</a></strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/6a/2b/autumn-topics-324728.jpg" title="Autumn topics" alt="Autumn topics" /></p>


	<p>Follow our activities to celebrate British Food Fortnight (19 Sept&#8212;4 Oct), World Tourism Day (27 Sept) and World Animal Day (4 Oct) with your class. Look out for links to our online resources that will extend the activities, plus a snap shot of further date-themed ideas!</p>


	<p><strong><a href="http://magazines.scholastic.co.uk/resources/54430">Roald Dahl Day</a></strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/4e/2a/roald-dahl-324752.jpg" title="Roald Dahl Day activities" alt="Roald Dahl Day activities" /></p>


	<p>Roald Dahl Day occurs on 13 September this year so why not get involved by using some fantastic lesson ideas and <strong><span class="caps">FREE</span> <a href="http://magazines.scholastic.co.uk/resources/54448">wall planner!</strong></a></p>


	<p><strong><a href="http://magazines.scholastic.co.uk/resources/54452">Planet 51</a></strong></p>


	<p><img src="http://images.scholastic.co.uk/assets/a/ca/a8/planet-51-324870.jpg" title="Planet 51 activities" alt="Planet 51 activities" /></p>


	<p><em>Planet 51</em> is an exciting new alien-invasion adventure film coming to cinemas this autumn. To get ahead of the game, read our <a href="http://magazines.scholastic.co.uk/resources/54452"><strong>activities</strong></a>, download our &#8216;Through the keyhole&#8217; resource and <a href="http://magazines.scholastic.co.uk/resources/53883"><strong>poster</strong></a>, watch the <a href="http://magazines.scholastic.co.uk/resources/53605"><strong>trailer</strong></a> and read the <a href="http://magazines.scholastic.co.uk/resources/54669"><strong>script extracts</strong></a> to bring the film to life your classroom. It&#8217;s all <span class="caps">FREE</span>!</p>


	<p><strong>Football</strong></p>


	<p>Now that the football season has kicked off, use our <a href="http://magazines.scholastic.co.uk/content/8247">new series</a> to capture the excitement and passion. There are so many cross-curricular learning opportunities!</p>

