<h1>Adventure to Planet 51!</h1>
<h4>24<sup>th</sup> August 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70539">Junior Education Plus September 2009</a></p>




<p class="intro">Discover some exciting, cross-curricular classroom activities and supporting resources linked to the new film <em>Planet 51</em></p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/33/56/planet-51-resized-image-325812.jpg" title="planet-51-resized-image_1250777623.jpg" alt="planet-51-resized-image_1250777623.jpg" /></div>

	<p>Picture the scene – it’s a hot, sunny day, a family are relaxing in their garden, Dad is flipping burgers on the barbeque when, all of a sudden, the tranquillity is broken. The sky turns an ominous bluey/black and something comes careering out of the clouds. There’s a ‘THUD… <span class="caps">THUD</span>… THUD’. An unidentified visitor has landed in the family’s garden – they stare open mouthed – bemused by the vision in front of them. But, all is not what it seems&#8230;</p>


	<p><em>Planet 51</em>, a new animated film showing in cinemas from 20 November ‘09, presents a clever twist on an alien invasion story. It introduces children to a world that looks like ours – Planet 51 – but is inhabited by green-skinned beings! The family are aliens and the unidentified visitor is a human astronaut, Captain Chuck Baker, who crashes down onto Planet 51 during the family’s barbeque!</p>


	<p><em>Planet 51</em> will undoubtedly be a hit with children and adults, and there are many learning links that can be made to bring it to life in the classroom. We’ve produced a range of resources to help you explore this fantastic film in your classroom, supporting learning in literacy, <span class="caps">PSHE</span> and citizenship, including a <a href="http://magazines.scholastic.co.uk/resources/53883"><strong>poster</strong></a>, <a href="http://magazines.scholastic.co.uk/resources/54669"><strong>photocopiables</strong></a>, <a href="http://magazines.scholastic.co.uk/resources/55898"><strong>interactive resource</strong></a>, <a href="http://magazines.scholastic.co.uk/resources/53605"><strong>trailer</strong></a> and <a href="http://magazines.scholastic.co.uk/resources/54452"><strong>activities</strong></a>.</p>

