<h1>Rhythm and rhyme: Time to rhyme</h1>
<h4>7<sup>th</sup> September 2009</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/70520">Nursery Education PLUS October 2009</a></p>


<p class="author">By <strong>Jean Evans</strong> &#8212; <em>early years consultant and author.</em></p>

<p class="intro">Introduce the children to simple phonics and phonemes with these fun rhyming activities</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/a/b0/3c/cat-n-hat-328853.jpg" title="Time to rhyme" alt="Time to rhyme" /></div>

	<h2>1 Rhyming pairs</h2>


	<h3>Discover rhyme through simple matching games</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Linking Sounds and Letters</strong></em></p>


	<p><strong>Development matters:</strong> enjoy rhyming and rhythmic activities (30-50 months); hear and say the initial sound in words and know which letters represent some of the sounds (40-60+ months).</p>


	<p><strong>Early learning goal:</strong> link sounds to letters, naming and sounding the letters of the alphabet.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p>Pairs of rhyming objects, for example, shell and bell, toy house and mouse; tray; ‘Rhyming pairs’ photocopiable sheet.</p>


	<h3>What to do</h3>


	<p>Fill a tray with pairs of rhyming objects, such as a shell and a bell. Hold up two objects at random. Ask the children to say the names of the objects aloud. Do they sound the same or do they sound different? Discuss the meaning of rhyme with the children.</p>


	<p>Invite a child to choose an object and find one that rhymes with it. Then, give each child a copy of the photocopiable sheet and ask them to find pairs of rhyming words.</p>


	<h3>Support</h3>


	<p>Name pairs of rhyming objects with the children to raise their awareness of rhyming sounds.</p>


	<h3>Extension</h3>


	<p>Play ‘I spy’ with the items on the tray to encourage the children to focus on initial letter sounds.</p>


	<h3>Birth to 36 months</h3>


	<p>As the children play with the rhyming objects, introduce the names of the objects to them.</p>


	<h3>Observation and assessment</h3>


	<p><strong>Look, listen and note</strong></p>


	<p>Observe and note whether the children match objects that rhyme. Can they hear the difference between words that rhyme and words that do not? Are they able to identify some letters in the words and in their names?</p>


	<p><strong>Next steps</strong></p>


	<p>Encourage the children to link sounds and letters. Develop their growing awareness by encouraging them to write their names and simple Consonant, Vowel, Consonant (CVC) words. Ask questions referring to the position of the letters in the word, using the terms ‘beginning’, ‘middle’ and ‘end’.</p>


	<h2>2 Ning Nang Nong</h2>


	<h3>Enjoy sounds, rhymes and alliteration in nonsense verse</h3>


	<p><strong><em>Communication, Language and Literacy</strong></em></p>


	<p><strong><em>Linking Sounds and Letters</strong></em></p>


	<p><strong>Development matters:</strong> listen to and enjoy rhythmic patterns in rhymes and stories (16-26 months); recognise rhythm in spoken words (30-50 months).</p>


	<p><strong>Early learning goal:</strong> hear and say sounds in words in the order in which they occur.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> small groups.</p>


	<p><em>On the Ning Nang Nong</em> by Spike Milligan – visit <a href="http://www.koikadit.net/SMilligan/ningnangnong.html;">Koikadit</a> plain paper; paints; paintbrushes.</p>


	<h3>What to do</h3>


	<p>Read <em>On the Ning Nang Nong</em> to the children, emphasising repeated nonsense words such as ‘Jibber Jabber Joo’. Invite the children to say them with you.</p>


	<p>Ask the children to imagine a visit to the ‘Ning Nang Nong’. What noises do they think they might hear? What do they think they might see?</p>


	<p>As you read the rhyme again, encourage the children to say the sound that the animals and objects make. For example, if you say, ‘Where the Cows go&#8230;’, then the children say ‘Bong!’ and so on.</p>


	<p>Invite the children to paint pictures of life on the Ning Nang Nong.</p>


	<h3>Support</h3>


	<p>Suggest that the children pretend to be creatures in the poem, repeating the noises that they make, for example, ‘Bong! Bong! Bong!’, ‘Clang! Clang! Clang!’ and so on.</p>


	<h3>Extension</h3>


	<p>Encourage the children to make up new lines to the poem, for example, ‘Where the babies go wobble wabble woo’.</p>


	<h3>Birth to 36 months</h3>


	<p>Bounce the children up and down rhythmically as you say the poem to them.</p>


	<h3>Observation and assessment</h3>


	<p><strong>Look, listen and note</strong></p>


	<p>Observe the children’s responses as you say the poem. Do they enjoy the nonsense element? Note whether they join in spontaneously with repeated sounds, or whether they need encouraging.</p>


	<p><strong>Next steps</strong></p>


	<p>Develop initial letter sound awareness through alliteration, for example, moving from ‘Jibber Jabber Joo’ to new strings created by changing the initial letter, such as ‘Zibber Zabber Zoo’. Take the children’s names as the starting-point for a rhyming string, for example, ‘Daisy, Maisy, hazy, lazy’.</p>


	<h2>3 Sounds in the round</h2>


	<h3>Have fun with strings of sounds</h3>


	<p><strong><em>Personal, Social and Emotional Development</strong></em></p>


	<p><strong><em>Making Relationships</strong></em></p>


	<p><strong>Development matters:</strong> learn social skills, and enjoy being with and talking to adults and other children (22-36 months); feel safe and secure, and show a sense of trust (30-50 months).</p>


	<p><strong>Early learning goal:</strong> work as part of a group or class, taking turns and sharing fairly, understanding that there needs to be agreed values and codes of behaviour for groups of people, including adults and children, to work together harmoniously.</p>


	<h3>What you need</h3>


	<p><strong>Group size:</strong> up to six children.</p>


	<p><em>On the Ning Nang Nong</em> by Spike Milligan – visit <a href="http://www.koikadit.net/SMilligan/ningnangnong.html">Koikadit</a></p>


	<h3>What to do</h3>


	<p>At circle time, read On the Ning Nang Nong to the children. Explain that you would like a word from the poem to travel around the circle.</p>


	<p>Say the line ‘Where the Cows go Bong!’ and invite each child to say ‘Bong!’ in turn until you give a signal to stop.</p>


	<p>Do the same with other lines in the poem such as ‘All the mice go Clang!’ and ‘Trees go Ping!’.</p>


<div class='additional-material'>

	<h3>At home with childminders and parents</h3>


	<ul>
	<li>Make rhyming word games with pictures cut from catalogues and magazines, for example, ‘boat’ and ‘coat’. Mount them on to card and take turns to find a match.</li>
	</ul>


	<ul>
	<li>Borrow a selection of nonsense poems from a library. Choose poems to read together, exaggerating rhyme and nonsense words.</li>
	</ul>


	<ul>
	<li>Collect small boxes and glue a plastic letter to the front of each one. Find objects starting with the letters to put in each box.</li>
	</ul>


	<ul>
	<li>Say the last line from a child’s favourite nursery rhyme and repeat the final word around the circle.</li>
	</ul>


</div>

	<h3>Support</h3>


	<p>Say each child’s name around the circle and encourage everyone to join in.</p>


	<h3>Extension</h3>


	<p>Encourage the children to make up alliterative jingles, beginning and ending with a child’s name, for example, ‘Thomas, T, T, T, Thomas’.</p>


	<h3>Birth to 36 months</h3>


	<p>Let the children work together in pairs with familiar adults.</p>


	<h3>Observation and assessment</h3>


	<p><strong>Look, listen and note</strong></p>


	<p>Observe how the children respond in a group situation, noticing whether they wait for their turn to say the word. How aware are they of children at either side of them? Do they sit quietly when necessary and listen attentively to instructions from adults?</p>


	<p><strong>Next steps</strong></p>


	<p>Encourage the children to play group games without adult support. Play a board game with a small group and, once they are familiar with the basic rules, leave them to play on their own. Ensure that resources 
are easily accessible for them to play the game again.</p>

