<h1>32 of the best websites</h1>
<h4>4<sup>th</sup> October 2007</h4>


	<p class="meta">Published in <a href="http://magazines.scholastic.co.uk/mag_issues/21825">Child Education PLUS November 2007</a></p>


<p class="author">By <b>Charlotte Ronalds</b> &#8212; Deputy Editor, <em>Child EDucation <span class="caps">PLUS</span></em></p>

<p class="intro">We at <em>ChildEd <span class="caps">PLUS</span></em> have been busy scouring the internet for the best websites to use in the <span class="caps">KS1</span> classroom. Here are the results&#8230;</p>

<!-- This is the @content.body with the pullquotes, featureboxes, image and caption added in -->
<div class='article-img'><img src="http://images.scholastic.co.uk/assets/cms/853-32-of-the-best-websites.jpg" class="img_left img_stroke " title="32 of the best websites" alt="32 of the best websites" /></div>

	<ul>
	<li>The <span class="caps">BBC</span>’s Famous People site definitely deserves a mention. Designed exclusively for <span class="caps">KS1</span> children, the site has information and games on everyone from Isambard Kingdom Brunel to Mary Seacole.</li>
	</ul>


	<p><a href="http://www.bbc.co.uk/schools/famouspeople">Click here to visit the site</a></p>


	<ul>
	<li>Feel like hearing a poem with your class? Then log onto the Poetry Archive and listen to your heart’s content. Don’t forget to check out their Children’s Poetry Archive, too.</li>
	</ul>


	<p><a href="http://www.poetryarchive.org/poetryarchive/home.do">Click here to visit the site</a></p>


	<ul>
	<li>We can’t always make it to art exhibitions – especially with 30 children in tow. So let the gallery come to you with the Tate’s staggering online collection of 65,000 works of art.</li>
	</ul>


	<p><a href="http://www.tate.org.uk">Click here to visit the site</a></p>


	<ul>
	<li>Although some of its content isn’t always 100 per cent accurate, Wikipedia: The Free Encyclopaedia  is a true godsend for answering all those questions children just have to ask!</li>
	</ul>


	<p><a href="http://en.wikipedia.org/wiki/Main_Page">Click here to visit the site</a></p>


	<ul>
	<li>YouTube, the self-broadcasting site has a clip of almost everything you could ever want. From famous speeches to science demonstrations, you’re guaranteed that someone out there has posted what you’re after.</li>
	</ul>


	<p><a href="http://www.youtube.com">Click here to visit the site</a></p>


	<ul>
	<li>Film Education is constantly uploading free interactive and downloadable resources to respond to the growing importance of film in the National Curriculum. Check out their latest ones for primary schools</li>
	</ul>


	<p><a href="http://www.filmeducation.org/resources.html">Click here to visit the site</a></p>


	<ul>
	<li>Save the energy you spend on designing wordsearches by getting Puzzlemaker  to do the hard work for you. Just type in what words you want, how big you would like the grid – and voila!</li>
	</ul>


	<p><a href="http://puzzlemaker.school.discovery.com">Click here to visit the site</a></p>


	<ul>
	<li>It may not look that inviting, but the Government’s Teachernet site  is a useful one to know. It has teaching and learning resources, career advice, an education overview and the latest research.</li>
	</ul>


	<p><a href="http://www.teachernet.gov.uk">Click here to visit the site</a></p>


	<ul>
	<li>Delve into the hidden world of the late, great Roald Dahl. Read early drafts of his work and take a 360° tour of his famous writing hut.</li>
	</ul>


	<p><a href="http://www.roalddahlmuseum.org/discoverdahl/index.aspx">Click here to visit this site</a></p>


	<ul>
	<li>Feel like doing something a bit different with your teaching? Then look at taking your skills abroad by visiting the Teachers International Consultancy website. Just don’t show the Head!</li>
	</ul>


	<p><a href="http://www.ticrecruitment.com">Click here to visit this site</a></p>


	<ul>
	<li>Got your final allocation of eLCs but still not sure what to spend them on? Then search the online catalogue of digital learning resources available at Curriculum Online.</li>
	</ul>


	<p><a href="http://www.curriculumonline.gov.uk/Default.htm">Click here to visit this site</a></p>


	<ul>
	<li>It’s hard not to be slightly overwhelmed at the amount on offer, when you first visit Show Me. But don’t be put off, as it’s bursting with free games and activities from UK museums and galleries.</li>
	</ul>


	<p><a href="http://www.show.me.uk">Click here to visit this site</a></p>


	<ul>
	<li><span class="caps">NASA</span> has some fantastic images on its website, which teachers are allowed to download for educational purposes. Displaying the ‘mystery blobs’ on your <span class="caps">IWB</span> will really get the children’s attention!</li>
	</ul>


	<p><a href="http://www.nasa.gov">Click here to visit this site</a></p>


<blockquote>

	<p>Google Earth is, quite frankly, just plain brilliant</p>


</blockquote>

	<ul>
	<li>It’s universally acknowledged that young boys are fascinated by dinosaurs. Luckily, the Natural History Museum’s Dino Directory has more than enough to satisfy budding palaeontologists.</li>
	</ul>


	<p><a href="http://internt.nhm.ac.uk/jdsml/nature-online/dino-directory">Click here to visit the site</a></p>


	<ul>
	<li>The British Library has a comprehensive collection of animal sounds in its archive, which you can explore by animal group, location or habitat. A great way for children to listen to exotic animals.</li>
	</ul>


	<p><a href="http://www.bl.uk/listentonature">Click here to visit the site</a></p>


	<ul>
	<li>The Booktrust is a charity aimed at encouraging people to discover the joys of reading. They have a special sub-site dedicated to children’s books which is well worth a regular visit.</li>
	</ul>


	<p><a href="http://www.booktrusted.com">Click here to visit the site</a></p>


	<ul>
	<li>The Internet Picture Dictionary is great for showing children pictures of nouns. And don’t limit yourself to the English language – French, German, Spanish and Italian are also on there.</li>
	</ul>


	<p><a href="http://www.pdictionary.com">Click here to visit the site</a></p>


	<ul>
	<li>Google Earth is, quite frankly, just plain brilliant. Download it to your desktop and have fun zooming in on anywhere in the world – from the Pyramids of Giza to your own school!</li>
	</ul>


	<p><a href="http://earth.google.com">Click here to visit the site</a></p>


	<ul>
	<li>The Victoria and Albert’s Museum of Childhood has a great selection of videos of moving toys. Bring it up on your <span class="caps">IWB</span>, click on a video, and away you go!</li>
	</ul>


	<p><a href="http://www.vam.ac.uk/vastatic/microsites/1482_moving_toys/toys_bband.htm">Click here to visit the site</a></p>


	<ul>
	<li>The British Museum has a number of photographic tours on its website – from Buried Treasure to Stories from Bengal. But the real showstopper is the Animal Mummies section!</li>
	</ul>


	<p><a href="http://www.thebritishmuseum.ac.uk/explore/families_and_children/online_tours.aspx">Click here to visit the site</a></p>


	<ul>
	<li>Suitable for older <span class="caps">KS1</span> children, Ordnance Survey has developed a website to help you teach map-reading skills in a fun way. Click on the ‘Info’ and ‘Tools’ tabs to get started.</li>
	</ul>


	<p><a href="http://mapzone.ordnancesurvey.co.uk/mapzone/index.html">Click here to visit the site</a></p>


	<ul>
	<li>If your musical instrument cupboard is a little bare, then don’t worry. Allow children to hear the sounds of the instruments in a symphony orchestra by visiting the Families of the Orchestra site.</li>
	</ul>


	<p><a href="http://www.dsokids.com/2001/instrumentchart.htm">Click here to visit the site</a></p>


	<ul>
	<li>Introduce younger children to Bertie the Frog and his archive of 122 free audio stories, which can be downloaded or listened to on the site. Perfect for ending the school day.</li>
	</ul>


	<p><a href="http://storynory.com/archives">Click here to visit the site</a></p>


	<ul>
	<li>Film Education is constantly uploading free interactive and downloadable resources to respond to the growing importance of film in the National Curriculum. Check out their latest offerings for primary schools.</li>
	</ul>


	<p><a href="http://www.filmeducation.org/resources.html">Click here to visit this site</a>.</p>


	<ul>
	<li>With the Renewed Primary Frameworks for literacy and mathematics now in full swing, you’ll be hard pushed to get by without paying an occasional (or everyday!) visit to the Standards Site.</li>
	</ul>


	<p><a href="http://www.standards.dfes.gov.uk/primaryframeworks">Click here to visit the site</a></p>


	<ul>
	<li>Let Frances the Firefly take children on a tour of the Fire Kills website. Using interactive stories and games, children will discover the dangers of getting their wings burned.</li>
	</ul>


	<p><a href="http://www.firekills.gov.uk/juniors/index.htm">Click here to visit the site</a></p>


	<ul>
	<li>If you’re trying to teach your class how to tell the time, then pay a visit to Chris’ Virtual Clock Collection. There’s a fantastic collection of time devices, worksheets and lesson plans.</li>
	</ul>


	<p><a href="http://www.csmith.info/clocks/teachingtime/index.htm">Click here to visit the site</a></p>


	<ul>
	<li>Does your class love watching films? Then let them read the scripts, too, by paying a visit to Simply Scripts. The website has downloadable screenplays, from classic movies to current flicks.</li>
	</ul>


	<p><a href="http://www.simplyscripts.com/movie.html">Click here to visit the site</a></p>


	<ul>
	<li>PowerPoint is a nifty piece of software to use in the classroom, but don’t worry if you can’t use it. Just simply log on to Microsoft’s <em>PowerPoint</em> tutorial and learn!</li>
	</ul>


	<p><a href="http://www.bcschools.net/staff/PowerPointHelp.htm">Click here to visit the site</a></p>


	<ul>
	<li>Welltown is a smashing little site for children to learn about a range of health and safety topics. With links to <span class="caps">PSHE</span> and citizenship, children can explore the town.</li>
	</ul>


	<p><a href="http://www.welltown.gov.uk">Click here to visit the site</a></p>


	<ul>
	<li>Ever wished you could have a couple of ready-made lessons? Then relax! The Hamilton Trust has 7,500 resources, so there’s sure to be something on there for you.</li>
	</ul>


	<p><a href="http://www.hamilton-trust.org.uk/index.asp?id=1">Click here to visit the site</a></p>


	<ul>
	<li>Last, but by no means least, it’s <em>Child Education <span class="caps">PLUS</span></em>. Well, it’d be just plain rude not to mention us, wouldn’t it?
<strong>www.scholastic.co.uk/childedplus</strong></li>
	</ul>

